<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content style="position: relative;">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <course-list [list]="productList" (done)="goCourse($event)"></course-list>

    <ion-list text-center style="margin-top: 10rem;text-align: center;text-align: center;"  *ngIf="productList.length == 0 && page.isLoading">
        <img style="width: 19.3rem;" src="./assets/imgs/no-data.png" alt="无数据">
        <p text-center style="color: #9D9D9E;font-size: 14px">
            暂无课程
        </p>
    </ion-list>

    <ion-infinite-scroll *ngIf="this.page.TotalCount > this.productList.length" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <p class="list-footer-page"
       *ngIf="page.isLoading && this.page.TotalCount == this.productList.length && this.page.TotalCount > 5">
        没有更多了~~~</p>
</ion-content>
