page-simulation-test {
  .scroll-content {
    background-color: #fff;
  }
  .simulation-test{
    .test-time{
      .outline{
        .plus-icon {
          position: absolute;
          top: 7px;
          font-size: 15px;
          font-weight: bolder;
          border: 1px solid #979797;
          width: 20px;
          height: 20px;
          line-height: 15px;
          text-align: center;
          border-radius: 100%;
          left: 12px;
        }
        .reduce-icon{
          position: absolute;
          top: 7px;
          font-size: 16px;
          font-weight: bolder;
          border: 1px solid #979797;
          width: 20px;
          height: 20px;
          line-height: 16px;
          text-align: center;
          border-radius: 100%;
          right: 12px;
        }
      }
    }
  }
  .title {
    padding: 7px 10px;
    margin: 10px 0;
    font-weight: 400;
    color: #777;
  }
  .scorestips{
    background: #F8F8F8;
  }
  .test-item, .test-time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > div {
      flex: 1;
      text-align: center;
    }

    input {
      width: 90px;
      height: 30px;
      line-height: 28px;
      background-color: #efefef;
      border: none;
      border-radius: 100px;
      margin: 2px 8px;
      padding: 5px 10px;
      text-align: center;
    }
  }

  .test-item {
    .outline {
      ion-icon {
        top: 8px;
      }

      .add-icon {
        left: 15px;
      }

      .remove-icon {
        right: 15px;
      }
    }
  }

  .outline {
    position: relative;
    margin: 0 10px;
    display: inline-block;
    line-height: 30px;

    ion-icon {
      position: absolute;
      top: 8px;
      font-size: 20px;
      font-weight: bolder;
    }

    .add-icon {
      left: 12px;
    }

    .remove-icon {
      right: 12px;
    }
  }

  .test-time {
    margin: 10px;
    display: flex;
    justify-content: start;
  }

  .test-type {
    > p {
      font-weight: 500;
      margin: 10px;
    }
  }

  .test-brand {
    margin: 10px;
  }

  .submit-btn {
    text-align: center;
    width: 50%;
    margin: 9px auto;
    height: 35px;
    line-height: 32px;
    background: linear-gradient(216deg, rgba(255, 247, 203, 1) 0%, rgba(255, 201, 45, 1) 100%);
    background: #393967;
    color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(255, 206, 61, 0.26);
    border-radius: 16px;
  }

  .brand-item {
    background: linear-gradient(216deg, #fff7cb 0%, #ffc92d 100%);
    border: 1px solid #999;
    border-radius: 100px;
    padding: 2px 10px;
    margin: 5px 10px 5px 0;
    display: inline-block;
  }

  .brandList {
    margin-top: 10px;
  }

  .addHandle {
    border-radius: 100px;
    width: 60px;
    display: inline-block;
    text-align: center;
    height: 25px;
    line-height: 20px;
    background: #F1F1F1;
    color: #474747;
    font-weight: 600;
    font-size: 1.8rem;
  }
}
