<ion-header>
  <ion-navbar>
    <ion-title>帖子</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- /api/forum/topicplate/list  -->
  <div class="cons">
    <h3>新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行</h3>
    <div class="post-introduction-top">
      <img src="./assets/imgs/forum/other/p771_avatar1@3x.jpg" alt="">
      <div class="name">秋国艳</div>
      <div class="oldDate">1小时</div>
    </div>
    <div class="inner-html">
      <p>8月8日，在北京举行的J.D. Power
        2019中国新车质量研究新闻发布暨汽车质量类研究颁奖典礼上，宝骏730在众多车型品牌中脱颖而出，以优异的成绩获得紧凑型MPV细分市场第一名，公司质量部总监郑红武出席发布会并代表公司领奖。</p>
      <img src="./assets/imgs/consultation/InformationDetails@3x.jpg" alt="">
      <p>新车质量研究是权威市场研究和数据分析机构J.D.
        Power在全球和中国的旗舰行业联合研究之一，调研数据来自于消费者的真实反馈，具有极高权威性。该研究考察了拥车期为2至6个月的新车车主遇到的质量问题，新车质量得分以平均每百辆车问题数（PP100）表达，新车质量得分越低，表明问题数越少，质量也越好。
        今年的研究报告显示，在紧凑型MPV细分市场中，宝骏730获得第一名，宝骏360获得第二名；在中型MPV细分市场中，五菱宏光S3获得第二名，充分印证了产品质量的可靠性。本次研究基于2018年5月至2019年3月之间购车的33468位车主的真实反馈，研究覆盖67个品牌的266款车型。公司多款车型获奖，既是公司对质量文化重视的体现，也是对公司先进制造体系和过硬品质管控体系的肯定。
      </p>
    </div>
    <div class="type-label">
      产品体验
    </div>
  </div>
  <div class="discuss-list">
    <p class="number-all">评论（134）</p>
    <div class="reply">
      <div class="reply-top">
        <img class="heard-img" src="./assets/imgs/forum/other/p771_avatar2@3x.jpg" alt="">
        <div class="text">
          <h4>在水中</h4>
          <p>2018-01-22 06:30</p>
        </div>
        <div class="comment">
          <span>
            <img class="comment_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            <span class="text-span">
              134
            </span>
          </span>
          <span>
            <img class="comment_cai" src="./assets/imgs/forum/other/p771_comment_cai@3x.png" alt="">
          </span>
        </div>
      </div>
      <div class="reply-text">
        顾问的服务态度，办事效率极佳，同时从专业的角度给我解答了商标的注册及使用。在出现材料问题也及时提出并给出应对的方法。
      </div>
      <div class="reply-more" (click)="showViewReply()">
        <span>
          12条回复
        </span>
        <img src="./assets/imgs/forum/other/p771_arrow@3x.png" alt="">
      </div>
    </div>
    <div class="reply">
      <div class="reply-top">
        <img class="heard-img" src="./assets/imgs/forum/other/p771_avatar2@3x.jpg" alt="">
        <div class="text">
          <h4>在水中</h4>
          <p>2018-01-22 06:30</p>
        </div>
        <div class="comment">
          <span>
            <img class="comment_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            <span class="text-span">
              134
            </span>
          </span>
          <span>
            <img class="comment_cai" src="./assets/imgs/forum/other/p771_comment_cai@3x.png" alt="">
          </span>
        </div>
      </div>
      <div class="reply-text">
        顾问的服务态度，办事效率极佳，同时从专业的角度给我解答了商标的注册及使用。在出现材料问题也及时提出并给出应对的方法。
      </div>
      <div class="reply-more">
        <span>
          12条回复
        </span>
        <img src="./assets/imgs/forum/other/p771_arrow@3x.png" alt="">
      </div>
    </div>
    <div class="reply">
      <div class="reply-top">
        <img class="heard-img" src="./assets/imgs/forum/other/p771_avatar2@3x.jpg" alt="">
        <div class="text">
          <h4>在水中</h4>
          <p>2018-01-22 06:30</p>
        </div>
        <div class="comment">
          <span>
            <img class="comment_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            <span class="text-span">
              134
            </span>
          </span>
          <span>
            <img class="comment_cai" src="./assets/imgs/forum/other/p771_comment_cai@3x.png" alt="">
          </span>
        </div>
      </div>
      <div class="reply-text">
        顾问的服务态度，办事效率极佳，同时从专业的角度给我解答了商标的注册及使用。在出现材料问题也及时提出并给出应对的方法。
      </div>
      <div class="reply-more">
        <span>
          12条回复
        </span>
        <img src="./assets/imgs/forum/other/p771_arrow@3x.png" alt="">
      </div>
    </div>
    <div class="reply">
      <div class="reply-top">
        <img class="heard-img" src="./assets/imgs/forum/other/p771_avatar2@3x.jpg" alt="">
        <div class="text">
          <h4>在水中</h4>
          <p>2018-01-22 06:30</p>
        </div>
        <div class="comment">
          <span>
            <img class="comment_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            <span class="text-span">
              134
            </span>
          </span>
          <span>
            <img class="comment_cai" src="./assets/imgs/forum/other/p771_comment_cai@3x.png" alt="">
          </span>
        </div>
      </div>
      <div class="reply-text">
        顾问的服务态度，办事效率极佳，同时从专业的角度给我解答了商标的注册及使用。在出现材料问题也及时提出并给出应对的方法。
      </div>
      <div class="reply-more">
        <span>
          12条回复
        </span>
        <img src="./assets/imgs/forum/other/p771_arrow@3x.png" alt="">
      </div>
    </div>
  </div>
  
  <!-- <textarea name="" id="" cols="30" rows="10" [(ngModel)]="inputText"></textarea> -->
  <div class="input-bttom">
    <div class="input-div" >
        <textarea placeholder='输入你的评论'  (click)="textareaclick();$event.stopPropagation();" class="input-div" rows="1" [(ngModel)]="inputText"></textarea>
    </div>
    <div class="icon-div">
      <div class="reply-more">
        <img src="./assets/imgs/forum/other/p771_guanzhu@3x.png" alt="">
        <span>
          256
        </span>
      </div>
      <div class="reply-more">
        <img src="./assets/imgs/forum/other/p771_comment_like_on@3x.png" alt="">
        <span>
          256
        </span>
      </div>
      <div class="reply-more">
        <img src="./assets/imgs/forum/other/p771_collect@3x.png" alt="">
        <span>
          256
        </span>
      </div>
    </div>
  </div>
</ion-content>
<div class="inputshow" [ngClass]="{'textareaBlur': textareaBlur}" (click)="inputshow_on();">
  <div class="input-div" (click)="$event.stopPropagation();">
    <textarea id="textareainp"  placeholder='输入你的评论...'  (click)="textareaclick();$event.stopPropagation();" rows="3" [(ngModel)]="inputText"></textarea>
  </div>
  <div class="btn" (click)="$event.stopPropagation();">
    发送
  </div>
  </div>