<ion-header>
  <ion-navbar>
    <ion-title>{{lidata.Name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- /api/forum/topicplate/list  -->
  <div class="cons">
    <h3>{{dataCon.Title}}</h3>
    <div class="post-introduction-top">
      <img src="./assets/imgs/forum/other/p771_avatar1@3x.jpg" alt="">
      <div class="name nowrap-1">{{dataCon.Poster}}</div>
      <div class="oldDate">{{dataCon.PostRelativeTime}}</div>
    </div>
    <div class="inner-html" [innerHTML]='dataCon.Content'>
        
    </div>
    <div class="type-label">
      {{dataCon.TopicPlateName}}
    </div>
  </div>
  <div class="discuss-list">
    <p class="number-all">评论（{{dataCon.ReplyCount}}）</p>
    <div class="reply" *ngFor="let item of dataCon.Replys">
      <div class="reply-top">
        <img class="heard-img" src="{{item.PosterHeadPhoto}}" alt="">
        <div class="text">
          <h4>{{item.PosterUserName}}</h4>
          <p>{{item._ReplyTimeFormatted|date : 'yyyy-MM-dd hh:mm'}}</p>
        </div>
        <div class="comment">
          <!-- <span>
            <img class="comment_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            <span class="text-span">
              134
            </span>
          </span>
          <span>
            <img class="comment_cai" src="./assets/imgs/forum/other/p771_comment_cai@3x.png" alt="">
          </span> -->
        </div>
      </div>
      <div class="reply-text" (click)="showViewReply(item)">
        {{item.Content}}
      </div>
      <div class="reply-more" (click)="showViewReply(item)">
        <span>
          {{item.CommentCount}}条回复
        </span>
        <img src="./assets/imgs/forum/other/p771_arrow@3x.png" alt="">
      </div>
    </div>
    <!-- <div class="reply">
      <div class="reply-top">
        <img class="heard-img" src="./assets/imgs/forum/other/p771_avatar2@3x.jpg" alt="">
        <div class="text">
          <h4>在水中</h4>
          <p>2018-01-22 06:30</p>
        </div>
        <div class="comment">
          <span>
            <img class="comment_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            <span class="text-span">
              134
            </span>
          </span>
          <span>
            <img class="comment_cai" src="./assets/imgs/forum/other/p771_comment_cai@3x.png" alt="">
          </span>
        </div>
      </div>
      <div class="reply-text">
        顾问的服务态度，办事效率极佳，同时从专业的角度给我解答了商标的注册及使用。在出现材料问题也及时提出并给出应对的方法。
      </div>
      <div class="reply-more">
        <span>
          12条回复
        </span>
        <img src="./assets/imgs/forum/other/p771_arrow@3x.png" alt="">
      </div>
    </div> -->
  </div>
  
  <!-- <textarea name="" id="" cols="30" rows="10" [(ngModel)]="inputText"></textarea> -->

</ion-content>

<ion-footer>
    <!-- <ion-toolbar>
      <ion-title> 这是底部</ion-title>
    </ion-toolbar> -->
    <div class="input-bttom">
        <div class="input-div" >
            <textarea placeholder='输入你的评论'  (click)="textareaclick();$event.stopPropagation();" class="input-div" rows="1" [(ngModel)]="inputText"></textarea>
        </div>
        <div class="icon-div">
          <div class="reply-more">
            <img *ngIf="!dataCon.is_collect" src="./assets/imgs/forum/other/p771_guanzhu@3x.png"  (click)=" favorites(dataCon);" alt="">
            <img *ngIf="dataCon.is_collect" src="./assets/imgs/forum/other/p771_guanzhu_on@3x.png" (click)=" cancelfavorites(dataCon);"  alt="">
            <span>
              {{dataCon.FavoritesCount}}
            </span>
          </div>
          <div class="reply-more">
            <img *ngIf="dataCon.is_like" src="./assets/imgs/forum/other/p771_comment_like_on@3x.png"  (click)="forum_post_cancellike(dataCon);" alt="">
            <img *ngIf="!dataCon.is_like" src="./assets/imgs/forum/other/p771_comment_like@3x.png" (click)="forum_post_like(dataCon);" alt="">
            <span>
                {{dataCon.LikeCount}}
            </span>
          </div>
          <div class="reply-more">
            <img *ngIf="!dataCon.is_guanzhu" src="./assets/imgs/forum/other/p771_collect@3x.png" (click)="follow(dataCon);"  alt="">
            <img *ngIf="dataCon.is_guanzhu" src="./assets/imgs/forum/other/p771_collect_on@3x.png"  (click)="cancelfollow(dataCon);" alt="">
            <span>
                {{dataCon.FollowCount}}
            </span>
          </div>
        </div>
      </div>
  </ion-footer>

<div class="inputshow" [ngClass]="{'textareaBlur': textareaBlur}" (click)="inputshow_on();">
  <div class="input-div" (click)="textareaclick();$event.stopPropagation();">
    <textarea id="textareainp"  placeholder='输入你的评论...'  (click)="textareaclick();$event.stopPropagation();" rows="3" [(ngModel)]="inputText"></textarea>
  </div>
  <div class="btn" (click)="$event.stopPropagation();reply_add()">
    发送
  </div>
  </div>