<ion-header>
    <ion-navbar>
        <ion-title>猜你想问</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
  <div class="bg-box" *ngIf="page.askItem">
		<!--<div class="detail-title">{{ page.askItem.Title }}</div>-->
		<div class="author">
			<img class="avatar" src="{{ page.askItem.headPhoto || userDefaultImg }}" alt="头像"/>
			<span class="name">{{ page.askItem.UserName }}</span>
			<span class="total-num">其他{{ page.askItem.FocusNum }}人也想知道</span>
		</div>
		<div class="desc">{{ page.askItem.QuestionDesc }}</div>
		
		<div class="ask-pics-box" *ngIf="page.askItem.ImageList.length > 0">
			<div class="title">问题截图</div>
			<!-- ImageList -->
			<div *ngFor="let imgItem of page.askItem.ImageList; let imgIndex = index">
				<span (click)="$event.stopPropagation();openImg(0, imgIndex)" class="pics-text">查看图片</span>
			</div>
			
			<!-- <a class="pics-text">查看图片</a> -->
		</div>
		
		<div class="reply-box" *ngIf="page.askItem.QuestionReplyItems">
			<div class="reply-title">
				<img class="avatar" src="./assets/imgs/home/gf@2x.png" alt="头像"/>
				官方回复
			</div>
			<div class="desc">{{ page.askItem.QuestionReplyItems.ReplyContent }}</div>
			<div *ngIf="page.askItem.QuestionReplyItems.ImgAddress.length > 0">
				<div class="reply-title">回复截图</div>
				<div *ngFor="let replyImgItem of page.askItem.QuestionReplyItems.ImgAddress; let replyImgIndex = index">
					<span (click)="$event.stopPropagation();openImg(1, replyImgIndex)" class="pics-text">查看图片</span>
				</div>
			</div>
		
		</div>
		
		
	</div>
</ion-content>
<div  style="  z-index: 99;
width: 100%;
height: 100%;
top: 0;
position: fixed;      background: #000;  overflow: auto; " *ngIf="showImg"  >
  <div #panel class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let image of vm.images">
        <div class="swiper-zoom-container">
          <img data-src="{{image}}" class="swiper-lazy">
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div style="    position: fixed;
  bottom: 0;
  z-index: 99;
  padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    background: linear-gradient(-180deg, rgba(0,0,0,0), rgba(0,0,0,0.6));
  ">
  <span (click)="photoLibraryDown()">
    <img src="./assets/imgs/forum/other/download.png" style="width: 30px;">
</span>
  </div>
</div>
<!--<img-preview (close)="preImgSrc = ''" [src]="preImgSrc"></img-preview>-->