<!--
  Generated template for the ListsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>销售大赛</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>

    <!--<div class="podium-pg">-->
    <!--<div class="more-btn" (click)="goTotalRanking(888)">-->
    <!--更多<img style="margin-left: 0.6rem;width: 0.6rem;height: 1.1rem;" src="assets/imgs/competition/arrow@2x.png" alt="更多">-->
    <!--</div>-->
    <!--<div class="phb_2">-->
    <!--<div class="name-div">-->
    <!--<img class="user-head" src="{{ userDefaultImg }}" alt="">-->
    <!--<div class="name type-name nowrap-1">闫磊</div>-->
    <!--<div class="user-label nowrap-1">-->
    <!--黄金门店-->
    <!--</div>-->
    <!--</div>-->
    <!--<img class="phb_2bg" src="assets/imgs/ranking/phb_2@2x.png" alt="第二">-->
    <!--</div>-->
    <!--<div class="phb_1">-->
    <!--<div class="name-div">-->
    <!--<img class="user-head" src="{{ userDefaultImg }}" alt="">-->
    <!--<div class="name type-name nowrap-1">1111111</div>-->
    <!--<div class="user-label nowrap-1">-->
    <!--青铜门店-->
    <!--</div>-->
    <!--</div>-->
    <!--<img  class="phb_1bg" src="assets/imgs/ranking/phb_1@2x.png" alt="第一">-->
    <!--</div>-->
    <!--<div class="phb_3">-->
    <!--<div class="name-div">-->
    <!--<img class="user-head" src="{{ userDefaultImg }}" alt="">-->
    <!--<div class="name type-name nowrap-1">孙喆</div>-->
    <!--<div class="user-label nowrap-1">-->
    <!--白银门店-->
    <!--</div>-->
    <!--</div>-->
    <!--<img  class="phb_3bg" src="assets/imgs/ranking/phb_3@2x.png" alt="第三">-->
    <!--</div>-->
    <!--</div>-->


    <ul class="nav-type">
        <li *ngFor="let item of page.navliArr" (click)="changeCheckType(item.lable)"
            [ngClass]="{'actived': page.checkType == item.lable}">
            <div>{{ item.text }}</div>
            <span class="item-line"></span>
        </li>
    </ul>

    <div class="my-exam" *ngIf="page.checkType === page.navliArr[0].lable">
        <div class="exam-logo" (click)="goTotalRanking()">
            <img src="./assets/imgs/competition/logo.png" alt="大赛排行榜">
            大赛排行榜
        </div>
        <span *ngIf="page.myInfo">
      当前最高分数：{{ page.myInfo.TotalScore }}，当前排名：第{{ page.myInfo.RowNumber }}名
    </span>
    </div>

    <!--一级导航-->
    <div class="nav-type-2" *ngIf="page.checkType === page.navliArr[1].lable">
        <div class="btn-box">
            <div (click)="changeSecNav(1, secNavIndex, item.isActived)"
                 *ngFor="let item of page.navliArr[1].secNav; let secNavIndex = index" class="type-btn"
                 [ngClass]="{'actived': item.isActived}">
                {{ item.navBtnText }}<span class="item-line"></span>
            </div>
        </div>
    </div>
    <!--一级导航-->

    <!-- 二级导航 -->
    <div class="nav-type-2" *ngIf="page.checkType === page.navliArr[2].lable">
        <div class="btn-box">
            <div (click)="changeSecNav(2, secNavIndex, item.isActived)"
                 *ngFor="let item of page.navliArr[2].secNav; let secNavIndex = index" class="type-btn"
                 [ngClass]="{'actived': item.isActived}">
                {{ item.navBtnText }}<span class="item-line"></span>
            </div>
        </div>
    </div>
    <!-- 二级导航 end-->

    <!-- 三级导航 start-->
    <!--帖子 所有 start -->
    <div class="nav-type-3"
         *ngIf="page.checkType === page.navliArr[1].lable && page.navliArr[1].secNav[0].isActived === true">
        <div (click)="changeThrNav(1, 0, thrNavIndex, item.isActived)"
             *ngFor="let item of page.navliArr[1].secNav[0].thrNav; let thrNavIndex = index" class="type-btn"
             [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}<span class="item-line"></span>
        </div>
    </div>
    <!-- 帖子 所有 end -->
    <!--帖子排行榜 start -->
    <div class="nav-type-3"
         *ngIf="page.hasArea && page.checkType === page.navliArr[1].lable && page.navliArr[1].secNav[1] && page.navliArr[1].secNav[1].isActived === true">
        <div (click)="changeThrNav(1, 1, thrNavIndex, item.isActived)"
             *ngFor="let item of page.navliArr[1].secNav[1].thrNav; let thrNavIndex = index" class="type-btn"
             [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}<span class="item-line"></span>
        </div>
    </div>
    <!-- 帖子排行榜 end -->

    <!-- 视频 所有 start -->
    <div class="nav-type-3"
         *ngIf="page.checkType === page.navliArr[2].lable && page.navliArr[2].secNav[0] && page.navliArr[2].secNav[0].isActived === true">
        <div (click)="changeThrNav(2, 0, thrNavIndex, item.isActived)"
             *ngFor="let item of page.navliArr[2].secNav[0].thrNav; let thrNavIndex = index" class="type-btn"
             [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}<span class="item-line"></span>
        </div>
    </div>
    <!-- 视频 所有 end -->
    <!-- 视频 大赛排行榜 start -->
    <div class="nav-type-3"
         *ngIf="page.hasArea && page.checkType === page.navliArr[2].lable && page.navliArr[2].secNav[1].isActived === true">
        <div (click)="changeThrNav(2, 1, thrNavIndex, item.isActived)"
             *ngFor="let item of page.navliArr[2].secNav[1].thrNav; let thrNavIndex = index" class="type-btn"
             [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}<span class="item-line"></span>
        </div>
    </div>
    <!-- 视频 大赛排行榜 end -->

    <!-- 列表 考试 start -->
    <ul class="exam-pro-lists" *ngIf="page.checkType === 'exam'">
        <li *ngFor="let item of page.competitionLists" (click)="goExam(item)">
            <img class="lists-banner" src="{{ item.PictureSrc || './assets/imgs/competition/banner.png'}}" alt="封面海报">
            <div class="exam-info">
                <div class="title">{{ item.EName }}</div>
                <!--<div class="exam-num">-->
                <!--本人排行：第10名-->
                <!--</div>-->
                <div class="status-box">
                    <div class="status-points" *ngIf="(item.grade && item.grade != '0') || item.grade != 0">
                        当前分数：{{ item.grade }}</div>
                    <div class="status-btn" *ngIf="item.StudyState == 1">
                        <span>参加考试</span>
                        <img style="margin-left: 0.6rem;width: 0.6rem;height: 1.1rem;"
                             src="assets/imgs/competition/arrow@2x.png" alt="更多">
                    </div>
                    <div class="status-finish" *ngIf="item.StudyState == 2">继续考试</div>
                    <div class="status-finish" *ngIf="item.StudyState == 3">已完成</div>
                </div>
            </div>
        </li>
    </ul>
    <!-- 三级导航 end-->

    <!-- 帖子列表 -->
    <ul class="topic-lists" *ngIf="page.checkType === 'topic'">
        <li *ngFor="let item of page.competitionLists, let itemIndex = index" (click)="goPostsContent(item.Id)">
            <app-forum-list-time class="topic-discript" [item]='item' [itemIndex]='itemIndex'></app-forum-list-time>
            <!--<div class="topic-user">-->
            <!--<img class="avatar" src="{{ item.PosterUserHeadPhoto || userDefaultImg }}" alt="帖子列表默认头像">-->
            <!--<div class="user-box">-->
            <!--<div class="name-time">-->
            <!--<span class="name">{{ item.PosterUserName }}</span>-->
            <!--<span class="time">{{ item.PostRelativeTime }}</span>-->
            <!--</div>-->
            <!--<div class="company" *ngIf="item.AgentName">{{ item.AgentName }}</div>-->
            <!--</div>-->
            <!--<div class="num-box">-->
            <!--<span class="number-my">本人排名：第{{ page.myInfo.RowNumber }}名</span>-->
            <!--<img src="./assets/imgs/consultation/share@3x.png" alt="转发按钮">-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="topic-discript pmain_text" [innerHTML]="assembleHTML(item.Content)"></div>&ndash;&gt;-->
            <!--<div class="topic-pic-box" *ngIf="item.Images && item.Images.length > 0">-->
            <!--<div class="topic-one-pic" *ngIf="item.Images && item.Images.length === 1">-->
            <!--<img src="{{ item.Images[0].Src || './assets/imgs/competition/banner.png' }}" alt="单张图">-->
            <!--</div>-->
            <!--<div class="topic-multiple-pic" *ngIf="item.Images.length > 1">-->
            <!--<img *ngFor="let imgItem of item.Images" src="{{imgItem.Src || './assets/imgs/competition/banner.png'}}" alt="多张图">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="topic-info">-->
            <!--<span class="topic-type" *ngIf="item.TopicPlateName">{{ item.TopicPlateName }}</span>-->
            <!--<span class="num-info-box">-->
            <!--<span class="read-num">-->
            <!--<img src="./assets/imgs/competition/see@2x.png" alt="阅读量">-->
            <!--{{ item.ViewCount }}-->
            <!--</span>-->
            <!--<span class="comment-num">-->
            <!--<img src="./assets/imgs/competition/pinglun@2x.png" alt="评论量">-->
            <!--{{ item.ReplyCount }}-->
            <!--</span>-->
            <!--<span class="like-num">-->
            <!--<img src="./assets/imgs/competition/dianzan@2x.png" alt="点赞量">-->
            <!--{{ item.LikeCount }}-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->
        </li>
    </ul>
    <!-- 帖子列表 -->

    <!--视频列表-->
    <ul class="video-lists" *ngIf="page.checkType === 'short-video'">
        <li (click)="goVideoBox(item.ID)" *ngFor="let item of page.competitionLists, let cIndex = index">
            <div class="video-box">
                <img class="video-poster" src="{{item.CoverUrl || './assets/imgs/competition/fengmian@2x.png'}}"
                     alt="视频图片">
                <img class="video-play-btn" src="./assets/imgs/forum/list/luntan_play@2x.png" alt="播放按钮">
                <div class="mask"></div>
                <div class="video-title">
                    <span>{{ item.Title }}</span>
                </div>
                <div class="bottom-info">
                    <video *ngIf="item.VideoMinute === 0" hidden type="video/mp4" (loadedmetadata)="getDuration($event,item)"
                           [src]="item.files.DownLoadUrl"></video>
                    <span *ngIf="item.VideoMinute === 0" class="video-length">{{ item.duration || '00:00'}}</span>
                    <span *ngIf="item.VideoMinute > 0" class="video-length">{{ item.VideoMinute | secondFormat}}</span>
                </div>
            </div>
            <div class="video-info">
                <span class="company">
                    {{ item.Creater }}<span *ngIf="item.MyRanking && page.checkType === page.navliArr[2].lable && page.navliArr[2].secNav[1].isActived === true"
                          class="right-text">——本人排名 第{{ item.MyRanking }}名</span>
                    <span *ngIf="item.AllRanking && page.checkType === page.navliArr[2].lable && page.navliArr[2].secNav[1].isActived === true"
                          class="right-text">——大赛排名 第{{ item.AllRanking }}名</span>
                </span>
                <span class="num-info-box">
          <span class="comment-num">
            <img src="./assets/imgs/competition/pinglun@2x.png" alt="评论量">
              {{ item.commentCount || 0 }}
          </span>
          <span class="like-num">
            <img src="./assets/imgs/competition/dianzan@2x.png" alt="点赞量">
              {{ item.LikeCount }}
          </span>
        </span>
            </div>
        </li>
    </ul>

    <ion-list text-center style="margin-top: 10rem"
              *ngIf="page.getParams && page.getParams.isLoad && page.competitionLists && page.competitionLists.length == 0">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<img (click)="goToEdit()" *ngIf="page.checkType !== page.navliArr[0].lable"
     style="position: absolute;bottom: 5.7rem;right: 2rem;width: 5.8rem;height: 5.8rem; z-index: 999;"
     src="./assets/imgs/competition/xinzeng@2x.png" alt="添加小视屏">
