page-lists {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  // 顶部排行 start
  //.podium-pg {
  //  position: relative;
  //  text-align: center;
  //  margin-top: 3rem;
  //  display: flex;
  //  align-items: flex-end;
  //  justify-content: center;
  //  .more-btn {
  //    position: absolute;
  //    top: 0;
  //    right: 1.2rem;
  //    width: 6.2rem;
  //    height: 2.6rem;
  //    background-color: #FFFFFF;
  //    border-radius: 1.3rem;
  //    font-size: 1.2rem;
  //    color: #7A7A7A;
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //  }
  //  .name-div {
  //    padding-top: 0.2rem;
  //    margin-top: -1.5rem;
  //    .user-head {
  //      width: 4.5rem;
  //      height: 4.5rem;
  //      border-radius: 50%;
  //      object-fit: cover;
  //    }
  //    .user-label {
  //      display: inline-block;
  //      padding: 0 0.5rem;
  //      background: #575757;
  //      font-size: 1rem;
  //      border-radius: 1rem;
  //      color: #fff;
  //      width: 6rem;
  //    }
  //    .name {
  //      margin: auto;
  //      font-size: 1.2rem;
  //      margin-bottom: 0.5rem;
  //      width: 6.5rem;
  //    }
  //    .type-name {
  //      font-size: 1.2rem;
  //      transform: scale(0.9);
  //      color: #f3f3f3;
  //      color: rgba(0, 0, 0, 0.6);
  //    }
  //  }
  //
  //  .phb_1, .phb_2, .phb_3 {
  //    position: relative;
  //    .phb_2bg, .phb_1bg, .phb_3bg {
  //      position: absolute;
  //      left: 0;
  //      z-index: -1;
  //      bottom: 0;
  //    }
  //  }
  //  .scoreavg-label {
  //    display: inline-block;
  //    padding: 0 0.5rem;
  //    background: #575757;
  //    font-size: 1rem;
  //    border-radius: 1rem;
  //    color: #fff;
  //  }
  //  .phb_1 {
  //    height: 17.4rem;
  //    width: 18.5rem;
  //    .name-div {
  //      padding-top: 2.5rem;
  //    }
  //    .phb_1bg {
  //      height: 100%;
  //    }
  //  }
  //  .phb_2 {
  //    height: 15.3rem;
  //    width: 12.9rem;
  //    margin-right: -5.5rem;
  //    .name-div {
  //      margin-right: -3rem;
  //      padding-top: 2.5rem;
  //    }
  //    .phb_2bg {
  //
  //      height: 100%;
  //    }
  //  }
  //  .phb_3 {
  //    height: 13.5rem;
  //    width: 12.3rem;
  //    margin-left: -5.2rem;
  //    .name-div {
  //      margin-left: -3rem;
  //      padding-top: 2rem;
  //    }
  //    .phb_3bg {
  //      z-index: -9;
  //      height: 100%;
  //    }
  //
  //  }
  //  .user-grade {
  //    display: block;
  //    transform: scale(0.7);
  //  }
  //}
  // 顶部排行 end

  //导航 start
  .nav-type {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    list-style: none;
    background-color: #fff;
    color: #918F92;
    li {
      position: relative;
      flex: 1;
      text-align: center;
      .item-line {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: block;
        width: 2.8rem;
        height: 0.4rem;
        background: transparent;
        border-radius: 0.2rem;
        opacity: 0.9;
      }
    }
    .actived{
      color: #000000;
      .item-line {
        background: linear-gradient(241deg,rgba(255,247,203,1) 0%,rgba(255,201,45,1) 100%);
      }
    }
  }
  //导航 end

  .my-exam {
    width: 100%;
    height: 5rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    .exam-logo {
      margin-left: 1.8rem;
      margin-right: 1rem;
      width: 11.8rem;
      height: 3rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ADDAE9;
      img {
        margin-right: 0.3rem;
        width: 1.591rem;
        height: 1.793rem;
      }
    }
    span {
      font-size: 1.2rem;
      color: #888888;
      width: 22.5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  // 二级导航
  .nav-type-2 {
    width: 100%;
    height: 5.4rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1rem solid #F2F2F2;
    .btn-box {
      width: 34.8rem;
      height: 2.9rem;
      border-radius: 1.45rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: #F4F1F2;
      .type-btn {
        flex: 1;
        height: 2.9rem;
        line-height: 2.9rem;
        border-radius: 1.45rem;
        color: #888888;
      }
      .type-btn.actived {
        color: #000000;
        background-color: orange;
        background:linear-gradient(242deg,rgba(255,247,203,1) 0%,rgba(255,201,45,1) 100%);
      }
    }
  }

  // 三级导航 只有所有帖子有
  .nav-type-3 {
    width: 100%;
    height: 4rem;
    display: inline-flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    background-color: #FFFFFF;
    .type-btn {
      width: 6.8rem;
      height: 4rem;
      line-height: 4rem;
      color: #888888;
      position: relative;
      flex-shrink: 0;
      text-align: center;
      .item-line {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: block;
        width: 2.8rem;
        height: 0.4rem;
        background: transparent;
        border-radius: 0.2rem;
        opacity: 0.9;
      }
    }
    .actived {
      color: #000000;
      .item-line {
        background: linear-gradient(241deg,rgba(255,247,203,1) 0%,rgba(255,201,45,1) 100%);
      }
    }
  }

  // 考试项目列表
  .exam-pro-lists {
    padding-top: 0.6rem;
    background-color: #FFFFFF;
    li {
      padding-top: 0.9rem;
      display: flex;
      justify-content: space-between;
      .lists-banner {
        margin: 0 1.4rem 0.9rem 1.8rem;
        width: 13.4rem;
        height: 7.5rem;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .exam-info {
        margin-right: 1.8rem;
        flex: 1;
        line-height: 1;
        .title {
          width: 19rem;
          font-size: 1.5rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .exam-num {
          margin-top: 1rem;
          font-size: 1.2rem;
          color: #A5A5A5;
        }
        .status-box {
          margin-top: 1.3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .status-points {
            width: 8.4rem;
            height: 2.2rem;
            font-size: 1.2rem;
            color: #888888;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .status-btn {
            margin-left: auto;
            width: 8.4rem;
            height: 2.6rem;
            line-height: 2.6rem;
            color: #333333;
            background:linear-gradient(216deg,rgba(255,247,203,1) 0%,rgba(255,201,45,1) 100%);
            box-shadow:0px 5px 5px 0px rgba(255,206,61,0.26);
            border-radius:1.3rem;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .status-finish {
            font-size: 12px;
            color: #888888;
          }
        }
      }
    }
  }

  // 帖子列表
  .topic-lists {
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    li {
      padding: 0.9rem 1.5rem 1.4rem 1.5rem ;
      border-bottom: 1rem solid #f2f2f2;
      .topic-user {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        .avatar {
          margin-right: 1rem;
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 1.4rem;
          object-fit: cover;
        }
        .user-box {
          flex: 1;
          width: 18rem;
          .name-time {
            display: flex;
            align-items: center;
            .name {
              display: block;
              font-size: 1.3rem;
              color: #333333;
            }
            .time {
              margin-left: 1rem;
              padding-left: 1rem;
              line-height: 1;
              border-left: 0.12rem solid #888888;
              font-size: 1.1rem;
              color: #888888;
            }
          }
          .company {
            margin-top: 0.5rem;
            font-size: 1.1rem;
            color: #888888;
          }
        }

        .num-box {
          margin-left: auto;
          display: flex;
          align-items: center;
          .number-my {
            font-size: 1.1rem;
            color: #888888;
          }
          img {
            margin-left: 1.6rem;
            width: 1.7rem;
            height: 1.7rem;
          }
        }
      }

      .topic-discript {
        margin: 0.8rem 0 1rem 0;
        font-size: 1.6rem;
        color: #333333;
        text-align:justify;
        text-justify:distribute-all-lines;/*ie6-8*/
        text-align-last: left;/* ie9*/
        -moz-text-align-last: left;/*ff*/
        -webkit-text-align-last: left;/*chrome 20+*/
      }

      .topic-pic-box {
        border-radius: 1.2rem;
        overflow: hidden;
        .topic-one-pic {
          img {
            width: 23rem;
            height: 13rem;
            object-fit: cover;
          }
        }
        .topic-multiple-pic {
          margin-bottom: 1.2rem;
          display: inline-flex;
          flex-direction: row;
          flex-wrap: nowrap;
          //flex-direction: row;
          //flex-wrap: wrap;
          border-radius: 1.2rem;
          overflow: hidden;
          img {
            margin-bottom: 0.2rem;
            width: 11.4rem;
            height: 11.4rem;
            object-fit: cover;
          }
          img:nth-child(3n-1) {
            margin-left: 0.2rem;
          }
          img:nth-child(3n) {
            margin-left: 0.2rem;
          }
        }
      }

      .topic-info {
        display: flex;
        justify-content: center;
        .topic-type {
          flex: 1;
          font-size: 1.2rem;
          color: #888888;
        }
        .num-info-box {
          margin-left: auto;
          display: flex;
          align-items: center;
          span {
            display: flex;
            align-items: center;
          }
          .read-num {
            img {
              margin-right: 1rem;
              width: 2.091rem;
              height: 1.527rem;
            }
          }
          .comment-num {
            img {
              margin-left: 2rem;
              margin-right: 1rem;
              width: 1.8rem;
              height: 1.7rem;
            }
          }
          .like-num {
            img {
              margin-left: 2rem;
              margin-right: 0.8rem;
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }
  }
  // 帖子列表 end

  // 视频列表start
  .video-lists {
    li {
      margin-bottom: 1rem;
      .video-box {
        position: relative;
        width: 100%;
        height: 21rem;
        .video-poster {
          width: 100%;
          height: 21rem;
          object-fit: cover;
          z-index: 1;
        }
        .mask {
          position: absolute;
          top: 0;
          width: 100%;
          height: 21rem;
          object-fit: cover;
          z-index: 3;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .video-play-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 4rem;
          height: 4rem;
          z-index: 5;
        }
        .video-title {
          position: absolute;
          top: 1.6rem;
          margin: 0 1.6rem;
          width: calc(100% - 3.2rem);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 5;
          span {
            width: 30rem;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            font-size: 1.5rem;
            color: #FFFFFF;
          }
          img {
            margin-left: auto;
            width: 1.6rem;
            height: 1.6rem;
          }
        }
        .video-length {
          position: absolute;
          bottom: 1.2rem;
          left: 1.5rem;
          padding: 0 0.5rem;
          height: 1.8rem;
          border-radius: 1rem;
          color: #FFFFFF;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 5;
        }
      }
      .video-info {
        width: 100%;
        height: 4.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        .company {
          margin-left: 1.5rem;
          font-size: 1.2rem;
          color: #888888;
        }
        .num-info-box {
          margin-right: 1.5rem;
          margin-left: auto;
          display: flex;
          align-items: center;
          span {
            display: flex;
            align-items: center;
          }
          .comment-num {
            img {
              margin-right: 1rem;
              width: 1.8rem;
              height: 1.7rem;
            }
          }
          .like-num {
            img {
              margin-left: 2rem;
              margin-right: 0.8rem;
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }

  }
}
