page-good-teacher {
  .teacher{
    padding: 1rem;
  }
  .teacher-info {
    display: flex;
    align-items: center;
    justify-content: center;
    .headPhoto{
      img{
        width: 4rem;
        border-radius: 50%;
      }
      text-align: center;
    }

    > div {
      flex: 1;
    }
    > div:nth-child(2){
      flex: 2;
      padding-left: 10px;
    }

    .focus {
      display: inline-block;
      font-size: 1.3rem;
      width: 5rem;
      height: 2rem;
      background: #addae9;
      border-radius: 1rem;
      border: 0.08rem solid #addae9;
      text-align: center;
      line-height: 2rem;
      font-weight: normal;
      color: #000000;
    }
  }
  .teacher + .teacher{
    border-top: 1px solid #dddddd;
  }
  .infomation{
    color: #666666;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
