page-good-teacher {
  .teacher{
    padding: 1rem;
  }
  .teacher-info {
    display: flex;
    align-items: center;
    justify-content: center;
    .headPhoto{
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      text-align: center;
    }

    > div {
    }
    > div:nth-child(2){
      flex: 2;
      padding-left: 10px;
    }
  }
  .teacher + .teacher{
    border-top: 1px solid #dddddd;
  }
  .infomation{
    color: #999999;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
