<ion-header>
    <ion-navbar>
        <ion-title>金牌讲师</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-color:#fff;">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <div class="teacher" *ngFor="let item of  teacherList">
        <div class="teacher-info" >
            <div class="headPhoto" tappable (click)="teachDetail(item)">
                <img [src]="item.HeadPhoto">
            </div>
            <div class="name">
                <p style="font-weight: bold">{{item.UserName}}</p>
                <p>{{item.Position || ' '}}</p>
            </div>
            <div class="focuscontent">
                <span *ngIf="item.IsSubscribe == false" tappable (click)="focusHandle(item)" class="focus focus-blue">关注</span>
                <span *ngIf="item.IsSubscribe == true" tappable (click)="cancleFocusHandle(item)" class="focus noFocus-blue">已关注</span>
            </div>
        </div>
        <div class="infomation">
            {{item.Remark}}
        </div>
    </div>
</ion-content>
