page-login {
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    background-color: #f8f8f8;
    border: 0.55px solid #f8f8f8;
  }

  .scroll-content {
    overflow: hidden;
  }

  .login {
    height: calc(100% - 2rem);
    background-color: #f8f8f8;
    position: relative;
    margin-top: 2rem;

    .back-img {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .login-form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      .div-header {
        height: 11.5rem;
        position: relative;
        padding-top: 7.2rem;
      }

      .div-content {
        height: calc(100% - 11.5rem - 5.5rem);
      }
    }
  }

  .login-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    padding-top: 2px;

    .select-ios {
      border: 1px solid #767676;
      border-radius: 100px;
      color: #EA0A2A;
      margin-left: 10%;
      padding: 3px 8px;
      font-size: 1.2rem;
      max-width: 35%;
      text-align: center;
    }
  }

  .loginPlatform {
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;

    .plat {
      position: relative;
    }

    .plat::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -1rem;
      transform: translate(-50%, -50%);
      width: 2.4rem;
      height: 4px;
      background: linear-gradient(241deg, rgba(255, 247, 203, 1) 0%, rgba(255, 201, 45, 1) 100%);
      border-radius: 2px;
    }
  }

  .logo {
    text-align: center;

    img {
      height: 2.9rem;
    }
  }

  .login-input {
    width: 85%;
    margin: 0 auto;
    position: relative;

    .input-input {
      margin-bottom: 20px;
      width: calc(100% - 10px);
      background-color: #fff;
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding-left: 1.2rem;
      position: relative;
      height: 4rem;
      -webkit-user-select: auto !important;

      input {
        -webkit-user-select: auto !important;
      }
    }

    input {
      margin: 11px 8px 11px 0;
      padding: 0;
      width: calc(100% - 8px);
      border: 0;
      font-size: 1.5rem;
      background: transparent;
    }

    .check {
      position: relative;

      .flash {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translate(-12px, -50%);
        width: 20px;
      }

      .checkCode {
        position: absolute;
        top: 54%;
        right: 25px;
        transform: translate(-25px, -50%);
      }
    }
  }

  .login-button {
    position: absolute;
    bottom: 7rem;
    left: 10%;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 39px;
    line-height: 40px;
    background-color: #313f5d;
    border-radius: 5px;
    color: #ffffff;

    img {
      height: 60px;
    }
  }

  .scroll-content {
    margin-bottom: 0 !important;
  }

  .tips {
    color: #666660;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      margin-right: .5rem;
    }

    span {
      color: #468AE8;
    }
  }

  .llzsLogin {
    display: flex;
    width: 85%;
    margin: 0 auto;
    height: 40px;
    margin-bottom: 15px;
    font-size: 16px;

    > span {
      width: 50%;
      text-align: center;
      font-weight: 400;
      height: 43px;
      line-height: 43px;
      color: #474747;
      font-size: 1.5rem;
      position: relative;
      font-family: PingFangSC-Regular, PingFang SC;
      transition: all 100ms;
    }

    > span.check {
      font-weight: 600;
      font-family: PingFangSC-Semibold, PingFang SC;
    }

    > span.check::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.5rem;
      height: .4rem;
      background: #E90E2C;
      border-radius: 10px;
    }
  }

  .sendCode {
    position: absolute;
    top: 0;
    right: -115px;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(242deg, #FFF4D4 0%, #FFDE8A 100%);
    border-radius: 5px;
    font-weight: 400;
    color: #5D5D5D;
    width: 107px;
    font-size: 14px;
  }

  .sendCode.disableBtn {
    background: linear-gradient(242deg, #999 0%, #eee 100%);
  }

  input::-webkit-input-placeholder {
    color: #999990;
    font-size: 14px;
  }

  .swiper-slide {
    align-items: baseline;
  }
}

.action-sheet-container .action-sheet-group {
  border-radius: 5px;
  padding: 0 1.5rem;

  button.action-sheet-button {
    color: #333333;
    font-size: 1.5rem;
    min-height: 4rem;
    padding: 0;
    border: none;
    position: relative;
  }

  button.action-sheet-button:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  button.action-sheet-selected {
    color: #FF001B;
    background: none;
  }

  button.action-sheet-cancel {
    font-weight: 400;
  }
}
