page-login {
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    background-color: #1a1a1a;
    border: none;
  }

  .login {
    height: 100%;
    position: relative;

    .back-img {
      height: 100%;

      img {
        width: 100%;
      }
    }

    .login-form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 20px;

    img {
      height: 100px;
    }
  }

  .login-input {
    width: 85%;
    margin: 0 auto;
    position: relative;

    input,ion-input {
      padding: 8px 20px;
      width: calc(100% - 8px);
      background-color: #fff;
      border: 1px solid #ffffff;
      border-radius: 50px;
      font-size: 1.8rem;
      margin-bottom: 20px;
      height: 4.5rem;
      line-height: 4.5rem;
    }

    .check {
      position: relative;

      input {
        margin: 0;
      }

      .flash {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translate(-12px, -50%);
        width: 20px;
      }

      .checkCode {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translate(-25px, -50%);
      }
    }
  }

  .login-button {
    text-align: center;
    width: 85%;
    margin: 40px auto;
    height: 40px;
    line-height: 40px;
    background-image: linear-gradient(to right, #fecc4b, #feeaa5);
    border-radius: 100px;

    img {
      height: 60px;
    }
  }

  .scroll-content {
    margin-bottom: 0 !important;
  }
}
