<ion-header>
    <ion-navbar hideBackButton>
    <span class="backPop" (click)="backPop()">
      取消
    </span>
        <ion-title>
            选择话题
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="search">
        <ion-icon class="search-icon" name="search"></ion-icon>
        <ion-input type="search" placeholder="请输入想要的话题" (keypress)="search($event)" (ionFocus)="showKey()" autocomplete='off'
                   [(ngModel)]="name" [ngModelOptions]="{standalone: true}"></ion-input>
        <span  (click)="cancelSearch()">取消</span>
    </div>
    <ng-container *ngIf="isSearch">
        <div class="searchList">
            <div class="topic-list">
                <ng-container *ngFor="let topic of searchList">
                    <div *ngIf="topic.TopicType == topicType" (click)="selectTopic(topic)" class="topic-item">
                        <p>
                            <span>#</span>
                            <span>{{topic.Name}}</span>
                            <img *ngIf="topic.TopicType == 1" src="./assets/imgs/forum/gf.png" alt="">
                            <img *ngIf="topic.TopicType == 2" src="./assets/imgs/forum/huo.png" alt="">
                        </p>
                        <p>{{topic.PostCount}}条帖子</p>
                    </div>
                </ng-container>
                <div  (click)="sevrData()" class="topic-item">
                    <p><span>#</span>{{name}}</p>
                    <p style="color: #FFCA30">[新话题]</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isSearch">
        <div class="usered">
            <p>最近使用</p>
            <div class="lately-span">
                <span (click)="selectTopic(item)" *ngFor="let item of latelyList"><span>#</span>{{item.TopicName}}</span>
            </div>
        </div>
        <div class="space"></div>
        <div class="topic-type">
            <div class="title">
                <div [ngClass]="{'act': topicType == 1}" (click)="topicType = 1">官方话题</div>
                <div [ngClass]="{'act': topicType == 2}" (click)="topicType = 2">热门话题</div>
            </div>
            <div class="topic-list">
                <ng-container *ngFor="let topic of topicList">
                    <div *ngIf="topic.TopicType == topicType" (click)="selectTopic(topic)" class="topic-item">
                        <p><span style="color: #FFCA30;margin-right: .5rem">#</span>{{topic.Name}} </p>
                        <p>{{topic.PostCount}}条帖子</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</ion-content>
