page-choose-topic {
  ion-content {
    background-color: #ffffff !important;
  }

  .backPop {
    margin-left: 10px;
  }

  .release {
    position: absolute;
    right: 15px;
    background: -webkit-linear-gradient(-90deg, #FFF7CB, #FFC92D);
    background: linear-gradient(-90deg, #FFF7CB, #FFC92D);
    padding: 4px 13px;
    font-size: 14px;
    transform: translate(0px, -4px);
    border-radius: 9px;
  }

  .search {
    padding: 2rem;
    position: relative;
    display: flex;
    background-color: #f8f8f8;

    .search-icon {
      position: absolute;
      top: 40%;
      left: 3rem;
      z-index: 1;
      color: #666666;
    }

    ion-input {
      height: 3.5rem;
      line-height: 1.3rem;
      background: #FFFFFF;
      border-radius: 5px;
      padding-left: 3rem;
    }

    span:last-child {
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333333;
    }
  }

  .lately-span {
    > span {
      height: 25px;
      background: #EDEDED;
      border-radius: 13px;
      padding: .3rem 1.3rem;
      margin-bottom: 1rem;
      display: inline-block;
      font-size: 1.2rem;
      margin-right: 1rem;
      color: #474747;
      line-height: 20px;

      span {
        color: #FFCA30;
        margin-right: .5rem;
        font-weight: bolder;
      }
    }

    > span + > span {
      margin-left: 1rem;
    }
  }

  .usered {
    padding: 2rem;

    > p {
      margin-bottom: 1rem;
    }
  }

  .space {
    height: 2rem;
    background-color: #f0f0f0;
  }

  .topic-type {
    .title {
      display: flex;
      padding: 1rem;

      div {
        height: 2rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 2rem;
        width: 25%;
        text-align: center;
        color: #666666;
      }

      .act {
        color: rgba(0, 0, 0, 1);
        transition: all 0.2s;
        position: relative;
      }

      .act::before {
        content: " ";
        display: block;
        position: absolute;
        width: 20px;
        height: 4px;
        margin-left: -10px;
        left: 50%;
        bottom: -1rem;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        background-color: #E90E2C;
        border-radius: 2px;
      }
    }
  }

  .topic-list {
    .topic-item {
      border-bottom: 1px solid #dddddd;
      padding: 1rem 0rem;
      margin: 0 2rem;

      > p:first-child {
        height: 20px;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        line-height: 20px;
        display: flex;
        align-items: center;

        img {
          width: 1.2rem;
          height: 1.2rem;
          margin-left: .5rem;
        }

        span:nth-child(2) {
          margin-right: .3rem;
          font-size: 1rem;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #FFCA30;
        }
      }

      > p:last-child {
        font-size: 1rem;
        font-weight: 400;
        color: #9D9D9E;
        margin-top: 1rem;

        img {
          width: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}
