search-sidebar {
  .search-sidebar {
    position: relative;
    height: 100%;
    width: 80%;
    background-color: #fff;
    padding: 16px 16px 60px 16px;
    overflow: scroll;

    > p {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 15px 0;
    }

    .address, .teacher {
      background: rgba(238, 238, 238, 1);
      border-radius: 15px;
      padding-left: 10px;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 58px;
      background: rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        width: 100px;
        height: 32px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        line-height: 32px;
        text-align: center;
      }

      div:first-child {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        background: linear-gradient(100deg, #fee595 0%, #fed675 100%);
      }

      div:last-child {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: rgba(255, 201, 45, 1);
        //background: linear-gradient(100deg, #fed675 0%, rgba(255, 201, 45, 1) 100%);
      }
    }
  }

  .time {
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;

    .heng {
      font-size: 40px;
      font-weight: 200;
      padding: 0 2px;
    }
  }

  ion-datetime.datetime-ios {
    background-color: #eee;
    border-radius: 15px;
    width: 48%;
    padding: 11px 3px 11px 11px;
  }

  ion-datetime + {
    margin-left: 5px;
  }

  .time2 {
    .item-cover {
      right: 0;
      left: auto;
      width: 50%;
    }
  }

  .time1 {
    .item-cover {
      left: 0;
      width: 50%;
    }
  }

  .all-address {
    p {
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #656565;
      line-height: 16px;
      margin-bottom: 10px;
    }
  }

  .area > span,
  .province > span,
  .city > span {
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 5px 18px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .selectItem {
    background: linear-gradient(242deg, rgba(255, 247, 203, 1) 0%, rgba(255, 201, 45, 1) 100%);
  }
}
