# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
.sourcemaps/
coverage/
node_modules/
tmp/
temp/
hooks/
platforms/
/www
/plugins
*.apk

plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/build/www
/build
/build/www/assets/
/build/www/assets/cordova/cordova_android/
build/
/src/assets/imgs/advanced/home_jinjie@2x.png
/src/assets/imgs/advanced/level-2-advanced.png.png
/src/assets/imgs/home/xslj.png
/src/pages/home/personal-center/evaluate
/src/pages/home/personal-center/posted
/src/pages/home/personal-center/reply
/src/pages/home/want-to-ask/ask-search-modal/role-modal.html
/src/pages/home/want-to-ask/ask-search-modal/role-modal.scss
/src/pages/home/want-to-ask/ask-search-modal/role-modal.ts
/src/pages/mine/personal-center
/src/pages/mine/notification/notification.ts
/src/pages/mine/notification/notification.scss
/src/pages/mine/notification/notification.ts
/src/pages/mine/notification/notification.html
