<ion-header>
    <ion-navbar>
        <ion-title>{{product.detail?.SubjectName}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div ion-fixed class="fixed-top">
        <div #banner class="banner">
            <div class="background-image">
                <img [src]="product.detail?.ImageUrl" alt="">
            </div>
            <div class="content" *ngIf="courseFileType == null">
                <div class="content-info">
                    <div class="course-name">
                        {{product.detail?.Title}}
                    </div>
                    <div class="course-button">
                        <div tappable *ngIf="!product.detail?.IsBuy && nowTime < product.detail?.ApplicantETime"
                             (click)="sign()">
                            任务领取
                        </div>
                        <p class="tips" *ngIf="product.detail?.IsBuy">
                            请到骏菱学社PC端下载内训资料、上传培训记录，如有问题，请致电0772-2650611
                        </p>
                        <ng-container *ngIf="nowTime > product.detail?.EndTime && !product.detail?.IsBuy">
                            <span tappable class="applySign applySignDone">已过期</span>
                        </ng-container>
                    </div>
                    <div class="course-desc" style="margin: 15px auto;">
                    <span>报名截止:
                        {{product.detail?.ApplicantETime | date:'yyyy-MM-dd'}}
                    </span>
                        <span>
                        <img src="./assets/imgs/learn/person@2x.png" alt="">{{product.detail?.ManCount || "0"}}
                            人领取</span>
                    </div>
                </div>
            </div>
            <div id="videoTag" class="content video" [hidden]="courseFileType == null">
                <videojs [hidden]="!courseFileType || courseFileType == 'iframe' " #videojsCom
                         [GetVideo]="videoInfo.video"
                         [poster]="videoInfo.poster"></videojs>
                <iframe-file [hidden]="!courseFileType || courseFileType == 'video' " #iframeFile
                             [iframe]="iframObj"></iframe-file>
            </div>
        </div>
        <navbar #navbar [select]="bar.type" [list]="navbarList" (done)="changeType($event)"></navbar>
    </div>
    <div style="margin-top: 236px" #space class="space"></div>

    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ng-container *ngIf="isLoad">
            <!--      简介      -->
            <ion-slide>
                <div class="item">
                    <p>简介</p>
                    <div class="introduction" [innerHTML]="product.detail?.Description | lineFeed"></div>
                </div>
            </ion-slide>
            <!--      章节      -->
            <ion-slide>
                <div id="chapter" class="item" style="min-height: 350px">
                    <p>内训资料
                        <span *ngIf="teacherFileList.length > 4" tappable (click)="goTeacherFile()" float-end
                              class="look">更多</span>
                    </p>
                    <page-record (image)="viewimage($event)" [fileList]="teacherFileList" [maxNum]="4"></page-record>
                </div>
            </ion-slide>
            <!--      讨论      -->
            <ion-slide>
                <div class="item" style="min-height: 350px">
                    <p>{{product.detail?.TeachTypeName == "直播" ? "直播" : "课程"}}讨论
                        <span *ngIf="comment.talk.length > 0" tappable (click)="goCourseDiscuss()" float-end
                              class="look">更多</span>
                        <span *ngIf="comment.talk.length == 0" tappable (click)="goCourseDiscuss()"
                              class="focus focus-blue">去讨论</span>
                    </p>
                    <page-comment-list [cList]="comment.talk" [TopicType]="'talk'"></page-comment-list>
                    <div class="no-comment" *ngIf="comment.talk.length == 0">
                        <ion-list text-center style="margin-top: 40px">
                            <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
                            <p style="color: #666666;font-size: 13px">
                                暂无{{product.detail?.TeachTypeName == "直播" ? "直播" : "课程"}}讨论，快去发一条吧～</p>
                        </ion-list>
                    </div>
                </div>
            </ion-slide>
            <!--记录-->
            <ion-slide>
                <div class="item" style="margin-bottom: 5rem;min-height: 350px">
                    <p>已上传记录
                        <span *ngIf="mainFile.length > 4" tappable (click)="goMainFile()" float-end
                              class="look">更多</span>
                        <span *ngIf="product.detail?.IsBuy" tappable class="uploadImage" (click)="takePic()" float-end>
                            <img src="./assets/imgs/learn/shangchuantupian.png" alt="">
                            上传图片</span>
                    </p>
                    <page-record (delete)="getSelFile()" (image)="viewimage($event)" [fileList]="mainFile" [maxNum]="4"></page-record>
                </div>
            </ion-slide>
        </ng-container>
    </ion-slides>
</ion-content>
<img-preview (close)="preImgSrc = null" [src]="preImgSrc"></img-preview>

<div *ngIf="signObj.isSign" class="sign">
    <img src="./assets/imgs/course/sign-success.png">
    <p>领取成功</p>
</div>
<div *ngIf="collectionObj.isCollection" class="collection">
    <img src="./assets/imgs/course/collection-success.png">
    <p>收藏成功</p>
</div>
