<ion-header>
  <ion-navbar>
    <ion-title>设置勋章</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: #131415;">
  <div *ngIf="!no_list">
    <div class="current-medal">
      <img src="./assets/imgs/mine/medal/background@2x.png" alt="">
      <div  class="current-medal-title">
        <span  class="current-medal-title-name">当前勋章</span>
        <span class="current-medal-title-more" (click)="setCurrentMedal()">
          <span>
            更换
          </span>
          <img  src="./assets/imgs/mine/medal/more.png" alt="">
        </span>
      </div>
      <div class="current-medal-div">
        <div class="current-medal-type" *ngFor="let item of badgeShowArr" >
          <img class="current-medal-type-img" src="{{item.BadgeIcon}}" alt="">
          <p class="current-medal-type-name">{{item.BadgeName}}</p>
        </div>
      </div>
    </div>
    <div class="my-have-medal">
      <div class="my-have-medal-title">
        我的勋章
      </div>
      <div class="my-have-medal-div">
          <div class="my-have-medal-type" *ngFor="let item of actionSheetList" >
              <div class="my-have-medal-type-div">
                <img class="my-have-medal-type-img" src="{{item.BadgeIcon}}" alt="">
              </div>
              <p class="my-have-medal-type-name " [ngClass]="{'type-name-selection':item.IsDisplay}" >{{item.BadgeName}}</p>
          </div>
      </div>
    </div>
  </div>
  <ion-list text-center style="margin-top: 10rem" *ngIf="no_list">
      <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
      <p text-center style="color: #666666;font-size: 16px">
        暂无勋章
      </p>
    </ion-list>
</ion-content>
<div class="action-sheet" *ngIf="actionSheet" (click)="setCurrentMedalHide()">
  <div class="medal-list-div" [ngClass]="{'medal-list-div-show':medalListDivShow}" (click)="$event.stopPropagation();">
      <div class="action-sheet-title">
          请选择更换勋章
      </div>
      <div class="medal-list" *ngFor="let item of actionSheetList" (click)="showOrhide(item)">
          <img class="medal-list-img" src="{{item.BadgeIcon}}" alt="">
          <span class="medal-list-name nowrap-1">{{item.BadgeName}}</span>
          <img *ngIf="setBadge[item.BadgeId]"  class="medal-list-check"  src="./assets/imgs/mine/medal/check-mark.png" alt="">
          <img *ngIf="!setBadge[item.BadgeId]" class="medal-list-check"  src="./assets/imgs/mine/medal/check-mark-no.png" alt="">
      </div>
      <div class="action-sheet-bg">
      </div>
      <div class="medal-btn">
          <div (click)="SetUserbadge()" >确定</div>
          <div class="medal-btn-on" (click)="setCurrentMedalHide()">取消</div>
      </div>
  </div>
</div>