<ion-header>
    <ion-navbar>
        <ion-title>短视频</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div *ngFor="let item of videoList;let i = index" class="swiper-slide">
                <video [id]="'video'+item?.files?.ID" class="video-js"
                       width="100%" height="180" controls preload="auto"
                       [poster]="item?.CoverUrl">
                </video>
                <div class="video-info">
                    <div class="discription">{{item.Title}}</div>
                    <div class="username">{{item.Creater}}</div>
                </div>
                <div class="btn-lists">
                    <div class="btn-box">
                        <img (click)="handleLike(item,1)" *ngIf="!item.IsLike"
                             src="./assets/imgs/competition/dz_w@2x.png" alt="点赞灰色"
                             style="width: 2rem;height: 2rem;">
                        <img (click)="handleLike(item,2)" *ngIf="item.IsLike"
                             src="./assets/imgs/competition/dianzan-baise.png" alt="点赞黄色"
                             style="width: 2rem;height: 2rem;">
                    </div>
                    <p>{{item.LikeCount}}</p>
                    <div class="btn-box" (click)="goComment(item)">
                        <img src="./assets/imgs/competition/pinglun@2x(1).png" alt="评论按钮"
                             style="width: 2rem;height: 1.889rem;">
                    </div>
                    <p>{{item.ReplyCount}}</p>
                    <div class="btn-box">
                        <img src="./assets/imgs/competition/enjoy.png" alt="分享按钮"
                             style="width: 1.888rem;height: 1.888rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="send-comment">-->
    <!--        <div class="textarea">-->
    <!--            <ion-textarea type="text" placeholder="请输入正文…" [(ngModel)]="comment" autocomplete='off'></ion-textarea>-->
    <!--        </div>-->
    <!--        <span class="send-btn">发送</span>-->
    <!--    </div>-->
</ion-content>
