<ion-header>
    <ion-navbar>
        <ion-title>资料专区</ion-title>
			<div class="top-box">
          <span class="top-right" (click)="goDownLoad()">
            <span>已下载</span>
						<!--<img src="assets/imgs/advanced/rzjj_xz@2x.png" alt="">-->
          </span>
			</div>
    </ion-navbar>
</ion-header>
<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content pullingText="下拉刷新"
	                           refreshingSpinner="bubbles">
	    </ion-refresher-content>
	</ion-refresher>

	<div ion-fixed style="width: 100%;">
		<form class="search-header" action="#">
			<div class="input-box">
				<img (click)="doSearch()" class="search-icon" src="./assets/imgs/new_version/home/search.png" alt="搜索图标">
				<ion-input [(ngModel)]="page.Title"
									 placeholder="请输入资料关键词"
									 [ngModelOptions]="{standalone: true}"
									 (keypress)="search($event)"
									 (ionFocus)="showKey()"
									 autocomplete='off'
				></ion-input>
			</div>
		</form>

		<div class="file-type-select">
			<ul>
				<li (click)="switchTypeLists(item)" *ngFor="let item of page.typeArr" [ngClass]="{'actived': this.page.FileType.label === item.label }">
					{{ item.label }}
				</li>
				<span class="end-box"></span>
			</ul>
		</div>
	</div>
	<!--<p class="downloadTips">Tips：下载的资料:安卓手机存储在根目录的sgmw文件夹目录下，苹果手机视频存储在相册内的sgmw文件夹下</p>-->
	<ul class="file-lists">
		<li *ngFor="let item of page.resourceLists">
			<div class="title">{{ item.DIsplayName }}</div>
			<div class="upload-time">上传时间：{{ item.CreateTime | date:'yyyy-MM-dd HH:mm' }}</div>
			<div class="flex-box">
				<div class="author">
					<img src="{{ item?.CreateHeadPhoto || userDefaultImg }}" class="avatar" alt="头像">
					<span class="author">{{ item.Creater }}</span>
				</div>
				<div class="type-info">
					<span [ngClass]="item.suffixObj.suffixClass">{{ item.suffixObj.suffixText }}</span>
					{{ item.FileType }}
				</div>
				<div class="download-btn">
					<img (click)="downLoad(item,$event)" src="./assets/imgs/new_version/home/download.png" alt="下载">
					下载
				</div>
			</div>
			<!--<div class="flex-box">-->
				<!--<span class="suffix" [ngClass]="item.suffixObj.suffixClass">{{ item.suffixObj.suffixText }}</span>-->
				<!--<span class="file-type">{{ item.FileType }}</span>-->
				<!--<span class="download-btn" (click)="downLoad(item.FileAddress, item.Name, $event)">下载</span>-->
				<!--&lt;!&ndash; <span class="download-btn" *ngIf="item.status === 0">下载</span>-->
				<!--<span class="download-btn success-btn" *ngIf="item.status === 1">预览</span> &ndash;&gt;-->
			<!--</div>-->
			<!--<div class="title">{{ item.DIsplayName }}</div>-->
			<!--<div class="flex-box">-->
				<!--<img src="{{ item?.CreateHeadPhoto || userDefaultImg }}" class="avatar" alt="头像">-->
				<!--<span class="author">{{ item.Creater }}</span>-->
				<!--<span class="upload-time">上传时间：{{ item.CreateTime | date:'yyyy-MM-dd HH:mm' }}</span>-->
			<!--</div>-->
		</li>
	</ul>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			<ion-infinite-scroll-content
							loadingSpinner="bubbles"
							loadingText="加载中"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-list text-center style="margin-top: 2.5rem;text-align: center;text-align: center;" *ngIf="page.isLoad && page.resourceLists.length === 0">
		<img style="width: 19.3rem;" src="./assets/imgs/no-data.png" alt="无数据">
		<p text-center style="color: #9D9D9E;font-size: 14px">
			暂无数据
		</p>
	</ion-list>

</ion-content>
