<ion-header>
    <ion-navbar>
        <ion-title>资料专区</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
  <div class="searchbar" ion-fixed>
    <form class="input">
			<div class="input-box">
				<img (click)="doSearch()" class="search-icon" src="./assets/imgs/home/search@2x.png" alt="搜索">
				<ion-input [(ngModel)]="page.Title"
									 placeholder="请输入资料关键词"
									 [ngModelOptions]="{standalone: true}"
									 (keypress)="search($event)"
									 (ionFocus)="showKey()"
									 autocomplete='off'
				></ion-input>
			</div>
    </form>

    <!--<div class="filter" (click)="doSearch()">-->
      <!--<span>搜索</span>-->
    <!--</div>-->
  </div>
  <ul class="file-lists">
		<li *ngFor="let item of page.resourceLists" (click)="changeCheckType(item.lable)">
			<div class="flex-box">
				<span class="suffix" [ngClass]="setSuffixClass(item.suffix)">{{ item.suffix }}</span>
				<span class="file-type">{{ item.fileType }}</span>
				<span class="download-btn" *ngIf="item.status === 0">下载</span>
				<span class="download-btn success-btn" *ngIf="item.status === 1">预览</span>
			</div>
			<div class="title">{{ item.title }}</div>
			<div class="flex-box">
				<img src="{{ item?.avatar || userDefaultImg }}" class="avatar" alt="头像">
				<span class="author">{{ item.author }}</span>
				<span class="upload-time">上传时间：{{ item.uploadTime }}</span>
			</div>
		</li>
	</ul>

</ion-content>
