<ion-header>
    <ion-navbar>
        <ion-title>{{index + 1}}/{{exam.QnAInfos.length}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ng-container *ngIf="exam.QnAInfos.length > 0">
            <ion-slide *ngFor="let item of exam.QnAInfos;let i = index;">
                <div class="learn-item">
                    <div class="item-container">
                        <div class="item-title">
                            <!--判断题目类型-->
                            <p>
                                {{i + 1}}、
                                <span *ngIf="item.QType == -1">(不限)</span>
                                <span *ngIf="item.QType == 1">(单选)</span>
                                <span *ngIf="item.QType == 2">(多选)</span>
                                <span *ngIf="item.QType == 3">(判断)</span>
                                {{item.QContent}}
                            </p>
                        </div>
                        <div class="item-content">
                            <div class="padding-20-20">
                                <!--单选题-->
                                <ng-container *ngIf="item.QType == 1">
                                    <p *ngIf="item.ChoiceA" [ngClass]="{'active': item.StuAnswer == 'A'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="A"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">A</span>&nbsp;&nbsp;
                                            {{item.ChoiceA}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceB" [ngClass]="{'active': item.StuAnswer == 'B'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="B"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">B</span>&nbsp;&nbsp;
                                            {{item.ChoiceB}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceC" [ngClass]="{'active': item.StuAnswer == 'C'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="C"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">C</span>&nbsp;&nbsp;
                                            {{item.ChoiceC}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceD" [ngClass]="{'active': item.StuAnswer == 'D'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="D"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">D</span>&nbsp;&nbsp;
                                            {{item.ChoiceD}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceE" [ngClass]="{'active': item.StuAnswer == 'E'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="E"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">E</span>&nbsp;&nbsp;
                                            {{item.ChoiceE}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceF" [ngClass]="{'active': item.StuAnswer == 'F'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="F"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">F</span>&nbsp;&nbsp;
                                            {{item.ChoiceF}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceG" [ngClass]="{'active': item.StuAnswer == 'G'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" type="radio" value="G"
                                                   [name]="item.QnAID">
                                            <span class="selectIndex">G</span>&nbsp;&nbsp;
                                            {{item.ChoiceG}}
                                        </label>
                                    </p>
                                </ng-container>
                                <!--多选题-->
                                <ng-container *ngIf="item.QType == 2">
                                    <p *ngIf="item.ChoiceA" [ngClass]="{'active': item.StuAnswer.includes('A')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('A')"
                                                   (change)="mutiSelect(i,'A')"
                                                   value="A" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">A</span>&nbsp;&nbsp;
                                            {{item.ChoiceA}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceB" [ngClass]="{'active': item.StuAnswer.includes('B')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('B')"
                                                   (change)="mutiSelect(i,'B')"
                                                   value="B" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">B</span>&nbsp;&nbsp;
                                            {{item.ChoiceB}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceC" [ngClass]="{'active': item.StuAnswer.includes('C')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('C')"
                                                   (change)="mutiSelect(i,'C')"
                                                   value="C" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">C</span>&nbsp;&nbsp;
                                            {{item.ChoiceC}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceD" [ngClass]="{'active': item.StuAnswer.includes('D')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('D')"
                                                   (change)="mutiSelect(i,'D')"
                                                   value="D" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">D</span>&nbsp;&nbsp;
                                            {{item.ChoiceD}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceE" [ngClass]="{'active': item.StuAnswer.includes('E')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('E')"
                                                   (change)="mutiSelect(i,'E')"
                                                   value="E" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">E</span>&nbsp;&nbsp;
                                            {{item.ChoiceE}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceF" [ngClass]="{'active': item.StuAnswer.includes('F')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('F')"
                                                   (change)="mutiSelect(i,'F')"
                                                   value="F" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">F</span>&nbsp;&nbsp;
                                            {{item.ChoiceF}}
                                        </label>
                                    </p>
                                    <p *ngIf="item.ChoiceG" [ngClass]="{'active': item.StuAnswer.includes('G')}">
                                        <label>
                                            <input type="checkbox" [checked]="item.StuAnswer.includes('G')"
                                                   (change)="mutiSelect(i,'G')"
                                                   value="G" [name]="item.QnAID">
                                            <span class="input-duox selectIndex">G</span>&nbsp;&nbsp;
                                            {{item.ChoiceG}}
                                        </label>
                                    </p>
                                </ng-container>
                                <!--填空-->
                                <ng-container *ngIf="item.QType == 4">
                                    <textarea [(ngModel)]="item.StuAnswer" placeholder="请输入内容..."
                                              class="content-textarea"></textarea>
                                </ng-container>
                                <!--判断题-->
                                <ng-container *ngIf="item.QType == 3">
                                    <p [ngClass]="{'active': item.StuAnswer == '1'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" [name]="item.QnAID" value="1"
                                                   type="radio">
                                            <span class=" selectIndex">A</span>&nbsp;&nbsp;
                                            正确
                                        </label>
                                    </p>
                                    <p [ngClass]="{'active': item.StuAnswer == '0'}">
                                        <label>
                                            <input [(ngModel)]="item.StuAnswer" [name]="item.QnAID" value="0"
                                                   type="radio">
                                            <span class=" selectIndex">B</span>&nbsp;&nbsp;
                                            错误
                                        </label>
                                    </p>
                                </ng-container>
                                <!--问答-->
                                <ng-container *ngIf="item.questionType == 5">
                                    <textarea placeholder="请输入内容..." [(ngModel)]="item.StuAnswer"
                                              class="content-textarea"></textarea>
                                </ng-container>
                            </div>
                        </div>
                        <div *ngIf="SubmitNumber > 1 && item.QAnswer" class="item-answer">
                            答案：
                            <ng-container *ngIf="item.QType == 3">
                                <ng-container *ngIf="item.QAnswer === 1">A</ng-container>
                                <ng-container *ngIf="item.QAnswer === 2">B</ng-container>
                            </ng-container>
                            <ng-container *ngIf="item.QType != 3">{{item.QAnswer}}</ng-container>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ng-container>
    </ion-slides>

    <div class="footer">
        <p class="doIt">已完成：{{doneTotal}}/{{exam.QnAInfos.length}}题</p>
        <div class="outer" style="display: none;">
            <div class="inner" [style.width]="(doneTotal/exam.QnAInfos.length)*100 +'%'"></div>
        </div>
        <div class="footer-subject">
            <div class="submit" tappable (click)="submit(3)">
                <div>确认提交</div>
            </div>
            <div class="saveStuExams" tappable (click)="submit(11)">
                <div>暂存答案</div>
            </div>
            <div class="more" tappable (click)="moreChoice()">
                <ion-icon name="list"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>

<div class="op-tips" *ngIf="opTips == 'true'" tappable (click)="hidden()">
    <div class="op-content">
        <div class="img-op">
            <img src="./assets/imgs/mine/operate-tips.png" alt="">
        </div>
        <div class="btn-op">
            我知道了
        </div>
    </div>
</div>

<div *ngIf="score.show" class="score" tappable (click)="close($event)">
    <div class="content">
        <img src="./assets/imgs/mine/exam-submit.png" alt="">
        <p>作业提交成功</p>
        <p class="number">{{score.score}}</p>
        <p>作业得分</p>
        <p *ngIf="score.score > exam.ExamInfo?.PassScore || score.score == exam.ExamInfo?.PassScore">
            恭喜您，通过本次作业，请点击确定继续学习</p>
        <p *ngIf="score.score < exam.ExamInfo?.PassScore">对不起，作业未通过，请重新学习</p>
        <div class="sureBtn">确定</div>
        <div style="background: none;margin-top: 0" class="lookError" *ngIf="score.score < exam.ExamInfo.PassScore">
            <div (click)="lookError();$event.stopPropagation()">作业回顾</div>
            <div (click)="resetExam();$event.stopPropagation()">重新作业</div>
        </div>
    </div>
</div>
<div *ngIf="score.isDone" class="score" tappable (click)="closeDone($event)">
    <div class="content" style="width: 60%">
        <img class="tips" src="./assets/imgs/test/test-tips@2x.png">
        <p>温馨提示</p>
        <p class="number  test">
            题目未完成，无法提交作业，请左右滑动切换完成全部题目。
        </p>
        <div class="sureBtn">我知道了</div>
    </div>
</div>
