<ion-header>
    <ion-navbar>
        <ion-title>{{index +1}}/{{exam.qs.length}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ng-container *ngIf="exam.qs.length > 0">
            <ion-slide *ngFor="let item of exam.qs;let i = index;">
                <div class="learn-item">
                    <div class="item-container">
                        <div class="item-title">
                            <!--判断题目类型-->
                            <p>
                                {{i + 1}}、
                                <span *ngIf="item.QType == -1">(不限)</span>
                                <span *ngIf="item.QType == 1">(单选)</span>
                                <span *ngIf="item.QType == 2">(多选)</span>
                                <span *ngIf="item.QType == 3">(判断)</span>
                                {{item.QContent}}
                            </p>
                        </div>
                        <div class="item-content">
                            <div class="padding-20-20">
                                <!--单选题-->
                                <ng-container *ngIf="item.QType == 1">
                                    <p>
                                        <label>
                                            <input [(ngModel)]="item.QAnswer" type="radio" value="A" [name]="item.ID">
                                            <span class="selectIndex">A</span>&nbsp;&nbsp;
                                            {{item.ChoiceA}}
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input [(ngModel)]="item.QAnswer" type="radio" value="B" [name]="item.ID">
                                            <span class="selectIndex">B</span>&nbsp;&nbsp;
                                            {{item.ChoiceB}}
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input [(ngModel)]="item.QAnswer" type="radio" value="C" [name]="item.ID">
                                            <span class="selectIndex">C</span>&nbsp;&nbsp;
                                            {{item.ChoiceC}}
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input [(ngModel)]="item.QAnswer" type="radio" value="D" [name]="item.ID">
                                            <span class="selectIndex">D</span>&nbsp;&nbsp;
                                            {{item.ChoiceD}}
                                        </label>
                                    </p>
                                </ng-container>
                                <!--多选题-->
                                <ng-container *ngIf="item.QType == 2">
                                    <p>
                                        <label>
                                            <input type="checkbox" (change)="mutiSelect(i,'A')"
                                                   value="A" [name]="item.ID">
                                            <span class="input-duox selectIndex">A</span>&nbsp;&nbsp;
                                            {{item.ChoiceA}}
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="checkbox" (change)="mutiSelect(i,'B')"
                                                   value="B" [name]="item.ID">
                                            <span class="input-duox selectIndex">B</span>&nbsp;&nbsp;
                                            {{item.ChoiceB}}
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="checkbox" (change)="mutiSelect(i,'C')"
                                                   value="C" [name]="item.ID">
                                            <span class="input-duox selectIndex">C</span>&nbsp;&nbsp;
                                            {{item.ChoiceC}}
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="checkbox" (change)="mutiSelect(i,'D')"
                                                   value="D" [name]="item.ID">
                                            <span class="input-duox selectIndex">D</span>&nbsp;&nbsp;
                                            {{item.ChoiceD}}
                                        </label>
                                    </p>
                                </ng-container>
                                <!--填空-->
                                <ng-container *ngIf="item.QType == 4">
                                    <textarea [(ngModel)]="item.answer" class="content-textarea"></textarea>
                                </ng-container>
                                <!--判断题-->
                                <ng-container *ngIf="item.QType == 3">
                                    <p>
                                        <label>
                                            <input [(ngModel)]="item.QAnswer" [name]="item.ID" value="1"
                                                   type="radio">
                                            <span class=" selectIndex">A</span>&nbsp;&nbsp;
                                            正确
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input [(ngModel)]="item.QAnswer" [name]="item.ID" value="0"
                                                   type="radio">
                                            <span class=" selectIndex">B</span>&nbsp;&nbsp;
                                            错误
                                        </label>
                                    </p>
                                </ng-container>
                                <!--问答-->
                                <ng-container *ngIf="item.questionType == 5">
                                    <textarea [(ngModel)]="item.answer" class="content-textarea"></textarea>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ng-container>
    </ion-slides>

    <div class="footer">
        <p class="doIt">已完成：{{doneTotal}}/{{exam.qs.length}}题</p>
        <div class="outer">
            <div class="inner" [style.width]="(doneTotal/exam.qs.length)*100 +'%'"></div>
        </div>
        <div class="footer-subject">
            <div class="submit" (click)="submit()">
                <div>确认提交</div>
            </div>
            <div class="saveStuExams" (click)="saveStuExams()">
                <div>暂存答案</div>
            </div>
            <div class="more" (click)="moreChoice()">
                <ion-icon name="list"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>

<div class="op-tips" *ngIf="opTips == 'true'" (click)="hidden()">
    <div class="op-content">
        <div class="img-op">
            <img src="./assets/imgs/mine/operate-tips.png" alt="">
        </div>
        <div class="btn-op">
            我知道了
        </div>
    </div>
</div>

<div *ngIf="score.show" class="score" (click)="close($event)">
    <div class="content">
        <img src="./assets/imgs/mine/exam-submit.png" alt="">
        <p>作业提交成功</p>
        <p class="number">{{score.score}}</p>
        <p>作业得分</p>
        <div>完成</div>
    </div>
</div>
