<ion-header>
    <ion-navbar>
        <ion-title>{{index +1}}/{{exam.qs.length}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let item of exam.qs;let i = index;">
            <div class="learn-item">
                <div class="item-container">
                    <div class="item-title">
                        <!--判断题目类型-->
                        <p>
                            {{i + 1}}、
                            <span *ngIf="item.QType == -1">(不限)</span>
                            <span *ngIf="item.QType == 1">(单选)</span>
                            <span *ngIf="item.QType == 2">(多选)</span>
                            <span *ngIf="item.QType == 3">(判断)</span>
                            {{item.QContent}}
                        </p>
                    </div>
                    <div class="item-content">
                        <div class="padding-20-20">
                            <!--单选题-->
                            <ng-container *ngIf="item.QType == 1">
                                <p>
                                    <label>
                                        <input [(ngModel)]="item.answer" type="radio" value="A" [name]="item.Owner">
                                        <span class="selectIndex">A</span>&nbsp;&nbsp;
                                        {{item.ChoiceA}}
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input [(ngModel)]="item.answer" type="radio" value="B" [name]="item.Owner">
                                        <span class="selectIndex">B</span>&nbsp;&nbsp;
                                        {{item.ChoiceB}}
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input [(ngModel)]="item.answer" type="radio" value="C" [name]="item.Owner">
                                        <span class="selectIndex">C</span>&nbsp;&nbsp;
                                        {{item.ChoiceC}}
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input [(ngModel)]="item.answer" type="radio" value="D" [name]="item.Owner">
                                        <span class="selectIndex">D</span>&nbsp;&nbsp;
                                        {{item.ChoiceD}}
                                    </label>
                                </p>
                            </ng-container>
                            <!--多选题-->
                            <ng-container *ngIf="item.QType == 2">
                                    <p>
                                        <label>
                                            <input type="checkbox" (change)="mutiSelect('A')"
                                                   value="A" [name]="item.Owner">
                                            <span class="input-duox selectIndex">A</span>&nbsp;&nbsp;
                                            {{item.ChoiceA}}
                                        </label>
                                    </p>
                                <p>
                                    <label>
                                        <input type="checkbox" (change)="mutiSelect('B')"
                                               value="B" [name]="item.Owner">
                                        <span class="input-duox selectIndex">B</span>&nbsp;&nbsp;
                                        {{item.ChoiceB}}
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" (change)="mutiSelect('C')"
                                               value="C" [name]="item.Owner">
                                        <span class="input-duox selectIndex">C</span>&nbsp;&nbsp;
                                        {{item.ChoiceC}}
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" (change)="mutiSelect('D')"
                                               value="D" [name]="item.Owner">
                                        <span class="input-duox selectIndex">D</span>&nbsp;&nbsp;
                                        {{item.ChoiceD}}
                                    </label>
                                </p>
                            </ng-container>
                            <!--填空-->
                            <ng-container *ngIf="item.QType == 4">
                                <textarea [(ngModel)]="item.answer" class="content-textarea"></textarea>
                            </ng-container>
                            <!--判断题-->
                            <ng-container *ngIf="item.QType == 3">
                                <p>
                                    <label>
                                        <input [(ngModel)]="item.answer" [name]="item.questionId" value="1"
                                               type="radio">
                                        <span class=" selectIndex">A</span>&nbsp;&nbsp;
                                        是
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input [(ngModel)]="item.answer" [name]="item.questionId" value="0"
                                               type="radio">
                                        <span class=" selectIndex">B</span>&nbsp;&nbsp;
                                        否
                                    </label>
                                </p>
                            </ng-container>
                            <!--问答-->
                            <ng-container *ngIf="item.questionType == 5">
                                <textarea [(ngModel)]="item.answer" class="content-textarea"></textarea>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>

    <div class="footer-subject">
        <div class="submit" (click)="submit">
            <div>确认提交</div>
        </div>
        <div class="saveStuExams" (click)="saveStuExams()">
            <div>暂存答案</div>
        </div>
        <div class="more" (click)="moreChoice">
            <ion-icon name="list"></ion-icon>
        </div>
    </div>
</ion-content>
