course-list {
  .learn-list {
    padding: 10px;

    .course-item {
      display: flex;
      padding: 5px;

      .item-img {
        width: 40%;
        padding-right: 5px;
        text-align: center;

        img {
          height: 70px;
        }
      }

      .item-desc {
        width: 60%;
        padding-left: 5px;

        > p {
          font-size: 16px;
        }

        .desc {
          color: #999999;
          margin-top: 10px;
        }
      }
    }
  }
}
