 <div class="learn-list">
   <ng-container *ngFor="let item of list" >
     <div class="course-item" tappable (click)="getItem(item)">
       <div class="item-img">
         <img [src]="item?.ImageUrl || defaultImg">
       </div>
       <div class="item-desc">
         <p>{{item?.Title}}</p>
         <div class="desc">
           <span>{{item?.SubjectName}}</span>
           <span><span class="icon iconfont icon-pinglun"></span>{{item?.ManCount}}</span>
           <span><span class="icon iconfont icon-shoucang"></span>{{item?.CollectionCount}}</span>
         </div>
       </div>
     </div>
   </ng-container>
</div>

