page-focus-train {
  .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    > .input {
      // width: 80%;
      // padding: 6px 10px;
      width: 95%;
      padding: 0.7rem 0;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      background-color: #fff;
      .search-icon {
        margin: 0 0.8rem 0 1rem;
        width: 1.6rem;
        height: 1.6rem;
      }
      .text-input-ios {
        margin: 0;
        height: 1.5rem;
        background: rgba(255, 255, 255, 1);
        // margin: 8px;
        // padding-left: 15px;
        width: calc(100% - 2.3rem);
      }
      // ion-input {
      //   border-radius: 15px;
      //   background-color: #fff;

      //   .text-input-ios {
      //     height: 15px;
      //     background: rgba(255, 255, 255, 1);
      //     margin: 8px;
      //     padding-left: 15px;
      //     width: calc(100% - 23px);
      //   }
      // }
    }

    > .filter {
      width: 20%;
      color: #474747;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15px;
        height: 15px;
        margin-right: 6px;
      }
    }
  }

  .learn-list {
    margin-top: 40px;
    padding: 15px 10px;

    .course {
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;
    }

    .course + .course{
      margin-top: 10px;
    }

    .course-item {
      display: flex;
      padding: 10px 0;

      .item-img {
        width: 40%;
        padding-right: 5px;
        text-align: center;

        img {
          border-radius: 5px;
          height: 70px;
          width: 100%;
        }
      }

      .item-desc {
        width: 60%;
        padding-left: 5px;
        display: flex;
        flex-flow: row wrap;

        > p {
          font-size: 1.5rem;
          font-weight: 400;
          color: rgba(0, 0, 0, .9);
          line-height: 1.75rem;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: flex-start;
        }

        .desc {
          align-self: flex-end;
          width: 100%;
          color: #999999;
          margin-top: 10px;
          display: flex;

          img {
            margin-right: 5px;
            width: 18px;
          }

          > span {
            margin-right: 8px;
            display: flex;
            align-items: center;
            font-size: 14px;
          }

          > span:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }

  .course-info {
    padding: 10px 0;
    border-top: 1px solid#DEDEDE;
    position: relative;

    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
      line-height: 17px;
    }

    > div + div {
      margin-top: 10px;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }

  .course-info::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F2F2F2;
  }

  .course-info::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F2F2F2;
  }
}
