<ion-header *ngIf="show">
    <ion-navbar>
        <form class="search-header" action="#">
            <ion-icon class="search-icon" name="search"></ion-icon>
            <ion-input type="search" placeholder="搜索课程" (keypress)="search($event)" (focus)="showKey()" autocomplete='off'
                       [(ngModel)]="page.title" [ngModelOptions]="{standalone: true}"></ion-input>
            <span class="clear" tappable (click)="clear()">取消</span>
        </form>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <course-list [list]="productList" (done)="goCourse($event)"></course-list>
    <ion-list text-center style="margin-top: 10rem" *ngIf="showTips">
        <img style="width: 15%;" src="./assets/imgs/tabs/tab3_off@3x.png">
        <p text-center style="color: #999;font-size: 16px;margin-top: 20px">
            请搜索你想要查找的课程
        </p>
    </ion-list>
    <ion-list text-center style="margin-top: 10rem" *ngIf="!showTips && productList.length == 0">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
