privacy {
  .all {
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
  }

  ion-buttons {
    background-color: #343435;
    color: #fff;
    font-size: 16px;

    button {
      background-color: #343435;
      color: #fff;
      font-size: 16px;
    }
  }
}
