<ion-header>
    <ion-navbar>
        <ion-title>隐私协议</ion-title>
        <ion-buttons start>
            <button (click)="back()">返回</button></ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="all"><p
            style="font-size:18pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:center; widows:0"><span
            style="font-family:宋体; font-size:18pt; font-weight:bold">隐私政策</span></p>
        <p style="font-size:18pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:center; widows:0"><span
                style="font-family:'Times New Roman'; font-size:18pt; font-weight:bold">Privacy Policy</span></p>
        <p style="font-size:18pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:center; widows:0"><span
                style="font-family:宋体; font-size:18pt; font-weight:bold">&#xa0;</span></p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:15pt; font-weight:bold">说明</span></p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">Explana</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">tion</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt">上汽通用五菱汽车股份有限公司（下称“上汽通用五菱”）系</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:11:00'"><span
                    style="font-family:宋体; font-size:10.5pt">培训平台</span></ins>
            <span style="font-family:宋体; font-size:10.5pt">网站</span><span
                    style="font-family:宋体; font-size:10.5pt">（域名</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:09:00'"><span
                    style="font-family:宋体; font-size:10.5pt">https://elearning.sgmw.com.cn/</span></ins>
            <span style="font-family:宋体; font-size:10.5pt">）</span><span
                    style="font-family:宋体; font-size:10.5pt">及客户端</span><span
                    style="font-family:宋体; font-size:10.5pt">（</span>
            <span style="font-family:宋体; font-size:10.5pt">“</span>
            <ins style="-aw-revision-author:'zsn'; -aw-revision-datetime:'2020-03-19T15:59:00'"><span
                    style="font-family:宋体; font-size:10.5pt">骏菱学社</span></ins>
            <span style="font-family:宋体; font-size:10.5pt">”</span><span
                    style="font-family:宋体; font-size:10.5pt">）的</span><span
                    style="font-family:宋体; font-size:10.5pt">所有者，</span><span
                    style="font-family:宋体; font-size:10.5pt">本政策</span><span style="font-family:宋体; font-size:10.5pt">旨在说明上汽通用五菱</span><span
                    style="font-family:宋体; font-size:10.5pt">如何收集、使用、保管您的个人信息，</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">您</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">点击</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">“同意”</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">本</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">隐私政策</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">即表明您</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">已阅读</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">、充分理解并同意本</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">政策</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">的</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">所有</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">内容。</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">SGMW Automobile Co., Ltd. (hereinafter referred to as “SGMW”) is the owner of </span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:11:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">P</span></ins>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:11:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">eixunpingtai</span>
            </ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal"> w</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">ebsite (</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:10:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">https://elearning.sgmw.com.cn/</span>
            </ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">) and the client (hereinafter referred to as</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal"> </span>
            <ins style="-aw-revision-author:'吴张结'; -aw-revision-datetime:'2019-04-11T14:34:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">“</span></ins>
            <ins style="-aw-revision-author:'zsn'; -aw-revision-datetime:'2020-03-19T16:01:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">BAOJUN</span></ins>
            <ins style="-aw-revision-author:'吴张结'; -aw-revision-datetime:'2019-04-11T14:34:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">”</span></ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">). This policy is intended to explain how SGMW collects, uses, and keeps your personal information, </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">by clicking “Agree” this </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">p</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">rivacy </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">p</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">olicy means that you have read, fully understood and agreed to all aspects of this policy.</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-indent:-36pt; widows:0"><span
                style="font-family:宋体; font-size:15pt; font-weight:bold">一、</span><span
                style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:15pt; font-weight:bold">个人信息的收集及</span><span
                style="font-family:宋体; font-size:15pt; font-weight:bold">使用</span></p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; widows:0"><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:bold">Collection and Use of </span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">Personal Information</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt">1</span><span
                style="font-family:宋体; font-size:10.5pt">、</span><span
                style="font-family:宋体; font-size:10.5pt">出于运营管理</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:12:00'"><span
                    style="font-family:宋体; font-size:10.5pt">培训平台</span></ins>
            <span style="font-family:宋体; font-size:10.5pt">的需要</span><span
                    style="font-family:宋体; font-size:10.5pt">，上汽</span><span
                    style="font-family:宋体; font-size:10.5pt">通用五菱有权</span><span
                    style="font-family:宋体; font-size:10.5pt">收集、使用</span><span
                    style="font-family:宋体; font-size:10.5pt">您在</span><span
                    style="font-family:宋体; font-size:10.5pt">使用</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:23:00'"><span
                    style="font-family:宋体; font-size:10.5pt">培训平台</span></ins>
            <span style="font-family:宋体; font-size:10.5pt">期间提供或</span><span style="font-family:宋体; font-size:10.5pt">产生的所有信息（下称</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt">“</span><span
                    style="font-family:宋体; font-size:10.5pt">个人信息</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt">”</span><span
                    style="font-family:宋体; font-size:10.5pt">）</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt">,</span><span
                    style="font-family:宋体; font-size:10.5pt">包括但不限于：</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt">SGMW has the right to, per its operational or managerial need, collect and use all information (hereinafter referred to as “Personal Information”) that you provide or generate during the use of </span>
            <ins style="-aw-revision-author:'zsn'; -aw-revision-datetime:'2020-03-19T16:02:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt">BAOJUN</span></ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt">, including but not limited to:</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">个人身份信息：如您的</span><span
                    style="font-family:宋体; font-size:10.5pt">姓名、性别、出生日期、</span><span
                    style="font-family:宋体; font-size:10.5pt">联系</span><span style="font-family:宋体; font-size:10.5pt">方式、身份证号码、护照号码</span><span
                    style="font-family:宋体; font-size:10.5pt">、手机号码、座机号码、电子邮件、工作/生活照片等</span></li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Personal identi</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ty</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> information: such as your name, gender, date of birth, contact details, ID number, passport number, mobile number, landline number, email,</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">work/</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">life photos, etc.</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">个人岗位信息：岗位、职务、上下级关系</span></li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Personal job information: position, leader-member relation</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt">2、上汽通用五菱、</span><span style="font-family:宋体; font-size:10.5pt">上汽通用五菱的关联</span><span
                style="font-family:宋体; font-size:10.5pt">公司和</span><span
                style="font-family:宋体; font-size:10.5pt">上汽通用五菱或其</span><span
                style="font-family:宋体; font-size:10.5pt">关联</span><span
                style="font-family:宋体; font-size:10.5pt">公司</span><span
                style="font-family:宋体; font-size:10.5pt">签约</span><span
                style="font-family:宋体; font-size:10.5pt">的第三方</span><span
                style="font-family:宋体; font-size:10.5pt">可基于以下</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:bold">目的</span><span
                style="font-family:宋体; font-size:10.5pt">在</span><span
                style="font-family:宋体; font-size:10.5pt">中华</span><span style="font-family:宋体; font-size:10.5pt">人民共和国境内外使用、共享、</span><span
                style="font-family:宋体; font-size:10.5pt">披露、</span><span
                style="font-family:宋体; font-size:10.5pt">存储、维持、处理</span><span
                style="font-family:宋体; font-size:10.5pt">您的</span><span
                style="font-family:宋体; font-size:10.5pt">个人信息</span><span
                style="font-family:宋体; font-size:10.5pt">：</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt">Your </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation will be used, shared, disclosed</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">, </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">stored, maintained and </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">processed </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">domestically or internationally for the following purposes by SGMW, its affiliates and their respective contracted third parties:</span>
        </p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">履行雇主义务</span></li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Perform</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ing </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">employer</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">obligations</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">加强人力资源管理</span></li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">E</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nhancing</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> human resource management</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">提供雇员福利</span></li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Provid</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ing</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> employee benefits</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <a name="OLE_LINK1"></a><a name="OLE_LINK2"><span
                    style="font-family:宋体; font-size:10.5pt">升级或迁移其信息系统</span></a>
            </li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="-aw-bookmark-end:OLE_LINK1"></span><span style="-aw-bookmark-end:OLE_LINK2"></span><span
                style="font-family:宋体; font-size:10.5pt">    </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">Upgrad</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ing</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> or migrat</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ing</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">its</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> information systems</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">保护雇员健康与人身安全</span></li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Protect</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ing</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> health and personal safety</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> of employee</span></p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="background-color:#ffffff; font-family:宋体; font-size:10.5pt">基于法律的要求：</span><span
                    style="font-family:宋体; font-size:10.5pt">根据</span><span style="font-family:宋体; font-size:10.5pt">法律法规的有关规定</span><span
                    style="font-family:宋体; font-size:10.5pt">、</span><span style="font-family:宋体; font-size:10.5pt">应行政或司法执法及监管机构的要求</span><span
                    style="font-family:宋体; font-size:10.5pt">、</span><span style="font-family:宋体; font-size:10.5pt">在诉讼、仲裁等法律或争议解决程序中</span>
            </li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Legal-based requirements: in accordance with the relevant provisions of laws and regulations, at the request of administrative or judicial enforcement and regulatory agencies, </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">applied </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">in litigation, arbitration, etc., or in dispute resolution procedures</span>
        </p>
        <ul type="disc" style="margin:0pt; padding-left:0pt">
            <li style="font-family:serif; font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 9.83pt; orphans:0; padding-left:11.17pt; text-align:justify; text-indent:0pt; widows:0">
                <span style="font-family:宋体; font-size:10.5pt">上汽通用五菱</span><span
                    style="font-family:宋体; font-size:10.5pt">的其他业务目的及/或其他合法目的</span>
            </li>
        </ul>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 21pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">O</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ther business or other lawful purposes of SGMW</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt">3、对</span><span
                style="font-family:宋体; font-size:10.5pt">与</span><span
                style="font-family:宋体; font-size:10.5pt">上汽通用五菱</span><span
                style="font-family:宋体; font-size:10.5pt">共享个人信息的</span><span style="font-family:宋体; font-size:10.5pt">关联方或第三方</span><span
                style="font-family:宋体; font-size:10.5pt">，</span><span style="font-family:宋体; font-size:10.5pt">上汽通用五菱只会共享必要的信息，并且将会</span><span
                style="font-family:宋体; font-size:10.5pt">要求</span><span
                style="font-family:宋体; font-size:10.5pt">其</span><span
                style="font-family:宋体; font-size:10.5pt">遵守保密约定，</span><span style="font-family:宋体; font-size:10.5pt">采取安全措施，</span><span
                style="font-family:宋体; font-size:10.5pt">按</span><span
                style="font-family:宋体; font-size:10.5pt">照</span><span
                style="font-family:宋体; font-size:10.5pt">特定的</span><span style="font-family:宋体; font-size:10.5pt">目的使用、处理您的个人信息。</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt">For affiliated entities </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">or</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> third parties who share </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation with SGMW, SGMW will only share the necessary information and will require </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">them</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> to comply with the confidentiality agreement, take security measures, and use </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">or</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">process </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">your </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">for specific purposes. </span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">4</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">、</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:bold">根据相关法律法规及国家标准，在以下情形中，上汽通用五菱可能会依法共享、转让、公开披露您的个人信息无需征得您的同意：</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">According to relevant laws and regulations and national standards, SGMW may share, transfer or disclose your </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">nformation without </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">obtaining </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">your consen</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">t</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">:</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; text-indent:-36pt; widows:0">
            <span style="font-family:宋体; font-size:10.5pt">（1）</span><span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:10.5pt">与国家安全、国防安全直接相关的；</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Directly </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">r</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">elating to national security or </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">national defence</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> security;</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; text-indent:-36pt; widows:0">
            <span style="font-family:宋体; font-size:10.5pt">（</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">2</span><span
                style="font-family:宋体; font-size:10.5pt">）</span><span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:10.5pt">与公共安全、公共卫生、重大公共利益直接相关的；</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Directly relating to public security, public health and significant public interest</span><span
                style="font-family:宋体; font-size:10.5pt">；</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; text-indent:-36pt; widows:0">
            <span style="font-family:宋体; font-size:10.5pt">（3）</span><span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:10.5pt">与犯罪侦查、起诉、审判和判决执行等直接相关的；</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">D</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">irectly related to criminal investigation, prosecution</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">, </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">trial </span>
            <ins style="-aw-revision-author:'吴张结'; -aw-revision-datetime:'2019-04-11T14:41:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt">or </span></ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt">judgment execution;</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; text-indent:-36pt; widows:0">
            <span style="font-family:宋体; font-size:10.5pt">（4）</span><span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:10.5pt">出于维护您或其他个人的生命、财产等重大合法权益但又很难得到您本人同意的；</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">T</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">o protect life and property of you or other individuals</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> while it</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">’</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">s hard to obtain your consent</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">;</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; text-indent:-36pt; widows:0">
            <span style="font-family:宋体; font-size:10.5pt">（5）</span><span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:10.5pt">您自行向社会公众公开的个人信息；</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Personal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation that you disclose to the public on your own;</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; text-indent:-36pt; widows:0">
            <span style="font-family:宋体; font-size:10.5pt">（6）</span><span style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:10.5pt">从合法公开披露的信息中收集的个人信息，例如：合法的新闻报道、政府信息公开等渠道。</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-align:justify; widows:0">
            <span style="font-family:'Times New Roman'; font-size:10.5pt">Personal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation collected from legally </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">and </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">publicly disclosed information, such as l</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">awful</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> news reports, government information disclosure and other channels.</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 8pt 36pt; text-indent:-36pt"><span
                style="font-family:宋体; font-size:15pt; font-weight:bold">二、</span><span
                style="font:7.0pt 'Times New Roman'">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; </span><span
                style="font-family:宋体; font-size:15pt; font-weight:bold">个人信息的保护</span></p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 8pt"><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">P</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">rotection of </span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">P</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">I</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">nformation</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">上汽通用五菱</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">将采取一切必要和可行的步骤，以确保个人信息的安全性，避免意外或未经授权的访问，或其他不当使用。</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">例如采用加密技术确保个人信息的机密性；部署访问控制机制确保只有授权人员才可以访问该等信息；使用保护机制防止数据遭受恶意攻击；以及加强个人信息安全的培训与宣贯，提高个人信息保护意识。</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:bold">您在此了解任何安全措施都无法做到百分之百的安全。</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt">SGMW will</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> take all necessary and practicable steps to ensure</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> security of</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> and </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">to avoid accidental or unauthorized access, or other improper use. For example, encryption technology is used to ensure the confidentiality of </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation; deployment of access control mechanisms ensures that only authorized personnel can access such information; protection mechanisms are used to prevent data from being maliciously attacked; and training and publicity of </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation security </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">are used </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">to enhance </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">P</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">ersonal </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">I</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">nformation protection</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt"> a</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">warenes</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt">s. </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">You are aware that no security measures can be 100% secure.</span>
        </p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; widows:0"><span
                style="font-family:宋体; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:18pt; line-height:150%; margin:0pt 0pt 10pt 36pt; orphans:0; text-indent:-36pt; widows:0"><span
                style="font-family:宋体; font-size:18pt">三、</span><span
                style="font-family:宋体; font-size:18pt">隐私政策更新</span>
        </p>
        <p style="font-size:15pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; widows:0"><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">U</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">pdate</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal"> of P</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">rivacy</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal"> P</span><span
                style="font-family:'Times New Roman'; font-size:15pt; font-weight:normal">olicy</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; widows:0"><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">上汽通用五菱</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">有权不时更新本</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">政策</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">并</span><span
                style="font-family:宋体; font-size:10.5pt; font-weight:normal">以在</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:21:00'"><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">培训平台</span></ins>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">上公告</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">或其他合理</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">的方式向您提供更新后</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">的</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">隐私</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">政策</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:normal">。</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">您在此明确同意，</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">上汽通用五菱</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">根据本款所采取的方式合理且足以使您了解本</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">政策</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">的相关变更，并且本</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">政策</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">最新有效的版本适用</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">政策更新前后收集的</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">您的</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">所有</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">个人信息。</span><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">如果您不同意更新后的隐私政策，请与</span>
            <ins style="-aw-revision-author:'Xiaoling'; -aw-revision-datetime:'2020-03-19T16:21:00'"><span
                    style="font-family:宋体; font-size:10.5pt; font-weight:bold">培训平台</span></ins>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:bold">在线客服联系。</span></p>
        <p style="font-size:10.5pt; line-height:150%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">SGMW</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal"> has the right to update this policy from time to time and will give notice of the updated privacy polic</span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">y </span><span
                style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">by posting a notice on the </span>
            <ins style="-aw-revision-author:'zsn'; -aw-revision-datetime:'2020-03-19T16:02:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal">BAOJUN</span></ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:normal"> or other reasonable means. </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">You expressly </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">agree</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> that the notice method </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">taken by </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">SGMW</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">is </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">reasonable and is </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">sufficient to inform </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">you of </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">the changes to this</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> policy</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">, and that the </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">latest</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> updated version of this </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">policy </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">will apply to your</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> all</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> Personal Information</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> collected before and after policy update</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">.</span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">If you do not agree to the updated privacy policy, please contact </span>
            <ins style="-aw-revision-author:'zsn'; -aw-revision-datetime:'2020-03-19T16:02:00'"><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">BAOJUN</span></ins>
            <span style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold"> </span><span
                    style="font-family:'Times New Roman'; font-size:10.5pt; font-weight:bold">online customer service.</span>
        </p>
    </div>
</ion-content>
