page-integral-verify {
  .item {
    display: flex;
    padding: 2rem;
    border-bottom: 1px solid #dddddd;
    font-size: 1.3rem;

    .left {
      width: 80%;

      p {
        margin-bottom: .6rem;
      }

      > p:first-child {
        font-size: 1.6rem;
        margin-top: .6rem;
        font-weight: bolder;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
    }

    .right {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
