<!--component html goes here -->
<ion-header>
  <ion-navbar>
    <ion-title>详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="details">
        <h4>{{data.Name}}</h4>
        <div class="time">{{data.LableName}} /  {{data.ReleaseTime}}</div>
        <div class="inner-html">
          <span [innerHTML]='data.Mark'></span>
        </div>
    </div>
  
    <div class="information-ul">
        <h3>相关推荐</h3>
        <div class="information-list img1" tappable (click)="goComponentsdetails(item)" *ngFor="let item of RelationArr">
            <div class="list-time">
                <h4 class="nowrap-2">{{item.Name}}</h4>
                <div class="time">
                  {{item.ReleaseTime}}
                </div>
            </div>
            <div class="imgdiv">
                <img [src]="item.ImageURL" alt="">
            </div>
        </div>
    </div>
</ion-content>