<!--component html goes here -->
<ion-header>
  <ion-navbar>
    <ion-title>详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="details">
    <h4>四强联手，75个销售网点，6000亿五菱印尼金融公司始航</h4>
    <div class="time">销冠风采 / 2019-08-07 18:39</div>
    <div class="inner-html">
      <!-- <span [innerHTML]='data.Text'></span> -->
      <p>
        5月9日，上汽通用五菱多元金融印尼公司（“五菱印尼金融”）的开业典礼在印尼雅加达举行，印尼金融监管机构OJK、金融公司行业协会APPI、上汽集团、美国通用汽车金融、印尼公司、金光金融、经销商集团、银行保险和业务合作机构等近180位嘉宾出席此次活动，标志着上汽金融的第一家海外金融公司在印尼正式投入运营，这也是上汽集团和美国通用金融在金融领域深化合作的新尝试，推动五菱印尼金融为印尼消费者提供更优质专业的金融服务迎来新的宝贵机遇和广阔空间。

      </p>
      <img src="./assets/imgs/consultation/InformationDetails@3x.jpg" alt="">

    </div>
  </div>

  <div class="information-ul">
    <h3>相关推荐</h3>
    <div class="information-list img1">
      <div class="list-time">
        <h4>新宝骏RM-5 RC-6 全擎上市 全擎在线、智能出行</h4>
        <div class="time">
          2019-09-11 08:23
        </div>
      </div>
      <div class="imgdiv">
        <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
      </div>
    </div>
    <div class="information-list img1">
        <div class="list-time">
          <h4>新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行</h4>
          <div class="time">
            2019-09-11 08:23
          </div>
        </div>
        <div class="imgdiv">
          <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
        </div>
      </div>

      <div class="information-list img1">
          <div class="list-time">
            <h4>新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行</h4>
            <div class="time">
              2019-09-11 08:23
            </div>
          </div>
          <div class="imgdiv">
            <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
          </div>
        </div>
    

    <!-- <div class="information-list img1" *ngFor="let item of RelationArr">
          <div class="list-time">
              <h4>{{item.Title}}</h4>
              <div class="time">
                {{item.ReleaseTime|date:'yyyy-MM-dd hh:mm'}}
              </div>
          </div>
          <div class="imgdiv">
              <img [src]="item.SourceURL" alt="">
          </div>
      </div> -->
  </div>
</ion-content>