<ion-header>
    <ion-navbar>
        <ion-title>岗位认证</ion-title>
        <div class="top-box">
          <span class="top-right" (click)="showActionSheet()">
            <span>岗位切换</span>
            <img src="assets/imgs/advanced/rzjj_xz@2x.png" alt="">
          </span>
        </div>
    </ion-navbar>
</ion-header>

<ion-content>

  <div class="user-box">
    <div class="img-head">
      <img src="https://sgmw-sales-assistant.obs.cn-south-1.myhuaweicloud.com:443/people-management_c89a6d71-7d19-4c57-b531-59fa3381686f.jpg" alt="头像">
    </div>
    <span class="name-text">888</span>
    <span class="now-level">{{ page.levelTypeText }}</span>
  </div>

  <div class="level-box">
    <div class="rule-tip">
      <span>销售顾问岗位分级</span>
      <span class="rule-tip-text">
        <img class="rule-icon" src="assets/imgs/advanced/rule-icon.png" alt="">
        销售顾问岗位分级
      </span>
    </div>
    <div class="progress-box">
      <div class="progress-bar-bg"></div>
      <div class="progress-bar"></div>
    </div>

    <ul class="level-type-box">
      <li>新入职</li>
      <li class="actived">实习顾问</li>
      <li>销售顾问</li>
      <li>体验专家</li>
    </ul>
  </div>

  <div class="lists-box">

    <div class="nav-type">
      <div class="nav-box">
        <div class="btn-box">

          <div (click)="changeNav(navIndex, item.isActived)" *ngFor="let item of page.navliArr; let navIndex = index" class="type-btn" [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}
            <span class="item-line"></span>
          </div>

        </div>
      </div>
    </div>

    <div class="sec-nav-type">
      <div class="nav-box">
        <div class="btn-box">

          <div (click)="changeSecNav(navSecIndex, item.isActived)" *ngFor="let item of page.courseTypeArr; let navSecIndex = index" class="type-btn" [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}
            <span class="item-line"></span>
          </div>

        </div>
      </div>
    </div>

  </div>

</ion-content>
