<ion-header>
    <ion-navbar>
        <ion-title>学习路径</ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="page.levelInformation">

  <div class="level-top" *ngIf="page.levelInformation.length>4">
    <img *ngIf="page.nowLevel === 0" class="bg" src="assets/imgs/advanced/level-0.png" alt="当前阶级(新进销售顾问)">
    <img *ngIf="page.nowLevel === 1" class="bg" src="assets/imgs/advanced/level-1.png" alt="当前阶级(实习顾问)">
    <img *ngIf="page.nowLevel === 2" class="bg" src="assets/imgs/advanced/level-2.png" alt="当前阶级(销售顾问)">
    <img *ngIf="page.nowLevel === 3" class="bg" src="assets/imgs/advanced/level-3.png" alt="当前阶级(资深顾问)">
    <img *ngIf="page.nowLevel === 4" class="bg" src="assets/imgs/advanced/level-4.png" alt="当前阶级(体验专家)">
    <div class="posi-box">
      <div class="content" [ngClass]="{ 'first-level': page.nowLevel === 0 }">
        <span *ngIf="page.nowLevel === 0" class="level-text-left" style="color: rgba(255, 255, 255, 0.6);">{{page.levelInformation[0].Level}}</span>
        <span *ngIf="page.nowLevel === 1" class="level-text-left" style="color: #FFC9B1;">{{page.levelInformation[1].Level}}</span>
        <span *ngIf="page.nowLevel === 2" class="level-text-left" style="color: #708591;">{{page.levelInformation[2].Level}}</span>
        <span *ngIf="page.nowLevel === 3" class="level-text-left" style="color: #EAC23A;">{{page.levelInformation[3].Level}}</span>
        <span *ngIf="page.nowLevel === 4" class="level-text-left" style="color: #9549BC;">{{page.levelInformation[4].Level}}</span>

        <img *ngIf="page.nowLevel >= 1" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
        <img *ngIf="page.nowLevel < 1" class="level-logo" src="assets/imgs/advanced/logo-default.png" alt="未点亮图标">
        <img *ngIf="page.nowLevel >= 2" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
        <img *ngIf="page.nowLevel < 2" class="level-logo" src="assets/imgs/advanced/logo-default.png" alt="未点亮图标">
        <img *ngIf="page.nowLevel >= 3" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
        <img *ngIf="page.nowLevel < 3" class="level-logo" src="assets/imgs/advanced/logo-default.png" alt="未点亮图标">
        <img *ngIf="page.nowLevel >= 4" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
        <img *ngIf="page.nowLevel < 4" class="level-logo" src="assets/imgs/advanced/logo-default.png" alt="未点亮图标">
        <span class="level-text-right">当前<br>等级</span>
      </div>
    </div>
  </div>

  <div *ngIf="page.levelInformation.length > 4" class="level-box">
    <div class="level4" (click)="goAdvancedLists(page.levelInformation[4])">
      <img class="bg" src="assets/imgs/advanced/level-4-advanced.png" alt="体验专家">
      <div class="posi-box">
        <div class="content">
          <span class="level-name">{{page.levelInformation[4].Level}}</span>
          <span class="level-status">{{ page.nowLevel >= 4 ? '已完成' : page.nowLevel == 3 ? '进行中' : '' }}</span>
          <img *ngIf="page.nowLevel >= 4" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
          <img *ngIf="page.nowLevel < 4 && page.nowLevel !== 3" class="level-lock" src="assets/imgs/advanced/lock-icon.png" alt="lock图标">
        </div>
      </div>
    </div>

    <div class="line-box" [ngClass]="{ 'now-level-box': page.nowLevel === 3 }">
      <!--默认 进度条虚线-->
      <div *ngIf="page.nowLevel <= 3" class="default_progress p_level4" [ngClass]="{ 'now-level': page.nowLevel === 3 }"></div>
      <!--进行中 进度条粗实线 -->
      <div *ngIf="page.nowLevel === 3" class="in_progress p_level4" [ngClass]="{ 'now-level': page.nowLevel === 3 }" [ngStyle]="{'height': (page.nowProgress / 100 * 8.5) + 'rem' }"></div>
      <!--已完成 进度条细实线 -->
      <div *ngIf="page.nowLevel > 3" class="finish_progress p_level4"></div>

      <div *ngIf="page.nowLevel === 3" class="line-text-box" (click)="goAdvancedLists(page.levelInformation[4])">
        <div class="box-text">
          <span class="text-p">{{page.nowProgress  * 100}}%</span>
          <span class="text-l">学习进度</span>
        </div>
        <div class="gl">再接再厉 更上一层！</div>
      </div>

    </div>
  </div>

  <div *ngIf="page.levelInformation.length > 3" class="level-box">
    <div class="level3" (click)="goAdvancedLists(page.levelInformation[3])">
      <img class="bg" src="assets/imgs/advanced/level-3-advanced.png" alt="高级">
      <div class="posi-box">
        <div class="content">
          <span class="level-name">{{page.levelInformation[3].Level}}</span>
          <span class="level-status">{{ page.nowLevel >= 3 ? '已完成' : page.nowLevel == 2 ? '进行中' : '' }}</span>
          <img *ngIf="page.nowLevel >= 3" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
          <img *ngIf="page.nowLevel < 3 && page.nowLevel !== 2" class="level-lock" src="assets/imgs/advanced/lock-icon.png" alt="lock图标">
        </div>
      </div>
    </div>

    <div class="line-box" [ngClass]="{ 'now-level-box': page.nowLevel === 2 }">
      <!--默认 进度条虚线-->
      <div *ngIf="page.nowLevel <= 2" class="default_progress p_level3" [ngClass]="{ 'now-level': page.nowLevel === 2 }"></div>
      <!--进行中 进度条粗实线 -->
      <div *ngIf="page.nowLevel === 2" class="in_progress p_level3" [ngClass]="{ 'now-level': page.nowLevel === 2 }" [ngStyle]="{'height': (page.nowProgress / 100 * 8.5) + 'rem' }"></div>
      <!--已完成 进度条细实线 -->
      <div *ngIf="page.nowLevel > 2" class="finish_progress p_level3"></div>

      <div *ngIf="page.nowLevel === 2" class="line-text-box" (click)="goAdvancedLists(page.levelInformation[3])">
        <div class="box-text">
          <span class="text-p">{{page.nowProgress  * 100}}%</span>
          <span class="text-l">学习进度</span>
        </div>
        <div class="gl">再接再厉 更上一层！</div>
      </div>
    </div>
  </div>

  <div *ngIf="page.levelInformation.length > 2" class="level-box">
    <div class="level2" (click)="goAdvancedLists(page.levelInformation[2])">
      <img class="bg" src="assets/imgs/advanced/level-2-advanced.png" alt="中级">
      <div class="posi-box">
        <div class="content">
          <span class="level-name">{{page.levelInformation[2].Level}}</span>
          <span class="level-status">{{ page.nowLevel >= 2 ? '已完成' : page.nowLevel == 1 ? '进行中' : '' }}</span>
          <img *ngIf="page.nowLevel >= 2" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
          <img *ngIf="page.nowLevel < 2 && page.nowLevel !== 1" class="level-lock" src="assets/imgs/advanced/lock-icon.png" alt="lock图标">
        </div>
      </div>
    </div>

    <div class="line-box" [ngClass]="{ 'now-level-box': page.nowLevel === 1 }">
      <!--默认 进度条虚线-->
      <div *ngIf="page.nowLevel <= 1" class="default_progress p_level2" [ngClass]="{ 'now-level': page.nowLevel === 1 }"></div>
      <!--进行中 进度条粗实线 -->
      <div *ngIf="page.nowLevel === 1" class="in_progress p_level2" [ngClass]="{ 'now-level': page.nowLevel === 1 }" [ngStyle]="{'height': (page.nowProgress / 100 * 8.5) + 'rem' }"></div>
      <!--已完成 进度条细实线 -->
      <div *ngIf="page.nowLevel > 1" class="finish_progress p_level2"></div>

      <div *ngIf="page.nowLevel === 1" class="line-text-box" (click)="goAdvancedLists(page.levelInformation[2])">
        <div class="box-text">
          <span class="text-p">{{page.nowProgress  * 100}}%</span>
          <span class="text-l">学习进度</span>
        </div>
        <div class="gl">再接再厉 更上一层！</div>
      </div>
    </div>
  </div>

  <div *ngIf="page.levelInformation.length > 1" class="level-box">
    <div class="level1"  (click)="goAdvancedLists(page.levelInformation[1])">
      <img class="bg" src="assets/imgs/advanced/level-1-advanced.png" alt="初级">
      <div class="posi-box">
        <div class="content">
          <span class="level-name">{{page.levelInformation[1].Level}}</span>
          <span class="level-status">{{ page.nowLevel >= 1 ? '已完成' : '进行中' }}</span>
          <img *ngIf="page.nowLevel >= 1" class="level-logo" src="assets/imgs/advanced/logo-actived.png" alt="点亮图标">
          <!--<img *ngIf="page.nowLevel < 1 && page.nowLevel !== 0" class="level-lock" src="assets/imgs/advanced/lock-icon.png" alt="lock图标">-->
        </div>
      </div>
    </div>

    <div class="line-box" [ngClass]="{ 'now-level-box': page.nowLevel === 0 }">
      <!--默认 进度条虚线-->
      <div *ngIf="page.nowLevel <= 0" class="default_progress p_level1" [ngClass]="{ 'now-level': page.nowLevel === 0 }"></div>
      <!--进行中 进度条粗实线 -->
      <div *ngIf="page.nowLevel === 0" class="in_progress p_level1" [ngClass]="{ 'now-level': page.nowLevel === 0 }" [ngStyle]="{'height': (page.nowProgress / 100 * 8.5) + 'rem' }"></div>
      <!--已完成 进度条细实线 -->
      <div *ngIf="page.nowLevel > 0" class="finish_progress p_level1"></div>

      <div *ngIf="page.nowLevel === 0" class="line-text-box" (click)="goAdvancedLists(page.levelInformation[1])">
        <div class="box-text">
          <span class="text-p">{{page.nowProgress * 100}}%</span>
          <span class="text-l">学习进度</span>
        </div>
        <div class="gl">再接再厉 更上一层！</div>
      </div>
    </div>
  </div>

  <div *ngIf="page.levelInformation.length > 0" class="level0">
    <img class="bg zero" src="assets/imgs/advanced/level-0-advanced.png" alt="新进销售顾问">
    <div class="posi-box">
      <div class="content">
        <span class="level-name">{{page.levelInformation[0].Level}}</span>
      </div>
    </div>
  </div>

</ion-content>
