<ion-header>
  <ion-navbar>
    <!-- <button ion-button clear navPop>
      <ion-icon ios="ios-arrow-back"></ion-icon>
    </button>   -->
    <ion-title class="my-title">岗位认证</ion-title>
    <div class="top-box">
          <span class="top-right" (click)="showActionSheet()">
            <span>岗位切换</span>
            <!--<img src="assets/imgs/advanced/rzjj_xz@2x.png" alt="">-->
          </span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="user-box">
    <div class="img-head">
      <img src="{{page.mineInfo?.HeadPhoto}}" alt="头像">
    </div>
    <span class="name-text">{{page.mineInfo?.UserName}}</span>
    <span class="now-level">{{ page.levelTypeText }}</span>
  </div>

  <div class="level-box">
    <div class="rule-tip">
      <span>{{ page.levelTypeText }}岗位分级</span>
      <span class="rule-tip-text" (click)="getModalData()">
        <!--<img class="rule-icon" src="assets/imgs/advanced/rule-icon.png" alt="">-->
        岗位说明
      </span>
    </div>
    <div class="progress-box">
      <div class="progress-bar-bg"></div>
      <!-- 第一个砖石边上多了宽度 -->
      <!--<div *ngIf="page.nowProgress === 0 && page.nowLevel === 0" class="progress-bar" style="width: 6.1%;">-->
        <!--<span class="process-text">0%</span>-->
      <!--</div> page.nowProgress && page.nowProgress !== 0 && page.nowLevel === 0 &&  -->
      <div *ngIf="page.levelInformation.length > 0 && page.nowLevel + 1 !== page.levelInformation[page.levelInformation.length - 1].Hierarchy" class="progress-bar" [ngStyle]="{'width': ((1 - 0.122)/(page.levelInformation.length-1) * page.nowLevel * 100) + (((1 - 0.122)/(page.levelInformation.length-1)* page.nowProgress + (0.122/2)) * 100) + '%' }">
        <span class="process-text">{{ (page.nowProgress * 100).toFixed(0) }}%</span>
      </div>
      <div *ngIf="page.levelInformation.length > 0 && page.nowLevel + 1 === page.levelInformation[page.levelInformation.length - 1].Hierarchy" class="progress-bar" style="width: 100%;">
        <span class="process-text">100%</span>
      </div>
      <!--<span *ngIf="page.levelInformation.length > 0">{{page.nowLevel + 1}}{{page.levelInformation[page.levelInformation.length - 1].Hierarchy}}</span>-->

    </div>

    <div class="level-scroll-box">
      <ul class="level-type-box">
        <li *ngFor="let item of page.levelInformation; let levelTypeIndex = index" (click)="switchLevel(levelTypeIndex, item.Hierarchy > page.nowLevel + 1)" [ngClass]="{'actived': item.actived, 'disabled': item.Hierarchy > page.nowLevel + 1}">
          <img *ngIf="!item.actived"  class="level-point" src="./assets/imgs/new_version/advanced/level-point.png"/>
          <img *ngIf="item.actived" item.actived class="level-point" src="./assets/imgs/new_version/advanced/level-point-active.png"/>
          <!--LV{{ levelTypeIndex + 1 }}-->
          {{ item.LevelLableCode }}
           <!--<div [innerHTML]="assembleHTML(item.LevelText)"></div>-->
        </li>
      </ul>
    </div>
  </div>

  <div class="lists-box">

    <div class="nav-type">
      <div class="nav-box">
        <div class="btn-box">

          <div (click)="changeNav(navIndex, item.isActived)" *ngFor="let item of page.navliArr; let navIndex = index" class="type-btn" [ngClass]="{'actived': item.isActived}">
            {{ item.navBtnText }}
            <span class="item-line"></span>
          </div>

        </div>
      </div>
    </div>

    <!-- 课程列表 -->
    <div *ngIf="page.navliArr[0].isActived === true">
      <!-- 二级nav -->
      <!--<div class="sec-nav-type">-->
        <!--<div class="nav-box">-->
          <!--<div class="btn-box">-->

            <!--<div *ngFor="let item of page.courseTypeArr; let navSecIndex = index">-->
              <!--<div *ngIf="navSecIndex !== 3"-->
                   <!--(click)="changeSecNav(navSecIndex, item.isActived)"-->
                   <!--class="type-btn"-->
                   <!--[ngClass]="{'actived': item.isActived}">-->
                <!--{{ item.navBtnText }}-->
                <!--<span class="item-line"></span>-->
              <!--</div>-->
              <!--<div *ngIf="navSecIndex === 3"-->
                   <!--(click)="goAdvancedLists()"-->
                   <!--class="type-btn"-->
                   <!--[ngClass]="{'actived': item.isActived}">-->
                <!--{{ item.navBtnText }}-->
                <!--<span class="item-line"></span>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!-- 二级nav -->

      <div *ngFor="let item of page.navliArr[0].lists; let courseIndex = index">
        <div class="course-li" (click)="goCourse(item)">
          <img [src]="item.ImageUrl || page.defaultImg" alt="课程图片">
          <div class="course-right">
            <div class="title article">
              {{ item.Title }}
            </div>
            <div class="SubjectName">
              {{item.SubjectName}}
            </div>
            <div class="status" *ngIf="item.studystate === 0">
              <img src="./assets/imgs/new_version/advanced/not-start.png"/>
              未开始
            </div>
            <div class="status" *ngIf="item.studystate === 1">
              <img src="./assets/imgs/new_version/advanced/doing.png"/>
              进行中
            </div>
            <div class="status" *ngIf="item.studystate === 2 || item.studystate === -1">
              <img src="./assets/imgs/new_version/advanced/finish.png"/>
              已完成
            </div>
          </div>
        </div>
      </div>

      <ion-list text-center style="margin-top: 2.5rem;text-align: center;text-align: center;" *ngIf="page.navliArr[0].lists.length === 0 && page.isLoaded">
        <img style="width: 19.3rem;" src="./assets/imgs/no-data.png" alt="无数据">
        <p text-center style="color: #9D9D9E;font-size: 14px">
          暂无数据
        </p>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载中"></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
    <!-- 课程列表 end -->
    <!-- 考试列表 -->
    <div *ngIf="page.navliArr[1].isActived === true">

      <div *ngFor="let item of page.navliArr[1].lists; let examIndex = index">
        <div class="item-exam" (click)="goExam(item)">
          <div class="exam-li">
            <img [src]="item.PictureSrc || page.defaultImg" alt="课程图片">
            <div class="exam-right">
              <div class="title">{{ item.EName }}</div>
              <div class="achievement">本场考试：{{ item.PassScore + '分通过' }}</div>
              <div class="right_bottom">
                <div class="status" *ngIf="item.StudyState === 1">
                  <img src="./assets/imgs/new_version/advanced/not-start.png"/>
                  未开始
                </div>
                <div class="status" *ngIf="item.StudyState === 2">
                  <img src="./assets/imgs/new_version/advanced/doing.png"/>
                  进行中
                </div>
                <div class="status" *ngIf="item.StudyState === 3">
                  <img src="./assets/imgs/new_version/advanced/finish.png"/>
                  已完成
                </div>
                <span>时间：{{ item.ExamTimer === 0 ? '不限时' : item.ExamTimer + '分钟' }}</span>
                <div class="status success" *ngIf="item.TotalScore >= item.PassScore">
                  <img src="assets/imgs/advanced/logo-actived.png"/>
                  <!-- <img src="assets/imgs/advanced/status-finish.png"/> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-list text-center style="margin-top: 2.5rem;text-align: center;text-align: center;" *ngIf="page.navliArr[1].lists.length === 0 && page.isLoaded">
        <img style="width: 19.3rem;" src="./assets/imgs/no-data.png" alt="无数据">
        <p text-center style="color: #9D9D9E;font-size: 14px">
          暂无数据
        </p>
      </ion-list>

    </div>
    <!-- 考试列表 end -->

  </div>

</ion-content>
