<ion-header>
    <ion-navbar>
        <ion-title>我的问卷</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <navbar [list]="navbarList" [select]="1" (done)="changeType($event)"></navbar>
    <div class="exam">
        <ng-container *ngFor="let item of examList">
            <div class="space"></div>
            <div class="item" style="padding: 10px 5px;" tappable (click)="goExam(item)">
                <div class="test-item">
                    <div class="test-item-image">
                        <img [src]="item.PictureSrc" alt="">
                    </div>
                    <div class="test-item-desc">
                        <p class="courseName">{{item.EName}}</p>
                        <p class="eName">
                            <img src="./assets/imgs/test/cate@3x.png">
                            <span>{{item.SubjectName}}</span>
                        </p>
                    </div>
                </div>
                <div *ngIf="page.StudyState != 1" class="outer">
                    <div class="inner" [style.width]="(item.FinishCount/item.QuesCount)*100 +'%'"></div>
                </div>
                <p style="margin-top: 10px" *ngIf="page.StudyState == 2">已完成: {{((item.FinishCount/item.QuesCount)*100).toFixed(0) +'%'}}</p>
                <p style="margin-top: 10px" *ngIf="page.StudyState == 3">
                    <span class="examScore">
                        <img src="./assets/imgs/mine/exam-submit.png">已提交
                    </span>
                    <span class="examTime">提交时间：{{item.EndTime | date:'MM-dd HH:mm:ss'}}</span>
                </p>
            </div>
        </ng-container>
    </div>
    <ion-list text-center style="margin-top: 10rem" *ngIf="examList.length == 0 && page.load">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
