page-course-type {
  .ion-content {
    background-color: #F8F8F8;
  }

  .toolbar-ios {
    min-height: 57px;
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    background-color: #F8F8F8;
  }
  .nav-title {
    margin-left: 1.7rem;
    font-size: 19px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #000000;
  }

  .scroll-content {
    overflow-y: hidden;
  }

  .back-button.show-back-button {
    display: none;
  }

  .text-input-ios {
    margin: 7px 8px 7px 0;
    padding: 0;
    width: calc(100% - 8px);
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border: none;
  }

  .searchToolBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
  }

  .toolbar-background-ios {
    border-bottom: none;
  }

  .search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 0.9rem;
    position: relative;
    width: 24.7rem;
    height: 3.2rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    border: 1px solid #EEEEEE;
    .search-icon {
      margin-left: 1.5rem;
      margin-right: 0.6rem;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .clear {
    color: #ffffff;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
  }

  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .container-type {
    display: flex;
    height: 100%;

    .left {
      font-size: 1.5rem;
      width: 9.1rem;
      overflow-y: scroll;
      padding-bottom: 60px;

      p {
        display: flex;
        align-items: center;
        height: 5.4rem;
        padding: 0 0.6rem 0 1.7rem;

        span {
          line-height: 1.8rem;
          max-height: 3.6rem;
          overflow: hidden;
        }
      }
    }

    .right {
      width: 28.4rem;
      background-color: #fff;
      padding: 0 10px;
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 60px;
      color: #5D5D5D;

      .ch {
        position: relative;
        margin-top: 1.5rem;
        margin-bottom: 1.6rem;
        padding: 0 1.3rem 0 1rem;
        box-sizing: border-box;
        height: 2.3rem;
        line-height: 2.3rem;
        font-size: 1.4rem;
        font-weight: 500;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 0.4rem;
          width: 0.4rem;
          border-radius: 0.2rem;
          background-color: #5D5D5D;
        }
        ion-icon {
          vertical-align: middle;
          margin-left: 5px;
        }
      }

      .ch2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0 1.4rem;
        span {
          display: block;
          box-sizing: border-box;
          padding: 0 0.6rem;
          width: 11rem;
          height: 2.4rem;
          line-height: 2.4rem;
          text-align: center;
          background: #F3F3F3;
          border-radius: 3px;
          margin-bottom: 2rem;
          font-size: 1.4rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .left-actived {
    background-color: #fff;
    font-weight: bolder;
    color: #212121;
    position: relative;
  }

  .left-actived::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2.3rem;
    width: 0.4rem;
    border-radius: 0.2rem;
    background-color: #e90e2c;
  }

  .right-actived {
    background: linear-gradient(242deg, #fff7cb 0%, #ffc92d 100%);
    border: 1px solid #fff !important;
  }

  .all-course {
    text-align: left;
    font-weight: bolder;
    padding: 15px;

    ion-icon {
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

