<ion-header>
    <ion-navbar>
        <form class="search-header" action="#">
            <ion-icon class="search-icon" name="search"></ion-icon>
            <ion-input type="search" placeholder="搜索课程" (keypress)="search($event)" (focus)="showKey()"
                       autocomplete='off'
                       [(ngModel)]="keyWord" [ngModelOptions]="{standalone: true}"></ion-input>
        </form>
    </ion-navbar>
</ion-header>

<ion-content>
    <p class="all-course" (click)="gotoListAll()">所有课程
        <ion-icon name="arrow-forward"></ion-icon>
    </p>
    <div class="container-type">
        <div class="left">
            <p (click)="changeType(item)" [ngClass]="{'left-actived':item.value == rightList.value}"
               *ngFor="let item of typeList">{{item.label}}</p>
        </div>
        <div class="right">
            <div *ngFor="let ch of rightList.children">
                <p class="ch" (click)="goToList(ch.value,ch.label)">{{ch.label}}
                    <ion-icon name="arrow-forward"></ion-icon>
                </p>
                <p class="ch2">
                    <span [ngClass]="{'right-actived':ch2.value == rightActived}" *ngFor="let ch2 of ch.children"
                          (click)="goToList(ch2.value,ch2.label)">{{ch2.label}}</span>
                </p>
            </div>
        </div>
    </div>
</ion-content>
