comment-star {
  > p:first-child,
  > p.first-child {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    > ion-icon {
      margin-left: .5rem;
    }
  }

  > p:first-child::before,
  > p.first-child::before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: -15px;
    top: 0;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #fee6a3, #feca46);
  }

  .img-star {
    margin-left: auto;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .comment-star {
    display: flex;

    .left {
      width: 50%;
      text-align: center;

      p + p {
        margin-top: 1.2rem;
      }

      P:first-child {
        font-size: 2.4rem;
        font-weight: bolder;
        text-align: center;
      }
    }

    .right {
      width: 50%;
      padding-left: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 1.4rem;
      font-weight: 500;
      color: #333333;

      p span {
        margin-right: .5rem;
      }
    }
  }

  .commentBtn {
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(241deg, #FFF7CB 0%, #FFC92D 100%);
    border-radius: 1.4rem;
    text-align: center;
    margin: 0 auto;
  }

  .commentBtn-gray {
    width: 8rem;
    height: 3rem;
    line-height: 3rem;
    background: linear-gradient(241deg, rgb(240,240,240) 0%, rgb(229,229,229) 100%);
    border-radius: 1.4rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
  }

  .commentBtn1 {
    width: 6rem;
    height: 2rem;
    line-height: 2.2rem;
    background: linear-gradient(241deg, #FFF7CB 0%, #FFC92D 100%);
    border-radius: 1.4rem;
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    color: #333333;
  }
}
