<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="con-div">
    <div class="list">
      <div class="img-div">
        <img [src]="lidata.CoverImage" alt="">
      </div>
      <div class="text">
        <div>
          <span class="text-l">{{lidata.Name}}</span>
          <span class="text-r">[{{lidata.PostCount}}条帖子]</span>
        </div>
        <p style="-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
          {{lidata.Description}}
        </p>
      </div>
    </div>
    <div class="hear-top" *ngIf="IsTopOpt">
      <span style="margin-right: 15px;">顶</span>
      <span style="overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;">{{IsTopOpt.Title}}</span>
    </div>
  </div>
  <div class="content-div">
    <div class="div-nav">
      <div class="act" (click)="avtNav('PostTimeFormatted')">最新</div>
      <div (click)="avtNav('ReplyCount')">最热</div>
    </div>
    <div>
      <div class="post-introduction" (click)="goPostsContent({})">
        <div class="post-introduction-top">
          <img src="./assets/imgs/forum/other/p771_avatar1@3x.jpg" alt="">
          <div class="name">秋国艳</div>
          <div class="oldDate">1小时</div>
        </div>
        <div class="post-introduction-con">
          <p>用车分享：大宝第十次的维修保养知识</p>
          <div class="img-div img1">
            <img src="./assets/imgs/forum/list/luntan_pic1@3x.jpg" alt="">
          </div>
        </div>
        <div class="post-introduction-buttom">
          <span>
            产品体验
          </span>
          <span>
            <img src="./assets/imgs/forum/list/luntan_coment@3x.png" alt="">
            134
          </span>
          <span>
            <img src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            134
          </span>
        </div>
      </div>
      <div class="post-introduction" (click)="goPostsContent(item)" *ngFor="let item of forumLIst">
        <div class="post-introduction-top">
          <img src="./assets/imgs/forum/other/p771_avatar1@3x.jpg" alt="">
          <div class="name">{{item.Poster}}</div>
          <div class="oldDate">{{item.PostRelativeTime}}</div>
        </div>
        <div class="post-introduction-con">
          <p>{{item.Title}}</p>
          <div class="img-div img1">
            <img src="./assets/imgs/forum/list/luntan_pic1@3x.jpg" alt="">
          </div>
        </div>
        <div class="post-introduction-buttom">
          <span>
            {{item.TopicPlateName}}
          </span>
          <span>
            <img src="./assets/imgs/forum/list/luntan_coment@3x.png" alt="">
            {{item.ReplyCount}}
          </span>
          <span>
            <img src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            {{item.LikeCount}}
          </span>
        </div>
      </div>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isdoInfinite">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>
</ion-content>
<div class="new-add" (click)="PostAddComponent()">

</div>