<ion-header class="forum-header">
  <ion-navbar>
    <ion-title></ion-title>
    
  </ion-navbar>
  <img (click)="goToSearch()" src="./assets/imgs/home/m11_icon_search@3x.png" alt="">
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
  <div class="con-div">
    <div class="list">
      <div class="img-div">
        <img [src]="lidata.CoverImage" alt="">
      </div>
      <div class="text">
        <div class="top-text-name">
          <span class="text-l nowrap-1">{{lidata.Name}}</span>
          <span class="text-r">[{{lidata.PostCount}}条帖子]</span>
        </div>
        <p class="nowrap-2" >
          {{lidata.Description}}
        </p>
      </div>
    </div>
    <div class="hear-top" *ngIf="IsTopOpt">
      <span style="margin-right: 15px;">顶</span>
      <span style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{{IsTopOpt.Title}}</span>
    </div>
  </div>
  <div class="content-div">
    <div class="div-nav">
      <div [ngClass]="{'act': pageDate.OrderBy=='PostTimeFormatted'}" (click)="avtNav('PostTimeFormatted')">最新</div>
      <div [ngClass]="{'act': pageDate.OrderBy=='ReplyCount'}" (click)="avtNav('ReplyCount')">最热</div>
    </div>
    <div>
      <div class="post-introduction" (click)="goPostsContent(item)" *ngFor="let item of forumLIst">
        <div class="post-introduction-top">
          <img src="{{item.PosterHeadPhoto}}" alt="">
          <div class="name nowrap-1">{{item.PosterUserName}}</div>
          <div class="oldDate">{{item.PostRelativeTime}}</div>
        </div>
        <div class="post-introduction-con">
          <p>{{item.Title}}</p>
          <div class="img-div img1" *ngIf="item.Images.length==1">
              <img src="{{item.Images[0].Src}}" alt="">
            </div>
            <div class="img-div img2" *ngIf="item.Images.length==2">
              <div *ngFor="let img of item.Images">
                <img src="{{img.Src}}" alt="">
              </div>
              </div>
              <div class="img-div img3" *ngIf="item.Images.length>2">
                      <div *ngFor="let img of item.Images.slice(0,3)">
                          <img src="{{img.Src}}" alt="">
                        </div>
                </div>
        </div>
        <div class="post-introduction-buttom">
          <span class="nowrap-1">
            {{item.TopicPlateName}}
          </span>
          <span>
            <img src="./assets/imgs/forum/list/luntan_coment@3x.png" alt="">
            {{item.ReplyCount}}
          </span>
          <span >
            <img src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
            {{item.LikeCount}}
          </span>
        </div>
      </div>
      <ion-list text-center style="margin-top: 10rem;display: block;" *ngIf="no_list ">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isdoInfinite">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
<div class="new-add" (click)="PostAddComponent(lidata)">
</div>