<!--评价-->
<div class="comment-list">
    <div class="comment-item" *ngFor="let item of List;" (click)="goDetail(item)">
        <div class="first">
            <div class="headPhoto" (click)="$event.stopPropagation();toPersonInfo(item)">
                <img [src]="item.HeadPhoto || ''">
            </div>
            <div (click)="$event.stopPropagation();toPersonInfo(item)" style="text-align: left">
                <div class="badge">
                    <!--                    名称-->
                    <div class="userName">
                        <p style="margin: 0;">
                          {{(item.UserName.length > 4 && item?.Badges.length > 1) ? item.UserName.slice(0, 3) + "..." : item.UserName}}
                        </p>
                        <p style="color: #ffc92d;font-size: 1rem" *ngIf="item.System">
                            {{item.System | stringSlice:4:4}}
                        </p>
                    </div>
                    <!--                    段位-->
                    <span *ngIf="item?.TitleInfo?.ForumTitle" class="forumTitle">
                            {{item?.TitleInfo?.ForumTitle}}
                        </span>
                    <!--                    勋章-->
                    <ng-container *ngFor="let badge of item?.Badges;let i = index;">
                            <span class="badgeSpan" *ngIf="i < 2">
                                <img [src]="badge.BadgeIcon || ''">
                                <span>{{badge.BadgeName | stringSlice:4:3}}</span>
                            </span>
                    </ng-container>
                </div>
                <p>
                    <!--                    评价时间-->
                    <span>{{item.CreateTime | date:'yyyy-MM-dd'}}</span>
                    <!--                课程评价时才有    评价的星级-->
                    <span class="img-star" *ngIf="TopicType != 'talk'">
                            <ng-container *ngFor="let st of starList;let i = index">
                                <img *ngIf="item.Score > i +1 || item.Score == i +1"
                                     src="./assets/imgs/learn/stars_5.png">
                                <ng-container
                                        *ngIf="((item.Score+'').split('.')[0] == i +1 && item.Score != i +1) ||
                                        ((item.Score+'').includes('0.') && i == 0)">
                                     <img *ngIf="(item.Score+'').includes('.1') || (item.Score+'').includes('.2')"
                                          src="./assets/imgs/learn/stars_1.png">
                                    <img *ngIf="(item.Score+'').includes('.3') || (item.Score+'').includes('.4')"
                                         src="./assets/imgs/learn/stars_2.png">
                                    <img *ngIf="(item.Score+'').includes('.5') || (item.Score+'').includes('.6')"
                                         src="./assets/imgs/learn/stars_3.png">
                                    <img *ngIf="(item.Score+'').includes('.7') || (item.Score+'').includes('.8')"
                                         src="./assets/imgs/learn/stars_4.png">
                                </ng-container>
                                <ng-container *ngIf="item.Score < i || item.Score == i">
                                    <img src="./assets/imgs/learn/stars_outline.jpg">
                                </ng-container>
                            </ng-container>
                        </span>
                </p>
            </div>
        </div>
        <div class="last teacher">
            <!--            视频作业-->
            <ng-container *ngIf="item.qtype == 2">
                <div class="video-share">
                    <p>【答题分享】</p>
                    <div class="video-content" *ngFor="let vi of item.Contents">
                        <img class="video-play-btn" src="./assets/imgs/forum/list/luntan_play@2x.png" alt="播放按钮">
                        <img [src]="vi.imageurrl || ''">
                    </div>
                </div>
            </ng-container>
            <!--            讨论作业-->
            <ng-container *ngIf="item.qtype == 1">
                <div class="Contents question-share"><p>【答题分享】</p>
                    <ng-container *ngFor="let ques of item.Contents;let i = index;">
                        {{i + 1}}、<span [innerHTML]="ques.QContent | lineFeed"></span><br>
                        <span [innerHTML]="ques.StuAnswer | lineFeed"></span><br>
                    </ng-container>
                </div>
            </ng-container>
            <!--            普通作业-->
            <ng-container *ngIf="item.qtype == 0 || TopicType == 'course'">
                <div [innerHTML]="item.Contents | lineFeed" class="Contents"></div>
            </ng-container>
        </div>
        <div *ngIf="TopicType == 'talk'" class="introduction-buttom">
                    <span>
                        <img src="./assets/imgs/forum/list/luntan_coment@3x.png">
                        {{item.ReplyCount || 0}}
                    </span>
            <span>
                        <img *ngIf="item.IsMyLike" (click)="handleCancelLike(item);$event.stopPropagation();"
                             src="./assets/imgs/forum/other/p771_comment_like_on@3x.png">
                        <img *ngIf="!item.IsMyLike" (click)="handleLike(item);$event.stopPropagation();"
                             src="./assets/imgs/forum/other/p771_comment_like@3x.png">
                {{item.LikeCount || 0}}
                            </span>
            <span>
                        <img *ngIf="item.IsMyDisLike" (click)="handleCancelDisLike(item);$event.stopPropagation();"
                             src="./assets/imgs/learn/cai_yes.png">
                        <img *ngIf="!item.IsMyDisLike" (click)="handleDisLike(item);$event.stopPropagation();"
                             src="./assets/imgs/learn/cai_no.png">
                {{item.DisLikeCount || 0}}
                    </span>
        </div>
    </div>
</div>
