<div class="learn-list">
    <div class="list-container">
        <div class="list-title">
            <!--判断题目类型-->
            <p>{{index}}、
                {{qnAInfo?.QContent}}
            </p>
        </div>
        <div class="list-content">
            <div class="padding-20-20">
                <!--单选题-->
                <ng-container *ngIf="qnAInfo?.QType == 1 || qnAInfo?.QType == 0">
                    <ng-container *ngIf="qnAInfo?.ChoiceA">
                        <p>
                            <label>
                                <input type="radio" value="A" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('A') == true}"
                                      class="selectIndex">A</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceA}}
                            </label>
                            <label></label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceAFx}}人
                            </div>
                            <div class="innerAFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceAFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceAFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceB">
                        <p>
                            <label>
                                <input type="radio" value="B" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('B') == true}"
                                      class="selectIndex">B</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceB}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceBFx}}人
                            </div>
                            <div class="innerBFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceBFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceBFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceC">
                        <p>
                            <label>
                                <input type="radio" value="C" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('C') == true}"
                                      class="selectIndex">C</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceC}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceCFx}}人
                            </div>
                            <div class="innerCFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceCFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceCFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceD">
                        <p>
                            <label>
                                <input type="radio" value="D" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('D') == true}"
                                      class="selectIndex">D</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceD}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceDFx}}人
                            </div>
                            <div class="innerDFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceDFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceDFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceE">
                        <p>
                            <label>
                                <input type="radio" value="E" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('E') == true}"
                                      class="selectIndex">E</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceE}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceEFx}}人
                            </div>
                            <div class="innerEFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceEFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceEFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceF">
                        <p>
                            <label>
                                <input type="radio" value="F" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('F') == true}"
                                      class="selectIndex">F</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceF}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceFFx}}人
                            </div>
                            <div class="innerFFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceFFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceFFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceG">
                        <p>
                            <label>
                                <input type="radio" value="D" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('G') == true}"
                                      class="selectIndex">G</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceG}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceGFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceGFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceGFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <!--多选题-->
                <ng-container *ngIf="qnAInfo?.QType == 2">
                    <ng-container *ngIf="qnAInfo?.ChoiceA">
                        <p>
                            <label>
                                <input type="checkbox" value="A" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('A') == true}"
                                      class="input-duox selectIndex">A</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceA}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceAFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceAFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceAFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceB">
                        <p>
                            <label>
                                <input type="checkbox" value="B" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('B') == true}"
                                      class="input-duox selectIndex">B</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceB}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceBFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceBFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceBFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceC">
                        <p>
                            <label>
                                <input type="checkbox" value="C" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('C') == true}"
                                      class="input-duox selectIndex">C</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceC}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceCFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceCFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceCFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceD">
                        <p>
                            <label>
                                <input type="checkbox" value="D" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('D') == true}"
                                      class="input-duox selectIndex">D</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceD}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceDFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceDFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceDFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceE">
                        <p>
                            <label>
                                <input type="checkbox" value="E" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('E') == true}"
                                      class="input-duox selectIndex">E</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceE}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceEFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceEFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceEFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceF">
                        <p>
                            <label>
                                <input type="checkbox" value="F" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('F') == true}"
                                      class="input-duox selectIndex">F</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceF}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceFFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceFFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceFFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="qnAInfo?.ChoiceG">
                        <p>
                            <label>
                                <input type="checkbox" value="G" [name]="qnAInfo?.QnAID">
                                <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('G') == true}"
                                      class="input-duox selectIndex">G</span>&nbsp;&nbsp;
                                {{qnAInfo?.ChoiceG}}
                            </label>
                        </p>
                        <div class="ChoiceFx">
                            <div class="choiceNum">
                                {{qnAInfo?.ChoiceGFx}}人
                            </div>
                            <div class="innerGFx innerFx">
                                <div [style.width]="(qnAInfo?.ChoiceGFx / qnAInfo?.AllFX)*100 +'%'">
                                </div>
                                <span *ngIf="qnAInfo?.AllFX">{{((qnAInfo?.ChoiceGFx / qnAInfo?.AllFX) * 100).toFixed(1) + '%'}}</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <!--判断题-->
                <ng-container *ngIf="qnAInfo?.QType == 3">
                    <p>
                        <label>
                            <input [name]="qnAInfo?.QnAID" value="1" type="radio">
                            <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('1') == true}"
                                  class="selectIndex">A</span>&nbsp;&nbsp;
                            正确
                        </label>
                    </p>
                    <p>
                        <label>
                            <input [name]="qnAInfo?.QnAID" value="0" type="radio">
                            <span [ngClass]="{'select-right' : qnAInfo?.StuAnswer.includes('0') == true}"
                                  class="selectIndex">B</span>&nbsp;&nbsp;
                            错误
                        </label>
                    </p>
                </ng-container>
            </div>
        </div>
    </div>
</div>
