<!--章节-->
<div class="chapter">
    <ng-container *ngFor="let item of chapter">
        <p tappable (click)="getMore(item)">
            {{item.title}}
            <ion-icon *ngIf="item.children.length > 0 && !item.show" class="more-icon"
                      name="arrow-forward"></ion-icon>
            <ion-icon *ngIf="item.children.length > 0 && item.show" class="more-icon"
                      name="arrow-down"></ion-icon>
        </p>
        <div *ngIf="item.show" class="chapter-teacher">
            <div>
                <img [src]="item.UserImage" alt="">
            </div>
            <div>{{item.UserName}}</div>
            <div>
                上课时间：{{item.StartTime | date:"yyyy-MM-dd"}}至{{item.EndTime | date:"yyyy-MM-dd"}}
            </div>
        </div>
        <div *ngIf="item.children && item.show">
            <tree-list
                    [treeList]="item.children"
                    [IsBuy]="IsBuy"
                    [TeachTypeName]="TeachTypeName"
            ></tree-list>
        </div>
        <ng-container *ngIf="IsBuy">
            <div *ngFor="let itemExam of item.tags">
                <p tappable
                   (click)="handleExam(item,itemExam,$event)">
                    <span [ngStyle]="{'margin-left':(item.NodeLevel*5)+'px'}" class="exam">
                        {{itemExam.label | stringSlice:15:15}}
                    </span>
                    <span class="no" *ngIf="itemExam.examStatus == 4 || itemExam.StudyStatus == 2">
                    <img src="./assets/imgs/course/daiwancheng.png" alt="">
                    待完成
                </span>
                    <span class="yes" *ngIf="itemExam.examStatus == 8">
                    <img src="./assets/imgs/course/yiwancheng.png" alt="">
                    已完成
                </span>
            </div>
        </ng-container>
    </ng-container>
</div>
