page-chapter {
  .chapter {
    > p {
      font-weight: bold;
      margin-bottom: 6px;
      display: flex;
      align-items: center;
    }

    > div p {
      padding: 8px 0;
      border-bottom: 1px solid #dddddd;
    }

    .list:last-child > p:last-child {
      border-bottom: none;
    }

    .chapter-teacher {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-bottom: 1px solid #dddddd;

      > div:first-child {
        width: 10%;

        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }

      > div:nth-of-type(2) {
        width: 20%;
        text-align: center;
        overflow: hidden;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      > div:last-child {
        text-align: right;
        padding-right: 10px;
        width: 70%;
        font-size: 1rem;
        font-family: PingFangSC-Regular, PingFangSC;
        font-weight: 400;
        color: rgba(0, 0, 0, .4);
        line-height: 13px;
      }
    }
  }

  .old-yes, .old-no {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: auto;

    img {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }

  .new-yes, .new-no {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;

    img {
      width: 18px;
      height: 18px;
    }
  }

  .new-yes, .old-yes {
    color: #5dba98;
  }

  .new-no, .old-no {
    color: #e2af73;
  }

  .exam {
    padding: 3px 8px;
    background: rgba(255, 201, 45, .3);
    border-radius: 0.17rem;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 75%;
  }

  .exam::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 0.25rem;
    height: 100%;
    background: linear-gradient(241deg, rgba(255, 247, 203, 1) 0%, rgba(255, 201, 45, 1) 100%);
  }

  .col-item {
    padding: 10px;

    p {
      margin-top: 12px;
      text-align: center;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

    }
  }

  .record-item {
    position: relative;
    height: 142px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    .deleIcon {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 18px;
      color: #e93c46;
    }
  }

  .file-type {
    position: absolute;
    top: 10px;
    left: 15px;
    border-radius: 4px;
    font-size: 12px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 14px;
    padding: 2px 5px;
    background: rgba(99, 158, 238, 1);
  }

  .jobType {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 0 6px;
    height: 22px;
    line-height: 22px;
    border-radius: 4px;
    opacity: 0.99;
    color: #FFFFFF;
    font-size: 12px;
    display: inline-block;
    transform: scale(0.8);
    text-align: center;
  }

  .shipin_zy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 56px;
  }

  .green {
    background: rgba(80, 183, 144, 1);
  }

  .blue {
    background: rgba(101, 160, 239, 1);
  }

  .done {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
      width: 18px;
      height: 18px;
    }
  }

  .file-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 4px;
  }

  img.suo {
    width: 14px;
    height: 15px;
    vertical-align: text-top;
    margin-left: 10px;
  }

  img.download-file {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 18px;
    width: 18px;
  }

  .chapter-more-icon {
    margin-left: auto;
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 10px;
  }

}
