<ion-header>
  <ion-navbar hideBackButton>
    <span class="backPop" (click)="backPop()">
      取消
    </span>
    <ion-title>
      发布帖子
    </ion-title>
    <span class="release" (click)="backPop()">
      发布
    </span>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="content-div">
    <div class="input-div">
      <input type="text" name="" placeholder="请输入标题">
    </div>
    <div class="textarea-div">
      <textarea name="" placeholder="请输入内容" cols="30"></textarea>
    </div>
  </div>
</ion-content>
<div class="buttom-div">

  <div class="img-div">
    <div class="can-img" *ngFor="let item of imgitems">
      <img src="{{item}}" alt="">
      <p>这里是一句描述</p>
    </div>
    <div class="can-img">
      <img src="./assets/imgs/forum/other/p771_img1@3x.jpg" alt="">
      <p>这里是一句描述</p>
    </div>
    <div id="test-div" [innerHtml]="data"></div>
    <div class="add-img" >
        <input type="file" id="pic_selector" (change)="uploadFile($event)"  accept="image/*" multiple/>
      <!-- <img src="./assets/imgs/forum/other/p71_add@3x.png" alt=""> -->
    </div>
  </div>

  <div class="bun-buttom">
    <span class="describe">
      点击图片编辑描述
    </span>
    <div></div>
    <span class="seve-draft">
      <img src="./assets/imgs/forum/other/p71_save@3x.png" alt="">
        <span>
          保存草稿
        </span> 
    </span>
  </div>
</div>