<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="TopicType == 'teacher'" class="teacher-box">
        <div class="scroll-tab">
            <div class="teacher-content">
                <div [ngClass]="selectTeacher == null?'teacher-item-select':''" tappable class="teacher-item"
                     (click)="setTeacher(null,null)">
                    <div class="flex-teacher">
                        <img [src]="defalutPhoto">
                        <span class="teacher-desc">全部讲师</span>
                    </div>
                </div>
                <ng-container *ngFor="let teacher of teacherList;let i = index;">
                    <div [ngClass]="selectTeacher == i?'teacher-item-select':''" tappable class="teacher-item"
                         (click)="setTeacher(teacher,i)">
                        <div class="flex-teacher">
                            <img [src]="teacher.HeadPhoto || defalutPhoto" alt="">
                            <span class="teacher-desc">{{teacher.UserName}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="comment-list">
        <div class="comment-item" *ngFor="let item of list;">
            <div class="first">
                <div class="headPhoto">
                    <img [src]="item.HeadPhoto" alt="">
                </div>
                <div style="text-align: left">
                    <p class="badge">
                        <span>
                            {{item.UserName}}
                        </span>
                        <span *ngIf="item?.TitleInfo?.ForumTitle" class="forumTitle">
                            {{item?.TitleInfo?.ForumTitle}}
                        </span>
                        <span class="badgeSpan" *ngFor="let badge of item?.Badges">
                            <img [src]="badge.BadgeIcon">
                            <span>{{badge.BadgeName.length > 4 ? badge.BadgeName.slice(0,4) + '...' : badge.BadgeName}}</span>
                        </span>
                    </p>
                    <p>
                        <span>{{item.CreateTime | date:'yyyy-MM-dd'}}</span>
                        <span class="img-star" *ngIf="TopicType != 'talk'">
                            <ng-container *ngFor="let st of starList;let i = index">
                                <span [ngClass]=" item.Score > i?'icon-star-fill':'icon-star' "
                                  class="icon iconfont "></span>
                            </ng-container>
                        </span>
                    </p>
                </div>
            </div>
            <div class="last teacher">
                <div class="Contents">
                    {{item.Contents}}
                </div>
                <div *ngIf="TopicType == 'teacher'" class="item-teacher">
                    <div>
                        <img [src]="item.TeacherHeadPhoto || defalutPhoto" alt="">
                    </div>
                    <div >{{item.TeacherName}}</div>
                </div>
            </div>
        </div>
    </div>
    <ion-list text-center style="margin-top: 10rem" *ngIf="list.length == 0 && page.load">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
</ion-content>
<ion-footer (click)="openComment()" tappable>
    <div class="course-footer">
        {{placeholder}}
    </div>
</ion-footer>
