<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="TopicType == 'teacher'" class="teacher-box">
        <div class="scroll-tab">
            <div class="teacher-content">
                <ng-container *ngFor="let teacher of teacherList;let i = index;">
                    <div [ngClass]="selectTeacher == i?'teacher-item-select':''" class="teacher-item"
                         (click)="setTeacher(teacher,i)">
                        <div class="flex-teacher">
                            <img [src]="teacher.img" alt="">
                            <span class="teacher-desc">{{teacher.name}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="comment-list">
        <div class="comment-item" *ngFor="let item of list;">
            <div class="first">
                <div class="headPhoto">
                    <img [src]="item.HeadPhoto" alt="">
                </div>
                <div>
                    <p>{{item.UserName}}</p>
                    <p>{{item.CreateTime | date:'yyyy-MM-dd'}}</p>
                </div>
                <div class="img-star" *ngIf="TopicType != 'talk'">
                    <ng-container *ngFor="let st of starList;let i = index">
                            <span [ngClass]=" item.Score > i?'icon-star-fill':'icon-star' "
                                  class="icon iconfont "></span>
                    </ng-container>
                </div>
            </div>
            <div class="last teacher">
                <div class="Contents">
                    {{item.Contents}}
                </div>
                <div *ngIf="TopicType == 'teacher'" class="item-teacher">
                    <div>
                        <img src="./assets/imgs/home/goodTeacher.png" alt="">
                    </div>
                    <div>秋国烟</div>
                </div>
            </div>
        </div>
    </div>
    <ion-list text-center style="margin-top: 10rem" *ngIf="list.length == 0">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
</ion-content>
<ion-footer (click)="openComment()" tappable>
    <div class="course-footer">
        {{placeholder}}
    </div>
</ion-footer>
