page-notification {
  .nav-type {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    list-style: none;
    background-color: #fff;
    li {
      position: relative;
      flex: 1;
      text-align: center;
      .item-line {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: block;
        width: 2.8rem;
        height: 0.4rem;
        background: transparent;
        border-radius: 0.2rem;
        opacity: 0.9;
      }
    }
    .actived .item-line {
      background: linear-gradient(241deg,rgba(255,247,203,1) 0%,rgba(255,201,45,1) 100%);
    }
  }
  
  .main {
    padding: 1.5rem 1rem;
  }

  .main > p:first-child {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .4);
    line-height: 1.5rem;
    margin-bottom: 10px;
  }

  .noti {
    background-color: #fff;
    padding: 1.5rem;
    position: relative;
    border-radius: 10px;
    .tips {
      position: absolute;
      top: 10px;
      width: 5px;
      height: 5px;
      background-color: red;
      right: 10px;
      border-radius: 50%;
    }

    > p:first-of-type {
      font-size: 1.5rem;
      font-weight: bold;
      color: rgba(0, 0, 0, .9);
      line-height: 1.67rem;
      margin-bottom: 10px;
    }

    > p:last-child {
      font-size: 1.4rem;
      font-weight: 400;
      color: rgba(0, 0, 0, .6);
      line-height: 1.5rem;
    }
  }
	.interaction {
		position: relative;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 1rem;
		padding: 1.2rem 1.7rem 1.2rem 1.5rem;
		display: flex;
		.tips {
		  position: absolute;
		  top: 10px;
		  width: 5px;
		  height: 5px;
		  background-color: red;
		  right: 10px;
		  border-radius: 50%;
		}
		.avatar {
			margin-right: 0.7rem;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			object-fit: cover;
		}
		.right-box {
			flex: 1;
			.username {
				margin-bottom: 0.5rem;
				line-height: 2rem;
				font-size: 1.4rem;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #000000;
			}
			.desc {
				margin-bottom: 0.5rem;
				width: 28.8rem;
				font-size: 1.2rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #000000;
				line-height: 1.8rem;
				letter-spacing: 0.2px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.bottom-info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 1.2rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #666666;
				line-height: 1.8rem;
				.title {
					width: 16rem;
					text-align: right;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}      
}
