<ion-header>
    <ion-navbar style="padding-right: 0">
        <ion-buttons start>
            <button ion-button icon-only class="search-button">
                <img class="img-head" src="{{mineInfo?.HeadPhoto}}" alt="">
                <span>你好，{{mineInfo?.LoginName}}</span>
            </button>
        </ion-buttons>
        <ion-buttons end class="navbar-search" (click)="goToSearch()">
            <button ion-button icon-only class="toolbar-icon">
                <ion-icon class="search-icon" name="search"></ion-icon>
                <ion-input class="search" placeholder="搜索课程"  autocomplete='off'></ion-input>
            </button>
        </ion-buttons>
        <ion-buttons end class="navbar-search" (click)="goToNotifation()">
            <button ion-button icon-only class="toolbar-tips">
                <img src="../../assets/imgs/home/tips.png" alt="">
                <span class="tips-num">2</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content style="background:rgba(248,248,248,1);">
    <div class="banner">
        <div class="img">
            <ion-slides>
                <ion-slide *ngFor="let item of bannerList">
                    <img [src]="item.SourceUrl">
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <!--  新模块  -->
    <div class="new-module" >
        <div (click)="goDev('资讯')"><img src="../../assets/imgs/home/news@2x.png" alt="">
            <p>资讯</p>
        </div>
        <div (click)="goDev('状元说')"><img src="../../assets/imgs/home/zys@2x.png" alt="">
            <p>状元说</p>
        </div>
        <div (click)="goDev('排行榜')"><img src="../../assets/imgs/home/rank@2x.png" alt="">
            <p>排行榜</p>
        </div>
        <div (click)="goDev('考试')"><img src="../../assets/imgs/home/ks@2x.png" alt="">
            <p>考试</p>
        </div>
    </div>
    <!--  热门课程-->
    <div class="product">
        <p>热门课程
            <span class="float-more" (click)="moreCourse()">
           更多 <ion-icon class="more-icon" name="arrow-forward"></ion-icon></span></p>
        <div class="item">
           <course-list [list]="productList" (done)="goCourse($event)"></course-list>
        </div>
    </div>

    <!--  课程分类-->
    <div class="sale">
        <p>课程分类
            <span class="float-more" (click)="moreCourse()">
           更多 <ion-icon class="more-icon" name="arrow-forward"></ion-icon></span>
        </p>
        <div class="sale-box">
            <div class="scroll-tab">
                <div class="sale-content">
                    <div class="sale-item" *ngFor="let sale of saleList;let i = index;" (click)="saleToLearn(sale)">
                        <img src="../../assets/imgs/home/shop{{i+1+'.png'}}" alt="">
                        <div class="sale-desc">
                            {{sale.TypeName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="person">
        <p>金牌教师<span class="float-more" (click)="moreTeacher()">
           更多 <ion-icon class="more-icon" name="arrow-forward"></ion-icon></span>
        </p>
        <div class="teacher">
            <div class="teacher-info" *ngFor="let item of teacherList">
                <div class="headPhoto">
                    <img [src]="item.HeadPhoto">
                </div>
                <div class="name">
                    <p style="font-weight: bold">{{item.UserName}}</p>
                    <p>{{item.Position || ' '}}</p>
                </div>
                <div class="focuscontent">
                    <span *ngIf="item.IsSubscribe == false" (click)="focusHandle(item)" class="focus">关注</span>
                    <span *ngIf="item.IsSubscribe == true" style="background:rgba(0,0,0,.2);color: #ffffff"
                          (click)="cancleFocusHandle(item)"
                          class="focus">已关注</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
