page-home {
  .toolbar-ios {
    min-height: 5.7rem;
  }

  font-family: PingFangSC-Semibold, PingFang SC;

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    background-color: #F8F8F8;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border: 0;
  }

  .competition-box {
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div:first-child {
      margin-right: 10px;
    }

    > div:last-child {
      margin-left: 10px;
    }

    .competition-banner {
      box-sizing: border-box;
      padding-top: 0.6rem;
      flex: 1;
      display: flex;
      align-items: flex-start;
      position: relative;
      margin-top: 1.5rem;
      height: 7.5rem;
      width: 16.5rem;
      border-radius: 1rem;
      background-color: #FFFFFF;

      &.xxrw {
        font-size: 1rem;

        img {
          margin-left: 0.4rem;
          width: 5.4rem;
          height: 5.2rem;
        }
      }

      &.gwrz {
        font-size: 1rem;

        img {
          margin-left: auto;
          margin-right: 1.3rem;
          width: 5.3rem;
          height: 5rem;
        }
      }

      .competition-text {
        box-sizing: border-box;
        padding-top: 1.2rem;
        padding-left: 1.7rem;

        .competition-title {
          height: 2.7rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: #333333;
          line-height: 1.8rem;
        }

        .competition-desc {
          font-size: 10px;
          font-weight: 400;
          color: #C4C4C4;
          line-height: 15px;
        }
      }
    }

  }

  .button-inner {
    justify-content: left;
    margin-left: 10px;
  }

  .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #e90e2c;
    width: 1.5rem;

    transition: all 500ms;
  }


  .category-box {
    margin-top: 2.2rem;

    .swiper-slide {
      width: 100% !important;
    }

    .slide-box {
      padding: 0 2rem;
      height: 9.3rem;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .category-item {
        font-size: 1.2rem;

        img {
          width: 4.4rem;
          height: 5.4rem;
        }
      }
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 0;
    }
  }

  .hot-course {
    margin-top: 2.5rem;

    .title {
      box-sizing: border-box;
      margin-bottom: 2.1rem;
      padding: 0 1.4rem 0 1.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        margin-top: 0.3rem;
        font-size: 1.4rem;
        color: #BABABA;
        font-weight: normal;
      }
    }

    .course-list {
      box-sizing: border-box;
      margin: 0;
      padding: 0 1.3rem 0 1.1rem;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        margin-bottom: 2rem;
        width: 11.2rem;
        height: 13.5rem;
        background: #FFFFFF;
        box-shadow: 2px 1px 15px 1px rgba(223, 223, 223, 0.5);
        border-radius: 0.5rem;
        overflow: hidden;

        img {
          display: block;
          margin: 0 auto;
          margin-top: 0.7rem;
          width: 10.2rem;
          height: 5.9rem;
          object-fit: cover;
        }

        .item-title {
          margin-top: 0.5rem;
          box-sizing: border-box;
          padding: 0 0.6rem;
          height: 3.6rem;
          font-size: 1.2rem;
          font-weight: 600;
          color: #333333;
          line-height: 1.7rem;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        .item-about {
          margin-top: 0.6rem;
          box-sizing: border-box;
          padding: 0 0.6rem;
          font-size: 12px;
          color: #C9C9C9;

          span:nth-child(1) {
            margin-right: 1rem;
            display: inline-flex;
            align-items: center;

            img {
              margin-top: 0;
              margin-right: 0.3rem;
              width: 1.3rem;
              height: 1rem;
            }
          }

          span:nth-child(2) {
            display: inline-flex;
            align-items: center;

            img {
              margin-top: 0;
              margin-right: 0.1rem;
              width: 1.3rem;
              height: 1.2rem;
            }
          }
        }

      }
    }
  }

  .hot-post {
    .title {
      box-sizing: border-box;
      margin-bottom: 2.1rem;
      padding: 0 1.4rem 0 1.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        margin-top: 0.3rem;
        font-size: 1.4rem;
        color: #BABABA;
        font-weight: normal;
      }
    }
  }


  .search-button .button-inner {
    height: 3rem;
  }

  .img-head {
    width: 1.9rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.7rem;
  }

  .img-head + span {
    width: 6.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #000000;
    font-size: 1.9rem;
    text-align: left;
    line-height: 2.08rem;
  }

  .toolbar-tips {
    width: 3rem;
    position: relative;
    margin-right: 20px;

    .tips-num {
      position: absolute;
      top: 0;
      right: -5px;
      width: 1.2rem;
      height: 1.2rem;
      background: #ff4f29;
      color: #fff;
      border-radius: 50%;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  .toolbar-icon .button-inner {
    box-sizing: border-box;
    margin-right: 1.2rem;
    padding: 0.5rem 1rem;
    width: 25.2rem;
    height: 3.3rem;
    color: #B2B2B2;
    background-color: #FFFFFF;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: 1px solid #EEEEEE;

    .search-icon {
      margin-right: 0.6rem;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .search {
    width: 7rem;
  }

  //.bar-button-ios {
  //  height: 28px;
  //}

  .navbar-search {
    margin: 0;
  }

  .toolbar-img {
    width: 50%;
  }

  .banner {
    margin-top: 0.3rem;
    height: 14.5rem;
    position: relative;
    padding: 0 1rem;

    ion-slides, ion-slide {
      width: 100%;
      box-sizing: border-box;
      height: 15.1rem;
      align-items: flex-end;
    }

    ion-slides {
    }

    ion-slide {
      box-sizing: border-box;
      padding: 0 1.2rem;
      width: 100% !important;
    }

    img {
      max-height: 14.5rem;
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }


    .banner-tips {
      position: absolute;
      right: 0px;
      bottom: 20px;
      width: 160px;
      padding: 5px 10px;
      font-weight: bold;
      background-image: linear-gradient(to right, #ffffff, #fce6ad);
    }
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    .learn-list {
      padding: 0;
    }
  }

  .item > div {
    text-align: center;
    width: 50%;
  }

  .m11_img {
    color: #ffffff;
    position: relative;

    img {
      width: 100%;
    }
  }

  .right-font1, .right-font2 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 12px;
    }
  }

  .left-font {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 100%;
    text-align: left;
    border-radius: 5px;

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 12px;
    }
  }

  .img-font {
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-align: left;
    width: 100%;

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 12px;
    }
  }

  .product {
    padding: 0 2rem;
    margin-top: 10px;
    margin-bottom: 3rem;
  }

  .sale > p:first-child,
  .person > p:first-child,
  .product > p:first-child {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .new-module {
    display: flex;
    align-items: center;
    margin-top: 60px;

    > div {
      width: 25%;
      text-align: center;

      img {
        width: 30px;
      }

      p {
        font-size: 1.3rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 17px;
        margin-top: 5px;
      }
    }
  }

  .person {
    padding: 1rem 2rem;
  }

  .teacher {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0rem 0.08rem 0.67rem 0rem rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .teacher-info {
    flex: 1;

    .headPhoto {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      text-align: center;
    }

    > div {
      flex: 1;
    }

    > div:nth-child(2) {
      flex: 2;
      text-align: center;
    }
  }

  .teacher + .teacher {
    border-top: 1px solid #dddddd;
  }

  .float-more {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    line-height: 1.42rem;
    margin-left: auto;
  }

  .post-introduction {
    padding: 0 15px;
    background: #fff;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .product-float-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .product-float-nav {
      color: #292929;
      font-size: 16px;
      position: relative;
      margin: 10px 20px;
      padding-bottom: 10px;
      padding-top: 20px;
      margin-bottom: 0px;
      color: rgba(0, 0, 0, 0.6);
    }

    .act {
      color: rgba(0, 0, 0, 1);
      transition: all 0.2s;
    }

    .act::before {
      content: " ";
      display: block;
      position: absolute;
      width: 58px;
      height: 4px;
      margin-left: -30px;
      left: 50%;
      bottom: 0px;
      transition: all 0.2s;
      background: -webkit-linear-gradient(-90deg, #FFF7CB, #FFC92D);
      background: -o-linear-gradient(-90deg, #FFF7CB, #FFC92D);
      background: -moz-linear-gradient(-90deg, #FFF7CB, #FFC92D);
      background: linear-gradient(-90deg, #FFF7CB, #FFC92D);
      border-radius: 2px;
    }
  }

}
