<ion-header>
    <ion-navbar style="padding-right: 0">
        <ion-buttons start>
            <button ion-button icon-only class="search-button">
                <img class="img-head" src="{{mineInfo?.HeadPhoto}}" alt="">
                <span>你好，{{mineInfo?.UserName}}</span>
            </button>
        </ion-buttons>
        <ion-buttons end class="navbar-search" tappable (click)="goToSearch()">
            <button ion-button icon-only class="toolbar-icon">
                <ion-icon class="search-icon" name="search"></ion-icon>
                <ion-input class="search" placeholder="搜索内容" autocomplete='off'></ion-input>
            </button>
        </ion-buttons>
        <ion-buttons end class="navbar-search" tappable (click)="goToNotifation()">
            <button ion-button icon-only class="toolbar-tips">
                <img style="position: absolute;top: 0;right: -2px;" src="./assets/imgs/home/tips.png" alt="">
                <span *ngIf="info.new > 0" class="tips-num">{{info.new}}</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content style="background:rgba(248,248,248,1);">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <div class="banner">
        <div [ngClass]="{'slideInDown':wow == true}" class="img wow" data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="20">
            <ion-slides *ngIf="bannerList.length > 0" #slides pager autoplay="3000" (ionSlideAutoplayStop)="aotuPlay()">
                <ion-slide *ngFor="let item of bannerList" tappable (click)="goCourseBanner(item)">
                    <img [src]="item.SourceUrl">
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <!--  新模块  -->
    <div class="new-module">
        <div tappable [ngClass]="wow == true?'slideInLeft':''" class=" wow" data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goConsultation()">
            <img src="./assets/imgs/home/news@2x.png" alt="">
            <p>资讯</p>
        </div>
        <div tappable [ngClass]="wow == true?'slideInLeft':''" class=" wow" data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goNumberOne()">
            <img src="./assets/imgs/home/zys@2x.png" alt="">
            <p>状元说</p>
        </div>
        <div tappable [ngClass]="wow == true?'slideInRight':''" class=" wow" data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goRanking()">
            <img src="./assets/imgs/home/rank@2x.png" alt="">
            <p>排行榜</p>
        </div>
        <div tappable [ngClass]="wow == true?'slideInRight':''" class="wow " data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goTest()">
            <img src="./assets/imgs/home/ks@2x.png" alt="">
            <p>考试中心</p>
        </div>
    </div>
    <div class="new-module" style="margin-top: 20px">
        <div tappable [ngClass]="wow == true?'slideInLeft':''" class="wow " data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goLive()">
            <img src="./assets/imgs/home/zb@2x.png" alt="">
            <p>直播</p>
        </div>
        <div tappable [ngClass]="wow == true?'slideInLeft':''" class="wow " data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goQuestion()">
            <img style="width: 33px;" src="./assets/imgs/home/home_wenjuan@2x.png" alt="">
            <p>问卷/投票</p>
        </div>
        <div tappable [ngClass]="wow == true?'slideInRight':''" class="wow " data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goInnerTrain()">
            <img src="./assets/imgs/home/home_neixun@2x.png" alt="">
            <p>内训</p>
        </div>
        <div tappable [ngClass]="wow == true?'slideInRight':''" class="wow " data-wow-duration="2s" data-wow-delay="1s"
             data-wow-offset="30" (click)="goFocusTrain()">
            <img style="width: 28px;" src="./assets/imgs/home/home_jzpx@2x.png" alt="">
            <p>集中培训</p>
        </div>
    </div>
    <!--  热门课程-->
    <div class="product">
        <p>热门课程
            <span class="float-more" tappable (click)="moreCourse()">
           更多 <ion-icon class="more-icon" name="arrow-forward"></ion-icon></span></p>
        <div class="item">
            <course-list [list]="productList" (done)="goCourse($event)"></course-list>
        </div>
    </div>

    <!--  课程分类-->
    <div class="sale">
        <p>课程分类
            <span class="float-more" (click)="moreCourse()" tappable>
           更多 <ion-icon class="more-icon" name="arrow-forward"></ion-icon></span>
        </p>
        <div class="sale-box">
            <div class="scroll-tab">
                <div class="sale-content">
                    <div class="sale-item" *ngFor="let sale of saleList;let i = index;" tappable
                         (click)="saleToLearn(sale,i)">
                        <img src="./assets/imgs/home/shop{{i+1+'.png'}}" alt="">
                        <div class="sale-desc">
                            {{sale.TypeName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="person">
        <p>金牌讲师<span class="float-more" (click)="moreTeacher()" tappable>
           更多 <ion-icon class="more-icon" name="arrow-forward"></ion-icon></span>
        </p>
        <div class="teacher">
            <div class="teacher-info" *ngFor="let item of teacherList">
                <div class="headPhoto" tappable (click)="teachDetail(item)">
                    <img [src]="item.HeadPhoto">
                </div>
                <div class="name">
                    <p style="font-weight: bold">{{item.UserName}}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
