page-home {
  .button-inner {
    justify-content: left;
    margin-left: 10px;
  }
  .swiper-pagination-bullet-active{
    background: #fed25b;
    width: 16px;
    border-radius: 10px;
    transition: all 500ms;
  }
  .search-button .button-inner{
    height: 3rem;
  }
  .img-head{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 10px;
  }
  .img-head + span{
    font-size:1.5rem;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:2.08rem;
  }
  .toolbar-tips{
    width: 3rem;
    position: relative;
    margin-right: 20px;
    .tips-num{
      position: absolute;
      top: 0;
      right: -5px;
      width: 1.2rem;
      height: 1.2rem;
      background: #ff4f29;
      color: #fff;
      border-radius: 50%;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }

  .toolbar-icon .button-inner {
    padding: 5px 10px;
    color: #fff;
    background-color: #575758;
    border-radius: 1.25rem;
    font-size: 14px;
    width: 12rem;

    .search-icon {
      font-size: 24px;
    }
  }

  .search{
    width: 7rem;
  }

  .bar-button-ios {
    height: 28px;
  }

  .navbar-search {
    margin: 0;
  }

  .toolbar-img {
    width: 50%;
  }

  .banner {
    height: 140px;
    background-color: #343435;
    position: relative;

    .img {
      position: absolute;
      border-radius: 10px;
      left: 5%;
      width: 90%;
      top: 2%;
      //transform: translate(-50%, -50%);
    }

    .banner-tips {
      position: absolute;
      right: 0px;
      bottom: 20px;
      width: 160px;
      padding: 5px 10px;
      font-weight: bold;
      background-image: linear-gradient(to right, #ffffff, #fce6ad);
    }

    ion-slides, ion-slide {
      height: 180px;
      align-items: flex-end;
    }

    img {
      height: 150px;
      border-radius: 10px;
    }
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    .learn-list{
      padding: 0;
    }
  }

  .item > div {
    text-align: center;
    width: 50%;
  }

  .m11_img {
    color: #ffffff;
    position: relative;

    img {
      width: 100%;
    }
  }

  .right-font1, .right-font2 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 12px;
    }
  }

  .left-font {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 100%;
    text-align: left;
    border-radius: 5px;

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 12px;
    }
  }

  .img-font {
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-align: left;
    width: 100%;

    p:first-child {
      font-weight: bold;
    }

    p:last-child {
      font-size: 12px;
    }
  }

  .sale {
    padding: 1rem 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;

    .sale-box {
      display: flex;
    }

    .scroll-tab {
      overflow-y: hidden;
      overflow-x: scroll;
      width: 100%;
      height: 90px;
    }

    .sale-content {
      white-space: nowrap;
    }

    .sale-item {
      width: 40%;
      display: inline-block;
      position: relative;
      margin-right: 20px;

      .sale-desc {
        position: absolute;
        bottom: 10px;
        left: 14px;
        color: #fff;

        p {
          padding: 5px;
        }

        p:first-child {
          color: #ffffff;
          font-weight: bold;
          font-size: 16px;
        }

        p:last-child {
          background-image: linear-gradient(to right, #fce6ad, #fff4d9);
          border-radius: 6px;
          font-size: 12px;
        }
      }
    }
  }

  .product {
    padding:0 2rem;
    margin-top: 30px;
  }

  .sale > p:first-child,
  .person > p:first-child,
  .product > p:first-child {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding-left: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .new-module {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    > div {
      flex: 1;
      text-align: center;

      img {
        width: 30%;
      }

      p {
        font-size: 1.3rem;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 17px;
        margin-top: 5px;
      }
    }
  }

  .person {
    padding: 1rem 2rem;
  }

  .teacher {
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0rem 0.08rem 0.67rem 0rem rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .teacher-info {
    flex: 1;

    .headPhoto {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      text-align: center;
    }

    > div {
      flex: 1;
    }

    > div:nth-child(2) {
      flex: 2;
      text-align: center;
    }

    .focus {
      background: linear-gradient(241deg, rgba(255, 247, 203, 1) 0%, rgba(255, 201, 45, 1) 100%);
      float: right;
      padding: 5px 15px;
      border-radius: 20px;
      font-size: 12px;
    }
  }

  .teacher + .teacher {
    border-top: 1px solid #dddddd;
  }

  .float-more {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    line-height: 1.42rem;
    margin-left: auto;
  }

}
