.nowrap-1{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.nowrap-2{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.edit-div{
    flex-shrink: 0;
}
.post-introduction-buttom>span:nth-child(2){
    margin-left:10px; 
}