<div class="main">
    <div class="content" tappable (click)="close()">
        <div class="comment" tappable (click)="stop($event)">
            <div class="padding-10">
                <textarea #textAreaElement [(ngModel)]="replyContent" class="content-textarea"
                          placeholder="{{placeholder}}"></textarea>
            </div>
            <ion-row style="margin-top: 5px">
                <ion-col col-4 style="line-height: 30px">
                    <span class="send" tappable (click)="submit()">发送</span>
                </ion-col>
                <ion-col col-8 text-center class="img-star" *ngIf="type != 'talk'">
                    <ng-container *ngFor="let star of starList;let i = index;">
                        <span tappable (click)="checkStar(i)" [ngClass]="star" class="icon iconfont"></span>
                    </ng-container>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>
