<ion-header>
    <ion-navbar>
        <ion-title>我的作业</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <navbar [list]="navbarList" [select]="'4'" (done)="changeType($event)"></navbar>
    <div class="exam">
        <ng-container *ngIf="type == '4'">
            <ng-container *ngFor="let item of exam.no">
                <div class="space"></div>
                <div class="item" tappable (click)="goExam(item)">
                    <span class="revert" *ngIf="item.ExamStatus == 4">重新答题</span>
                    <p class="courseName">{{item.CourseName}}</p>
                    <p class="eName">
                        <img src="./assets/imgs/tabs/tab3_off@3x.png">
                        <ng-container *ngIf="item.EType == 3">
                            预习作业
                        </ng-container>
                        <ng-container *ngIf="item.EType == 4">
                            课后作业
                        </ng-container>
                        - {{item.EName}}
                    </p>
                    <p class="split"></p>
                    <p>
                        <span class="examScore">作业得分：{{item.TotalScore}}</span>
                        <span class="examTime">提交时间：{{item.ExamEnd | date:'MM-dd HH:mm:ss'}}</span>
                    </p>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="type == '8'">
            <ng-container *ngFor="let item of exam.done">
                <div class="space"></div>
                <div class="item" tappable (click)="goExam(item)">
                    <span class="revert" *ngIf="item.ExamStatus == 4">重新答题</span>
                    <p class="courseName">{{item.CourseName}}</p>
                    <p class="eName">
                        <img src="./assets/imgs/tabs/tab3_off@3x.png">
                        <ng-container *ngIf="item.EType == 3">
                            预习作业
                        </ng-container>
                        <ng-container *ngIf="item.EType == 4">
                            课后作业
                        </ng-container>
                        - {{item.EName}}
                    </p>
                    <p class="split"></p>
                    <p>
                        <span class="examScore">作业得分：{{item.TotalScore}}</span>
                        <span class="examTime">提交时间：{{item.ExamEnd | date:'MM-dd HH:mm:ss'}}</span>
                    </p>

                </div>
            </ng-container>
        </ng-container>
    </div>
    <ng-container *ngIf="type == '4'">
        <ion-list text-center style="margin-top: 10rem" *ngIf="exam.no.length == 0 && IsLoad">
            <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
            <p text-center style="color: #666666;font-size: 16px">
                暂无数据
            </p>
        </ion-list>
    </ng-container>
    <ng-container *ngIf="type == '8'">
        <ion-list text-center style="margin-top: 10rem" *ngIf="exam.done.length == 0 && IsLoad">
            <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
            <p text-center style="color: #666666;font-size: 16px">
                暂无数据
            </p>
        </ion-list>
    </ng-container>

</ion-content>
