<ion-header>
    <ion-navbar>
        <ion-title>{{product.detail?.TeachTypeName == "直播" ? "直播" : "课程"}}详情</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #FixedTop ion-fixed class="fixed-top">
        <div #banner class="banner">
            <div class="background-image">
                <img [src]="product.detail?.ImageUrl || ''" alt="">
            </div>
            <div class="content" *ngIf="courseFileType == null">
                <div class="content-info">
                    <div class="course-name">
                        {{product.detail?.Title}}
                    </div>
                    <div class="course-button" *ngIf="product.detail?.IsAuth || enterResource == 'level'">
                        <div [ngClass]="{'disableBtn':disableBtn.signBtnDisable}" tappable
                             *ngIf="!product.detail?.IsBuy" (click)="sign()">
                            立即报名
                        </div>
                        <div tappable *ngIf="product.detail?.IsBuy && product.detail?.overpercentage == 100"
                             (click)="studyNow()">
                            回顾{{product.detail?.TeachTypeName == "直播" ? "直播" : "课程"}}
                        </div>
                        <div tappable *ngIf="product.detail?.IsBuy && product.detail?.overpercentage != 100"
                             (click)="studyContinue()">
                            继续学习
                        </div>
                    </div>
                    <div class="course-desc" style="margin: 15px auto;">
                        <span>
                        <img src="./assets/imgs/learn/person@2x.png" alt="">{{product.detail?.ManCount || "0"}}
                            人学习</span>
                    </div>
                    <div class="course-desc">
                    <span tappable (click)="handlePraise()">  <!--点赞-->
                        <img *ngIf="!product.detail?.IsPraise"
                             src="./assets/imgs/course/hua@2x.png" alt="">
                        <img *ngIf="product.detail?.IsPraise"
                             src="./assets/imgs/course/hua_y@2x.png" alt="">
                        点赞·{{product.detail?.ZanCount || "0"}}
                    </span>
                        <span tappable (click)="handleCollection()">  <!--收藏-->
                        <img *ngIf="!product.detail?.IsCollection"
                             src="./assets/imgs/course/sc@2x.png" alt="">
                        <img *ngIf="product.detail?.IsCollection"
                             src="./assets/imgs/course/sc_y@2x.png" alt="">
                            收藏·
                            {{product.detail?.CollectionCount || "0"}}</span>
                    </div>
                </div>
            </div>
            <div id="videoTag" class="content video" [hidden]="courseFileType == null">
                <videojs [hidden]="!courseFileType || courseFileType == 'iframe' " #videojsCom
                         [GetVideo]="videoInfo.video"
                         [poster]="videoInfo.poster"></videojs>
                <iframe-file [hidden]="!courseFileType || courseFileType == 'video' " #iframeFile
                             (closeMask)="close($event)" [iframe]="iframObj"></iframe-file>
            </div>
        </div>
        <div class="process">
            <div class="out-process">
                <span id="textProcess"></span>
                <div id="innerProcess" class="inner-process">
                </div>
            </div>
        </div>
        <div #CourseIntroduction>
            <div *ngIf="StructureType == 2" class="course-introduction">
                <p>课程简介
                    <ion-icon *ngIf="!showMore" (click)="showIntroduction()" class="more-icon"
                              name="arrow-down"></ion-icon>
                    <ion-icon *ngIf="showMore" (click)="showIntroduction()" class="more-icon"
                              name="arrow-up"></ion-icon>
                </p>
                <div *ngIf="!showMore" class="introduction" [innerHTML]="product.detail?.Description | lineFeed"></div>
                <div *ngIf="showMore" [innerHTML]="product.detail?.Description | lineFeed"></div>
            </div>
        </div>
        <div class="navbar">
            <ng-container *ngFor="let item of navbarList;let i = index;">
                <div class="navbar-item" tappable (click)="changeType(item);$event.stopPropagation()">
                    <span class="{{bar.type == item.type?'duty-title':''}}">{{item.name}}</span>
                </div>
            </ng-container>
        </div>
    </div>
    <div [ngStyle]="{'margin-top': 256 + marginTop+'px'}" #space class="space"></div>
    <div class="ionSlides" #ionSlidesDIV>
        <div class="swiper-container swiper-course-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-no-swiping" *ngIf="StructureType == 1">
                    <!--      简介      -->
                    <div class="item">
                        <p>简介</p>
                        <div class="introduction" [innerHTML]="product.detail?.Description | lineFeed"></div>
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping">
                    <!--      章节      -->
                    <div id="chapter" class="item" style="min-height: 350px">
                        <p (click)="showTips()">章节 <ion-icon name="information-circle-outline"></ion-icon></p>
                        <page-chapter
                                [chapter]="product.chapter?.Course?.children"
                                [IsBuy]="product.detail?.IsBuy"
                                [StructureType]="StructureType"
                                [TeachTypeName]="product.detail?.TeachTypeName"
                        ></page-chapter>
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping">
                    <!--      讨论      -->
                    <div #TalkContent class="item" style="min-height: 350px;overflow-y: scroll">
                        <p>{{product.detail?.TeachTypeName == "直播" ? "直播" : "课程"}}讨论</p>
                        <comment-star #commentStar></comment-star>
                        <page-comment-list
                                [cList]="comment.talk" [TopicType]="'talk'"></page-comment-list>
                        <div *ngIf="comment.talkLoad" class="loading-talk-spinner">
                            <ion-spinner icon="spiral"></ion-spinner>
                            正在加载
                        </div>
                        <div class="no-comment" *ngIf="comment.talk.length == 0">
                            <ion-list text-center style="margin-top: 40px">
                                <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
                                <p style="color: #666666;font-size: 13px">
                                    暂无{{product.detail?.TeachTypeName == "直播" ? "直播" : "课程"}}讨论，快去发一条吧～</p>
                            </ion-list>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping">
                    <!--            相关-->
                    <div class="item" style="margin-bottom: 5rem">
                        <p>相关推荐</p>
                        <course-list [list]="relationList" (done)="goCourse($event)"></course-list>
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping">
                    <!--我的同学-->
                    <div #ClassmateContent class="item" style="margin-bottom: .5rem">
                        <classmate [List]="classmate.obj.List"
                                   [ThenUserTotal]=classmate.obj.ThenUserTotal
                                   [AnswerUserTotal]=classmate.obj.AnswerUserTotal></classmate>
                        <div *ngIf="classmate.obj.isLoad" class="loading-classmate-spinner">
                            <ion-spinner icon="spiral"></ion-spinner>
                            正在加载
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="StructureType == 1 && bar.type == 3" (click)="openComment()" class="comment-fixed" ion-fixed>
        <div>
            去讨论
        </div>
    </div>
    <div *ngIf="StructureType == 1 && bar.type == 4" (click)="openComment()" class="comment-fixed" ion-fixed>
        <div>
            去评价
        </div>
    </div>
    <div *ngIf="StructureType == 2 && bar.type == 2" (click)="openComment()" class="comment-fixed" ion-fixed>
        <div>
            去讨论
        </div>
    </div>
    <div *ngIf="StructureType == 2 && bar.type == 3" (click)="openComment()" class="comment-fixed" ion-fixed>
        <div>
            去评价
        </div>
    </div>
</ion-content>
<div *ngIf="isError" class="score" tappable ion-fixed (click)="isError = false; $event.stopPropagation();">
    <div class="content" style="width: 60%">
        <img class="tips" src="./assets/imgs/test/test-tips@2x.png">
        <p>温馨提示</p>
        <p class="number test">是否查看上一次作业情况?</p>
        <div class="btn">
            <div class="lookExam" (click)="handleShowError(1)">回顾作业</div>
            <div class="begin" (click)="handleShowError(2)">开始作业</div>
        </div>
    </div>
</div>
