<ion-header>
    <ion-navbar>
        <ion-title>课程详情</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #banner class="banner">
        <div class="background-image">
            <img [src]="product.detail?.ImageUrl" alt="">
        </div>
        <div class="content" *ngIf="!product.videoPath">
            <div class="content-info">
                <div class="course-name">
                    {{product.detail?.Title}}
                </div>
                <div class="course-desc">
                    <span><img src="./assets/imgs/learn/like_white@2x.png" alt="">{{product.detail?.ZanCount}}</span>
                    <span><img src="./assets/imgs/learn/collect_white@2x.png" alt="">{{product.detail?.CollectionCount}}</span>
                </div>
            </div>
        </div>
        <div class="content video" *ngIf="product.videoPath">
            <video #video (canplaythrough)="startPlay($event)" width="100%" autoplay height="100%"
                   poster="{{product.chapter?.Course?.CoverUrl}}" [src]="product.videoPath"
                   controls="controls">
                您的浏览器不支持 html5。
            </video>
        </div>
    </div>
    <!--    <navbar #navbar [list]="navbarList" (done)="getNavbar($event)"></navbar>-->
    <div [hidden]="bar.show" #navbar class="navbar">
        <ng-container *ngFor="let item of navbarList;let i = index;">
            <div class="navbar-item" (click)="changeType(item)">
                <a href="#{{item.code}}" class="{{bar.type == item.type?'duty-title':''}}">{{item.name}}</a>
            </div>
        </ng-container>
    </div>
    <div [hidden]="!bar.show" class="navbar" ion-fixed>
        <ng-container *ngFor="let item of navbarList;let i = index;">
            <div class="navbar-item" (click)="changeType(item)">
                <a href="#{{item.code}}" class="{{bar.type == item.type?'duty-title':''}}">{{item.name}}</a>
            </div>
        </ng-container>
    </div>

    <div #space class="space"></div>
    <div id="desc" class="item">
        <p>简介</p>
        <div class="introduction">
            {{product.detail?.Description}}
        </div>
    </div>
    <div class="space"></div>
    <div id="chapter" class="item">
        <p>章节</p>
        <div class="chapter">
            <ng-container *ngFor="let item of product.chapter?.Course?.children">
                <p style="font-weight: bold" (click)="getMore(item)">
                    {{item.title}}
                    <ion-icon *ngIf="item.children.length > 0 && !item.show" class="more-icon"
                              name="arrow-forward"></ion-icon>
                    <ion-icon *ngIf="item.children.length > 0 && item.show" class="more-icon"
                              name="arrow-down"></ion-icon>
                </p>
                <div *ngIf="item.children && item.show">
                    <tree-list [treeList]="item.children" [IsBuy]="product.detail?.IsBuy"></tree-list>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="space"></div>
    <div id="talk" class="item">
        <p>课程讨论
            <span *ngIf="comment.talk.length > 0" (click)="goCourseDiscuss()" float-end class="look">更多</span>
            <span *ngIf="comment.talk.length == 0" (click)="goCourseDiscuss()" class="focus focus-blue">去讨论</span>
        </p>
        <div class="comment-list">
            <div class="comment-item" *ngFor="let item of comment.talk;">
                <div class="first">
                    <div class="headPhoto">
                        <img [src]="item.HeadPhoto" alt="">
                    </div>
                    <div>
                        <p>{{item.UserName}}</p>
                        <p>{{item.CreateTime | date:'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="img-star">
                    </div>
                </div>
                <div class="last">
                    {{item.Contents}}
                </div>
            </div>
        </div>
        <div class="no-comment" *ngIf="comment.talk.length == 0">
            <p>暂无课程讨论，快去发一条吧～</p>
        </div>
    </div>
    <div class="space"></div>
    <div id="comment" class="item">
        <p>课程评价
            <span *ngIf="comment.course.length > 0" class="look" float-end (click)="goCourseComment()">更多</span>
            <span *ngIf="comment.course.length == 0" class="focus-blue focus" (click)="goCourseComment()">去评价</span>
        </p>
        <div class="comment-list">
            <div class="comment-item" *ngFor="let item of comment.course;">
                <div class="first">
                    <div class="headPhoto">
                        <img [src]="item.HeadPhoto" alt="">
                    </div>
                    <div>
                        <p>{{item.UserName}}</p>
                        <p>{{item.CreateTime | date:'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="img-star">
                        <ng-container *ngFor="let st of starList;let i = index">
                            <span [ngClass]=" item.Score > i?'icon-star-fill':'icon-star' "
                                  class="icon iconfont "></span>
                        </ng-container>
                    </div>
                </div>
                <div class="last">
                    {{item.Contents}}
                </div>
            </div>
        </div>
        <div class="no-comment" *ngIf="comment.course.length == 0">
            <p>暂无课程评价，快去发一条吧～</p>
        </div>
    </div>
    <div class="space"></div>
    <div id="teacher" class="item">
        <p>讲师
            <span (click)="teachDetail()" float-end class="look">查看</span>
        </p>
        <div class="teacher-info" *ngFor="let item of  product.detail?.Teachers">
            <div class="img">
                <img [src]="item.HeadPhoto">
            </div>
            <div class="position">
                <p style="margin-left: -10px">{{item.UserName}}</p>
                <p style="margin-left: -10px">{{item.Position}}</p>
            </div>
            <div>
                <span *ngIf="item.IsSubscribe == false" (click)="focusHandle(item.UserID)"
                      class="focus focus-blue">关注</span>
                <span *ngIf="item.IsSubscribe == true" (click)="cancleFocusHandle(item.UserID)"
                      class="focus noFocus-blue">已关注</span>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="item">
        <p>讲师评价
            <span *ngIf="comment.teacher.length > 0" (click)="goTeacherComment()" float-end class="look">更多</span>
            <span *ngIf="comment.teacher.length == 0" (click)="goTeacherComment()" class="focus focus-blue">去评价</span>
        </p>
        <div class="comment-list">
            <div class="comment-item" *ngFor="let item of comment.teacher;">
                <div class="first">
                    <div class="headPhoto">
                        <img [src]="item.HeadPhoto" alt="">
                    </div>
                    <div>
                        <p>{{item.UserName}}</p>
                        <p>{{item.CreateTime | date:'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="img-star">
                        <ng-container *ngFor="let st of starList;let i = index">
                            <span [ngClass]=" item.Score > i?'icon-star-fill':'icon-star' "
                                  class="icon iconfont "></span>
                        </ng-container>
                    </div>
                </div>
                <div class="last teacher">
                    <div class="Contents">
                        {{item.Contents}}
                    </div>
                </div>
            </div>
        </div>
        <div class="no-comment" *ngIf="comment.teacher.length == 0">
            <p>暂无讲师评价，快去发一条吧～</p>
        </div>
    </div>
    <div class="space"></div>
    <div id="relation" class="item" style="margin-bottom: 5rem">
        <p>相关课程</p>
        <course-list [list]="learnList" (done)="goCourse($event)"></course-list>
    </div>
</ion-content>

<ion-footer class="course-footer" *ngIf="showFooter">
    <ion-toolbar tappable *ngIf="!product.detail?.IsBuy" (click)="sign()">
        <ion-buttons tappable>立即报名</ion-buttons>
    </ion-toolbar>
    <ion-toolbar tappable *ngIf="product.detail?.IsBuy && product.detail?.overpercentage == 100" (click)="studyNow()">
        <ion-buttons tappable>回顾课程</ion-buttons>
    </ion-toolbar>
    <ion-toolbar tappable *ngIf="product.detail?.IsBuy && product.detail?.overpercentage != 100" (click)="studyNow()">
        <ion-buttons tappable>立即学习</ion-buttons>
    </ion-toolbar>
    <ion-toolbar tappable *ngIf="!product.detail?.IsCollection" (click)="collection()">
        <ion-buttons>收藏</ion-buttons>
    </ion-toolbar>

    <ion-toolbar tappable *ngIf="product.detail?.IsCollection" (click)="cancleCollection()">
        <ion-buttons class="collectionDone">
            <ion-icon style="vertical-align: middle" name="heart"></ion-icon>
            已收藏
        </ion-buttons>
    </ion-toolbar>

</ion-footer>

<div *ngIf="signObj.isSign" class="sign">
    <img src="./assets/imgs/course/sign-success.png">
    <p>报名成功</p>
</div>
<div *ngIf="collectionObj.isCollection" class="collection">
    <img src="./assets/imgs/course/collection-success.png">
    <p>收藏成功</p>
</div>
