<ion-header>
  <ion-navbar>
    <ion-title>我的点赞</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
  <div class="post-introduction" (click)="goPostsContent(item)" *ngFor="let item of data;index as i">
    <div class="post-introduction-top">
      <img src="{{item.PosterHeadPhoto}}" alt="">
      <div class="name">{{item.PosterUserName}}</div>
      <div class="oldDate">{{item.PostRelativeTime}}</div>
    </div>
    <div class="post-introduction-con">
      <p>{{item.Title}}</p>
      <div class="img-div img1" *ngIf="item.Images.length==1">
          <img src="{{item.Images[0].Src}}" alt="">
        </div>
        <div class="img-div img2" *ngIf="item.Images.length==2">
          <div *ngFor="let img of item.Images">
            <img src="{{img.Src}}" alt="">
          </div>
        </div>
        <div class="img-div img3" *ngIf="item.Images.length>2">
          <div *ngFor="let img of item.Images.slice(0,3)">
            <img src="{{img.Src}}" alt="">
          </div>
        </div>
    </div>
    <div class="post-introduction-buttom">
      <span class="nowrap-1">
        {{item.TopicPlateName}}
      </span>
      <span>
        <img src="./assets/imgs/forum/list/luntan_coment@3x.png" alt="">
        {{item.ReplyCount}}
      </span>
      <span>
      <!-- <span (click)="$event.stopPropagation();forum_post_cancellike(item,i)"> -->
        <img src="./assets/imgs/forum/other/p771_comment_like_on@3x.png" alt="">
        {{item.LikeCount}}
      </span>
    </div>
  </div>
  <ion-list text-center style="margin-top: 10rem" *ngIf="data.length == 0">
    <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
    <p text-center style="color: #666666;font-size: 16px">
        暂无数据
    </p>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="lodaData($event)" *ngIf="isdoInfinite">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>