<ion-header>
    <ion-navbar>
      <ion-title>我的点赞</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
      <div class="post-introduction" (click)="goPostsContent({})">
          <div class="post-introduction-top">
            <img src="./assets/imgs/forum/other/p771_avatar1@3x.jpg" alt="">
            <div class="name">秋国艳</div>
            <div class="oldDate">1小时</div>
            <div style="flex: 1;">
            </div>
            <div class="edit-div">
              <span class="edit-img">
                  <img src="./assets/imgs/forum/other/p771_delete@3x.png" alt="">
              </span>
               <span class="del-img">
                  <img src="./assets/imgs/forum/other/p771_delete@3x.png" alt="">
              </span>
              </div>
          </div>
          <div class="post-introduction-con">
            <p>用车分享：大宝第十次的维修保养知识</p>
            <div class="img-div img1">
              <img src="./assets/imgs/forum/list/luntan_pic1@3x.jpg" alt="">
            </div>
          </div>
          <div class="post-introduction-buttom">
            <span>
              产品体验
            </span>
            <span>
              <img src="./assets/imgs/forum/list/luntan_coment@3x.png" alt="">
              134
            </span>
            <span>
              <img src="./assets/imgs/forum/other/p771_comment_like@3x.png" alt="">
              134
            </span>
          </div>
      </div>
  </ion-content>