
<ion-header>
    <ion-navbar>
        <ion-title>论坛</ion-title>
    </ion-navbar>
</ion-header>
<ion-content >
  <div class="history">
    <div class="left-bg">
      <h3>最近浏览</h3>
    </div>
    <div class="list-con">
        <div class="history-list" (click)="goPostlist()">
            <div class="img-div">
              <img src="./assets/imgs/forum/other/hha.png" alt="">
            </div>
            <div class='text'>
              <h4>销售专区</h4>
              <p>[1076条帖子]</p>
            </div>
        </div>
        <div class="history-list" (click)="goPostlist()">
            <div class="img-div">
              <img src="./assets/imgs/forum/other/hha.png" alt="">
            </div>
            <div class='text'>
              <h4>销售专区</h4>
              <p>[1076条帖子]</p>
            </div>
        </div>  
        <div class="history-list" (click)="goPostlist()">
            <div class="img-div">
              <img src="./assets/imgs/forum/other/hha.png" alt="">
            </div>
            <div class='text'>
              <h4>销售专区</h4>
              <p>[1076条帖子]</p>
            </div>
        </div>
    </div>
  
  </div>
  <div class="more-com">
      <div class="left-bg">
        <h3>更多专区</h3>
      </div>
      <div class="con-div" (click)="goPostlist()">
          <div class="list">
              <div class="img-div">
                  <img src="./assets/imgs/forum/other/hha.png" alt="">
              </div>
              <div class="text">
                <div>
                  <span  class="text-l">专家专区</span>
                  <span class="text-r">[2341条帖子]</span>
                </div>
                <p >
                    四强联手，75个销售网点，6000亿五
                    菱印尼金融公司始航…
                </p>
              </div>
          </div>
      </div>  
      <div class="con-div" (click)="goPostlist()">
          <div class="list">
              <div class="img-div">
                  <img src="./assets/imgs/forum/other/hha2.png" alt="">
              </div>
              <div class="text">
                <div>
                  <span  class="text-l">吐槽大会</span>
                  <span class="text-r">[2341条帖子]</span>
                </div>
                <p>
                    新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行，全系标配新宝骏…
                </p>
              </div>
          </div>
      </div> 
      <div class="con-div" (click)="goPostlist()">
          <div class="list">
              <div class="img-div">
                  <img src="./assets/imgs/forum/other/hha3.png" alt="">
              </div>
              <div class="text">
                <div>
                  <span  class="text-l">新车体验</span>
                  <span class="text-r">[2341条帖子]</span>
                </div>
                <p >
                    四强联手，75个销售网点，6000亿五
                    菱印尼金融公司始航…
                </p>
              </div>
          </div>
      </div> 
      <div class="con-div" (click)="goPostlist()">
          <div class="list">
              <div class="img-div">
                  <img src="./assets/imgs/forum/other/hha.png" alt="">
              </div>
              <div class="text">
                <div>
                  <span  class="text-l">RM-5专区</span>
                  <span class="text-r">[2341条帖子]</span>
                </div>
                <p >
                    四强联手，75个销售网点，6000亿五
                    菱印尼金融公司始航…
                </p>
              </div>
          </div>
      </div> 
      <div class="con-div" (click)="goPostlist()"> 
          <div class="list">
              <div class="img-div">
                  <img src="./assets/imgs/forum/other/hha.png" alt="">
              </div>
              <div class="text">
                <div>
                  <span  class="text-l">专家专区</span>
                  <span class="text-r">[2341条帖子]</span>
                </div>
                <p >
                    四强联手，75个销售网点，6000亿五
                    菱印尼金融公司始航…
                </p>
              </div>
          </div>
      </div> 
  </div>
</ion-content>