<ion-header class="forum-header">
    <ion-navbar>
        <ion-title>动态</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher #ionRefresher  [ngStyle]="{height: refresher.state === 'completing'?'0':'auto'}" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>

    <div ion-fixed class="navul">
        <div class="navli" [ngClass]="{'act': navli=='推荐'}" tappable (click)="switchInformation('推荐')">
            推荐
        </div>
        <div class="navli" [ngClass]="{'act': navli=='板块'}" tappable (click)="switchInformation('板块')">
            板块
        </div>
        <div class="navli" [ngClass]="{'act': navli=='关注'}" tappable (click)="switchInformation('关注')">
            关注
        </div>
    </div>
    <div style="margin-top: 5rem;"></div>
<!--    话题列表-->
    <div *ngIf=" navli=='推荐'" class="navul-navbar">
        <div *ngFor="let item of topList" class="navli" [ngClass]="{'check': checkTopic == item.Id}" tappable
             (click)="goPostlist(item)">
            <span>{{item.Name}}</span>
        </div>
    </div>
    <div *ngIf="navli=='推荐'">
        <div class="div-nav">
            <div [ngClass]="{'act': pageDate.Type =='New'}" tappable (click)="avtNav('New')">最新</div>
            <div [ngClass]="{'act': pageDate.Type =='Hot'}" tappable (click)="avtNav('Hot')">最热</div>
            <div class="search" (click)="goToSearch()">
                <img class="search-icon" src="./assets/imgs/new_version/home/search.png" alt="搜索图标">
                搜索内容
            </div>
        </div>
        <app-forum-list-time [followList]='forumList'></app-forum-list-time>
        <ion-list text-center style="margin-top: 10rem" *ngIf="forumList.length === 0 && isLoad">
            <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
            <p text-center style="color: #666666;font-size: 16px">
                暂无数据
            </p>
        </ion-list>
    </div>
    <div *ngIf="navli=='板块'">
        <div class="history" *ngIf="ForumHistory.length>0">
            <div class="left-bg">
                <h3>最近浏览</h3>
            </div>
            <div class="list-con">
                <div class="history-list" tappable (click)="goPostlist(item)" *ngFor="let item of ForumHistory">
                    <div class="img-div">
                        <img [src]="item.CoverImage || ''" alt="">
                    </div>
                    <div class='text'>
                        <h4>{{item.Name}}</h4>
                        <p>[{{item.PostCount}}条动态]</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="more-com">
            <div class="left-bg">
                <h3 class="more">全部专区</h3>
            </div>
            <div class="con-div" *ngFor="let item of plateList" tappable (click)="goPostlist(item)">
                <div class="list">
                    <div class="img-div">
                        <img [src]="item.CoverImage || ''" alt="">
                    </div>
                    <div class="text">
                        <div class="number-text">
                            <span class="text-l"
                                  style="-webkit-box-orient: vertical;-webkit-line-clamp: 1;">{{item.Name}}</span>
                            <span class="text-r">【{{item.PostCount}}条动态】</span>
                        </div>
                        <p style="-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
                            {{item.Description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="navli=='关注'">
        <app-forum-list-time [followList]='followList'></app-forum-list-time>
        <ion-list text-center style="margin-top: 10rem" *ngIf="followList.length === 0 && isLoad">
            <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
            <p text-center style="color: #666666;font-size: 16px">
                暂无数据
            </p>
        </ion-list>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isdoInfinite">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<div class="new-add" tappable (click)="PostAddComponent()">
</div>
