<ion-header>
  <ion-navbar>
    <ion-title>查看回复</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background: #fff;">
  <div class="original">
    <div class="reply">
      <div class="reply-top">
        <img class="heard-img" src="{{data.PosterHeadPhoto}}" alt="">
        <div class="text">
          <h4>{{data.PosterUserName}}</h4>
          <p>{{data._ReplyTimeFormatted}}</p>
        </div>
        <div class="comment">
        </div>
      </div>
      <div class="reply-text">
        {{data.Content}}
      </div>
    </div>
  </div>
  <div style="background: #f2f2f2;height: 10px;width: 100%;">

  </div>
  <div class="discuss-list">
    <p class="number-all">回复（{{data.CommentCount}}）</p>
    <div class="reply" *ngFor="let item of data.Comments">
      <div class="reply-top">
        <img class="heard-img" src="{{item.PosterHeadPhoto}}" alt="">
        <div class="text">
          <h4>{{item.PosterUserName}}<span *ngIf="item.PosterUserName==data.PosterUserName" class="label">楼主</span></h4>
          <p>{{item._ReplyTimeFormatted}}</p>
        </div>
        <div class="comment">
        </div>
      </div>
      <div class="reply-text">
          {{item.Content}}
      </div>
    </div>

  </div>
  <ion-list text-center style="margin-top: 10rem;display: block;" *ngIf="data.Comments.length==0">
      <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
      <p text-center style="color: #666666;font-size: 16px">
        没有评论，块发一条吧~
      </p>
  </ion-list>
</ion-content>
<ion-footer>
    <div class="input-div" (click)="textareaclick()">
        <div>
          输入你的评论
        </div>
      </div>
      <div class="inputshow" [ngClass]="{'textareaBlur': textareaBlur}" (click)="inputshow_on();">
        <div class="input-div" (click)="textareaclick();$event.stopPropagation();">
        </div>
        <div class="btn" (click)="replycomment_add();$event.stopPropagation()">
          发送
        </div>
      </div>
      <textarea id="textareainpview" placeholder='输入你的评论...' class="textarea-blur" [ngClass]="{'textarea-focus': textareaBlur}" (focus)="textareaclick();$event.stopPropagation();" rows="1" [(ngModel)]="inputText"></textarea>
</ion-footer>
