//tabs-icon
ion-icon {
  &[class*="custom-"] {
    margin: 0 2px 0 0;
    vertical-align: middle;
    $sz: 20px;
    width: $sz;
    height: $sz;
  }

  // custom icons
  &[class*="tab1-on"] {
    background: url(../assets/imgs/tabs/tab1_on.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab1-off"] {
    background: url(../assets/imgs/tabs/tab1_off.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab2-on"] {
    background: url(../assets/imgs/tabs/tab2_on.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab2-off"] {
    background: url(../assets/imgs/tabs/tab2_off.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab3-on"] {
    background: url(../assets/imgs/tabs/tab3_on.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab3-off"] {
    background: url(../assets/imgs/tabs/tab3_off.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab4-on"] {
    background: url(../assets/imgs/tabs/tab4_on.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab4-off"] {
    background: url(../assets/imgs/tabs/tab4_off.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab5-off"] {
    background: url(../assets/imgs/tabs/tab5_off.png) no-repeat 50% 50%;
    background-size: contain;
  }

  &[class*="tab5-on"] {
    background: url(../assets/imgs/tabs/tab5_on.png) no-repeat 50% 50%;
    background-size: contain;
  }

}

.ion-ios-arrow-back:before {
  content: "";
  width: 2rem;
  height: 3.5rem;
  background: url(../assets/imgs/back.png) no-repeat 50% 50%;
  background-size: contain;
}
