<ion-header>
    <ion-navbar>
        <ion-title>资讯中心</ion-title>
    </ion-navbar>
</ion-header>


<ion-content style="background: #fff;">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <div class="navul" #navul>
            <div class="navli" [ngClass]="{'act': navli=='新车资讯'}" (click)="switchInformation('新车资讯')">
                新车资讯
            </div>
            <div class="navli" [ngClass]="{'act': navli=='行业新闻'}" (click)="switchInformation('行业新闻')">
                行业新闻
            </div>
            <div class="navli" [ngClass]="{'act': navli=='培训资讯'}" (click)="switchInformation('培训资讯')">
                培训资讯
            </div>
    </div>
    <div class="information-ul">
            <ion-list text-center style="margin-top: 10rem" *ngIf="no_list">
                    <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
                    <p text-center style="color: #666666;font-size: 16px">
                        暂无数据
                    </p>
                  </ion-list>

        <ng-container *ngFor="let item of dataList">
            <div class="information-list img1" *ngIf="item.IsSingle" (click)="goComponentsdetails(item)">
                <div class="list-time">
                    <h4>{{item.Title}}</h4>
                    <div class="time">
                        {{item.ReleaseTime|date:'yyyy-MM-dd hh:mm'}}
                    </div>
                </div>
                <div class="imgdiv">
                    <img [src]="img" *ngFor="let img of item.SourceURLList.slice(0,1)" alt="">
                </div>
            </div>
            <div class="information-list img3" *ngIf="!item.IsSingle" (click)="goComponentsdetails(item)">
                <h4>{{item.Title}}</h4>
                <div class="imgdiv-flex">
                    <img [src]="img" *ngFor="let img of item.SourceURLList" alt="">
                    <!-- <img [src]="item.SourceUrl" alt="">
                    <img [src]="item.SourceUrl" alt=""> -->
                </div>
                <div class="time">
                    {{item.ReleaseTime|date:'yyyy-MM-dd hh:mm'}}
                </div>
            </div>
            <!-- <div class="information-list imgBig" *ngIf="item.imgarr=='imgBig'" (click)="goComponentsdetails(item)">
                <h4>{{item.Title}}</h4>
                <div class="imgdiv-flex">
                    <img [src]="item.SourceUrl" alt="">
                </div>
                <div class="time">
                    {{item.ReleaseTime|date:'yyyy-MM-dd hh:mm'}}
                </div>
            </div> -->
        </ng-container>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isdoInfinite">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>