// http://ionicframework.com/docs/theming/
@import "../theme/ionic";
@import "../theme/style";
@import "../theme/tab.icon";
@import "../assets/iconfont/iconfont";
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html, body, p {
  margin: 0;
}

.space {
  height: 10px;
  background-color: #f2f2f2;
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.list-footer-page {
  text-align: center;
  padding: 20px;
  color: #999999;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border: 1px solid #343435;
}

.platform-ios .platformIOS {
  .toolbar.toolbar-ios {
    height: calc(56px + 20px);
    min-height: calc(56px + 20px);
    padding-top: 20px;
  }
}

//iphoneX、iphoneXs
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .platform-ios .platformIOS {
    .toolbar.toolbar-ios {
      height: calc(56px + 30px);
      min-height: calc(56px + 30px);
      padding-top: 30px;
    }
  }
}


//iphone Xs Max
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .platform-ios .platformIOS {
    .toolbar.toolbar-ios {
      height: calc(56px + 30px);
      min-height: calc(56px + 30px);
      padding-top: 30px;
    }
  }
}


//iphone XR
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .platform-ios .platformIOS {
    .toolbar.toolbar-ios {
      height: calc(56px + 30px);
      min-height: calc(56px + 30px);
      padding-top: 30px;
    }
  }
}

.isIphone11IOS13 {
  margin-top: 44px;
  height: calc(100% - 44px);
}

.isIphoneIOS13 {
  margin-top: 20px;
  height: calc(100% - 20px);
}

.levelAction {
  .action-sheet-container {
    padding: 0;
  }

  .action-sheet-group {
    border-radius: 0;
  }

  .action-sheet-group:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  button.action-sheet-button {
    height: 55px;

    .button-inner {
      font-size: 14px;
    }
  }

  button.action-sheet-destructive {
    color: #FA6400 !important;
  }
}

.mineAlert .alert-message{
  text-align: left !important;
}
.amp-default-skin .vjs-loading-spinner::before{content:url("assets/icons/buffering-rainbow.gif")}

.amp-logo{
  display: none !important;
}
