// http://ionicframework.com/docs/theming/
@import "../theme/ionic";
@import "../theme/style";
@import "../theme/tab.icon";
@import "../assets/iconfont/iconfont";
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
html, body, p {
  display: block;
  margin: 0;
}
body {
  position: relative;
  margin:0 auto;
  width: 100%;
  max-width: 760px;
}

.space {
  height: 10px;
  background-color: #f2f2f2;
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }
}

.list-footer-page {
  text-align: center;
  padding: 20px;
  color: #999999;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  border: 1px solid #ffffff;
}

.platform-ios .platformIOS {
  .toolbar.toolbar-ios {
    height: calc(56px + 20px);
    min-height: calc(56px + 20px);
    padding-top: 20px;
  }
}

//iphoneX、iphoneXs
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .platform-ios .platformIOS {
    .toolbar.toolbar-ios {
      height: calc(56px + 30px);
      min-height: calc(56px + 30px);
      padding-top: 30px;
    }
  }
}


//iphone Xs Max
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .platform-ios .platformIOS {
    .toolbar.toolbar-ios {
      height: calc(56px + 30px);
      min-height: calc(56px + 30px);
      padding-top: 30px;
    }
  }
}


//iphone XR
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .platform-ios .platformIOS {
    .toolbar.toolbar-ios {
      height: calc(56px + 30px);
      min-height: calc(56px + 30px);
      padding-top: 30px;
    }
  }
}

.isIphone11IOS13 {
  margin-top: 44px;
  height: calc(100% - 44px);
}

.isIphoneIOS13 {
  margin-top: 20px;
  height: calc(100% - 20px);
}

// 上拉选择样式 如岗位认证 切换岗位 start
.levelAction {
  .action-sheet-container {
    padding: 0;
    .action-sheet-group {
      box-sizing: border-box;
      margin: 0 1rem;
      margin-top: 0;
      margin-bottom: 0.9rem !important;
      padding: 1.1rem 1.3rem 1.8rem 1.3rem !important;
    }
  }

  .action-sheet-group {
    border-radius: 0;
  }

  .action-sheet-group:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  button.action-sheet-button {
    height: 4.2rem;

    .button-inner {
      font-size: 1.5rem;
    }
    &:nth-child(1):before {
      border-top: 0 !important;
      height: 0 !important;
    }
  }

  button.action-sheet-destructive {
    color: #FF001B !important;

  }
  .action-sheet-group button.action-sheet-button:before {
    border-color: #DEDEDE ;
  }

}
// 上拉选择样式 end

.mineAlert .alert-message {
  text-align: left !important;
}

.amp-default-skin .vjs-loading-spinner::before {
  content: url("assets/icons/buffering-rainbow.gif")
}

.amp-logo {
  display: none !important;
}
.check-integral {
  display: flex;
  line-height: 3rem;
  padding: 2rem;
  font-size: 1.8rem;
  .iconsimg{
    width: 2.5rem;
    margin-right: 1rem;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  .left {
    span:first-child {
      color: #535353;
      margin-right: 5px;
      font-size: 2.0rem;
      font-weight: 500;
      vertical-align: top;
    }
  }

  .right {
    margin-left: auto;
    color: #535353;
    span{
      border-radius: 18px;
      padding: 5px 10px;
      color: #FCA241;
      font-size: 1.5rem;
      border:1px solid #FCA241;
    }
  }

	.black-bg {
		background-image: url('../assets/imgs/mine/wod_bg@2x.png') no-repeat bottom;
		background-size: 100% 100%;
	}
}
.total-integral {
  display: flex;
  line-height: 3rem;
  // background-image: url('../assets/imgs/integral/jifen_banner.png');
  background: -webkit-gradient(linear,0 0,0 100%,from(#FFEBC9),to(#FFF7D8));     
  background: -moz-gradient(linear,0 0,0 100%,from(#FFEBC9),to(#FFF7D8));     
  background:-webkit-gradient(linear,left top,left bottom,from(#FFEBC9),to(#FFF7D8)); 
  border-radius: 2px;
  background-size: cover;
  margin-bottom: 1.5rem;
  padding: 2rem 1.5rem;
  font-size: 1.8rem;
  .iconsimg{
    width: 2.3rem;
    margin-right: 1rem;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  .left {
    span:first-child {
      color: #FFA903;
      margin-right: 5px;
    }
    span:last-child {
      font-size: 2.6rem;
      color: #FFA903;
      vertical-align: top;
    }
  }

  .right {
    margin-left: auto;
    color: #535353;
    span{
      b{
        color: #FB7F1E;
      }
    }
  }

	.black-bg {
		background-image: url('../assets/imgs/mine/wod_bg@2x.png') no-repeat bottom;
		background-size: 100% 100%;
	}
}
//底部弹窗
.action-sheet-container .action-sheet-group {
  border-radius: 5px;
  padding: 0 1.5rem;

  button.action-sheet-button {
    color: #333333;
    font-size: 1.5rem;
    min-height: 4rem;
    padding: 0;
    border: none;
    position: relative;
  }

  button.action-sheet-button:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  button.action-sheet-selected {
    color: #FF001B;
    background: none;
  }

  button.action-sheet-cancel {
    font-weight: 400;
  }
}

.toolbar-ios {
  min-height: 5.7rem;
}
// tab选中颜色
a[aria-selected="true"] { color: red !important; }