dayily-school {
  .dayily-school{
    margin-top: 5rem;
    height: 92px;
    background-image: url(../../assets/imgs/home/home_mryx.png);
    background-size: cover;
    background-repeat: no-repeat;
    .container{
      display: flex;
      justify-content: center;
      height: 100%;
      > div{
        display: flex;
        align-items: center;
      }
      .left{
        flex: 3;
        color: #fff;
        font-size: 16px;
        padding-left: 20px;
        font-weight: bolder;
        .day{
          font-size: 35px;
          padding-right: 10px;
        }
        .other{

        }
      }
      .right{
        flex: 2;
        justify-content: center;
      }
      .right button{
        width:104px;
        height:32px;
        background:linear-gradient(215deg,rgba(255,247,203,1) 0%,rgba(255,201,45,1) 100%);
        box-shadow:0px 5px 5px 0px rgba(255,206,61,0.26);
        border-radius:18px;
        font-weight: bolder;
      }
    }
  }
}
