<!--
  Generated template for the ListsRankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>lists-ranking 考试成绩列表</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新"
                           refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="podium-pg">
    <div class="phb_2" *ngIf="page.upRankingLists.length >= 2">
      <div class="name-div">
        <img class="user-head" src="{{ page.upRankingLists[1].headPhoto || userDefaultImg }}" alt="">
        <div class="name type-name nowrap-1">{{ page.upRankingLists[1].UserName }}</div>
        <div style="color: #888888;font-size: 1rem;text-align: center;line-height: 1;margin-bottom: 0.4rem;">
          100分 （<span style="margin-left: 0.3rem;">{{ page.upRankingLists[1].accuracy }}</span>）
        </div>
        <div class="user-label nowrap-1">
          {{ page.upRankingLists[1].ForumTitle }}
        </div>
      </div>
      <img class="phb_2bg" src="assets/imgs/ranking/phb_2@2x.png" alt="第二">
    </div>
    <div class="phb_1" *ngIf="page.upRankingLists.length >= 1">
      <div class="name-div">
        <img class="user-head" src="{{ page.upRankingLists[0].headPhoto || userDefaultImg }}" alt="">
        <div class="name type-name nowrap-1">{{ page.upRankingLists[0].UserName }}</div>
        <div style="color: #888888;font-size: 1rem;text-align: center;line-height: 1;margin-bottom: 0.4rem;">
          100分 （<span style="margin-left: 0.3rem;">{{ page.upRankingLists[0].accuracy }}</span>）
        </div>
        <div class="user-label nowrap-1">
          {{ page.upRankingLists[0].ForumTitle }}
        </div>
      </div>
      <img class="phb_1bg" src="assets/imgs/ranking/phb_1@2x.png" alt="第一">
    </div>
    <div class="phb_3" *ngIf="page.upRankingLists.length >= 3">
      <div class="name-div">
        <img class="user-head" src="{{ page.upRankingLists[2].headPhoto || userDefaultImg }}" alt="">
        <div class="name type-name nowrap-1">{{ page.upRankingLists[2].UserName }}</div>
        <div style="color: #888888;font-size: 1rem;text-align: center;line-height: 1;margin-bottom: 0.4rem;">
          100分 （<span style="margin-left: 0.3rem;">{{ page.upRankingLists[2].accuracy }}</span>）
        </div>
        <div class="user-label nowrap-1">
          {{ page.upRankingLists[2].ForumTitle }}
        </div>
      </div>
      <img class="phb_3bg" src="assets/imgs/ranking/phb_3@2x.png" alt="第三">
    </div>
  </div>
  <ul class="lists-ranking">
    <li *ngFor="let item of page.rankingLists">
      <span class="ranking-num">{{ item.RowNumber }}</span>
      <img class="avatar" src="{{ item.headPhoto || userDefaultImg }}">
      <div class="userinfo">
        <div class="username">{{item.UserName}}</div>
        <div class="company">{{ item.ForumTitle }}</div>
      </div>
      <span class="ranking-points">
      <span class="points-total">{{item.TotalScore}}</span><span>（{{ item.accuracy }}）</span>
    </span>
    </li>

    <ion-list text-center style="margin-top: 10rem" *ngIf="page.isLoad && page.rankingLists.length == 0">
      <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
      <p text-center style="color: #666666;font-size: 16px">
        暂无数据
      </p>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ul>

</ion-content>
