user-agreement {
  .all {
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
  }

  ion-buttons {
    background-color: #FFFFFF;
    color: #555555;
    font-weight: bold;
    font-size: 16px;

    button {
      background-color: #FFFFFF;
      color: #555555;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
