<ion-header>
    <ion-navbar>
        <ion-title>用户协议</ion-title>
        <ion-buttons start>
            <button (click)="back()">返回</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="all"><p
            style="font-size:24pt; line-height:150%; margin:3.5pt 0pt 0pt; orphans:0; text-align:center; widows:0"><span
            style="font-family:宋体; font-size:24pt; font-weight:bold">用户协议</span></p>
        <p style="font-size:13pt; line-height:150%; margin:0pt; text-indent:21pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">1</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">、</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">“</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏菱</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”某些服务或模块允许您通过账户上传、提交、发布信息。该信息的知识产权及所有权归您所有。</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">&#xa0;</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">您声明并保证，您对您所发布的信息拥有相应、合法的权利，您对该类信息的真实性、合法性承担全部责任。</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">&#xa0;</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">否则，“</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏菱学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”有权对您发布的信息依法或依本协议进行删除或屏蔽。</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt; text-indent:21pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">2、</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">当您通过您的账户上传、提交、存储或发布信息时，您同意许可</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">“骏菱学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”使用、托管、存储、复制、修改、创建衍生作品（如进行翻译、改编或其他更改而产生的作品）、传播、出版、公开</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">演示、公开展示和分发此类信息。您在此许可中授予的权限用于“</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏菱学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”运营、宣传和改进服务以及开发新的服务。该项许可在您停止使用“</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏菱学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”或其服务后依然有效。</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt; text-indent:21pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">3</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">、</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">您不可利用账户制作、复制、发布、传播含有法律法规禁止的内容的信息；不得从事危害电信网络安全和信息安全的行为；不得从事扰乱电信市场秩序的行为。否则，“</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏菱学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”有权暂停或停止向您提供有关服务。</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt; text-indent:21pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">4、</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none"> “</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏菱学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”提供的服务中可能包括广告，您同意在使用过程中显示“</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏凌学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”和第三方供应商。您不得利用”</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">骏凌学社</span><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">”帐号或本服务制作、上载、复制、发送如下内容：</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（1）反对宪法所确定的基本原则的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（3）损害国家荣誉和利益的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（4）煽动民族仇恨、民族歧视，破坏民族团结的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（5）破坏国家宗教政策，宣扬邪教和封建迷信的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（6）散布谣言，扰乱社会秩序，破坏社会稳定的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（8）侮辱或者诽谤他人，侵害他人合法权益的</span>
        </p>
        <p style="font-size:13pt; line-height:150%; margin:0pt"><span
                style="color:#333333; font-family:苹方-简; font-size:13pt; font-style:normal; font-weight:bold; text-transform:none">（9）含有法律、行政法规禁止的其他内容的信息</span>
        </p>
        <p style="font-size:10.5pt; line-height:115%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span
                style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p></div>
</ion-content>
