<div class="cover">
  <div class="bg-content">
    <div class="remind">
      <img src="assets/imgs/new_version/home/remind-icon.png" alt="">
    </div>
    <div class="tip-text">
      今日提醒
    </div>
      <div class="update-content">
          <div class="update-text">
            <div class="curriculum">
              <!--<div class="icon">-->
                <!--<img src="assets/imgs/home/curriculum.png" alt="">-->
              <!--</div>-->
              <div class="study-box">
                <div>
                  {{ message }}
                </div>
                <div style="text-align: center;">
                    <button class="study-btn"(click)="curriculumFn()" >开始学习</button>
                </div>
              </div>
            </div>

            <div class="Examination" *ngIf="data.ISExam" >
              <div class="icon">
                <img src="assets/imgs/home/kcts_ks@2x.png" alt="">
              </div>
              <div style="padding-left: 10px;">
                今日有考试，请到考试中心完成考试
              </div>
            </div>
          </div>
          <div tappable  class="update-button" (click)="GotIt()">
              我知道了
          </div>
          <div class="no-remind" (click)="noRemind()" >
            <img *ngIf="!isNoRemindMission"  src="assets/imgs/home/kctix_wx@2x.png" alt="" >
            <img *ngIf="isNoRemindMission"  src="assets/imgs/home/kctix_yx@2x.png" alt="" >
            今日不再提醒
          </div>
      </div>
  </div>
</div>
