page-exam {
  .navbarfix{
    display: -webkit-flex; /* Safari */
    display: flex;
    left: 0;
    right: 0;
    .navbar{
      width: 100%;
    }
  }
  .exam{
    background: #fff;
    padding: 0 !important;
    margin-top: 43px;
    .item{
      margin-bottom: 0 !important;
      padding: 10px 0 !important;
      .test-item{
        padding: 1.2rem !important;
      }
      .space{
        height: 10px;
        background: #fff;
      }
      .scorespace{
        background: #f8f8f8;
        padding: 1.2rem;
      }
    } 
  }
  .item {
    position: relative;
    .examScore {
      font-size: 15px !important;
      line-height: 15px !important;

      img {
        width: 16px;
        height: 16px;
        vertical-align: top;
      }
    }
  }

  .test-item {
    display: flex;
    padding: 5px;
    position: relative;

    .test-item-image {
      width: 40%;
      padding-right: 5px;
      text-align: center;

      img {
        border-radius: 5px;
        height: 80px;
        width: 100%;
      }
    }

    .test-item-desc {
      width: 60%;
      padding-left: 5px;
      display: flex;
      flex-flow: row wrap;

      > p.courseName {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: rgba(0, 0, 0, .9);
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        align-self: flex-start;
        margin: 0;
      }

      > p.eName {
        width: 100%;
        align-self: flex-end;
        display: flex;
        align-items: center;

        span {
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }
  }

  .test-leave {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }

  .simulation-btn {
    // background: linear-gradient(216deg, #fff7cb 0%, #ffc92d 100%);
    border:1px solid #D4A558;
    font-size: 13px;
    margin-right: 10px;
    color: #D4A558;
    font-weight: 500;
    height: 24px;
    padding: 0 10px !important;
    border-radius: 15px;
  }
}
