<div class="list" *ngFor="let item of treeList">
    <p [ngStyle]="{'padding-left':(item.NodeLevel*5)+'px'}" tappable (click)="getMore(item)">
        {{item.title}}
        <ion-icon *ngIf="item.children.length > 0 && item.show" class="more-icon" name="arrow-forward"></ion-icon>
        <ion-icon *ngIf="item.children.length > 0 && !item.show" class="more-icon" name="arrow-down"></ion-icon>
    </p>
    <tree-list *ngIf="item.children.length > 0 && !item.show"
               [IsBuy]="IsBuy"
               [TeachTypeName]="TeachTypeName"
               [treeList]="item.children"
    ></tree-list>
    <div *ngFor="let item of item.files">
        <p [ngStyle]="{'padding-left':(item.NodeLevel*5)+'px'}" tappable (click)="handle(item,$event)">
            <img *ngIf="item.icon != 'mp4'" src="./assets/imgs/learn/file.png">
            <img *ngIf="item.icon == 'mp4'" src="./assets/imgs/learn/mp4.png">
            {{item.DisplayName}}<span class="file-icon">{{item.icon}}</span>
            <img *ngIf="nowTime > item.PlanStartTime_time && IsBuy" tappable
                 (click)="downLoad(item,$event)" class="download-file" src="./assets/imgs/learn/download-file.png">
        </p>
    </div>
    <ng-container *ngIf="IsBuy">
        <div *ngFor="let item of item.tags">
            <p [ngStyle]="{'padding-left':(item.NodeLevel*5)+'px'}" tappable (click)="handleExam(item,$event)">
                <span class="exam">
                    {{item.label}}
                </span>
        </div>
    </ng-container>
</div>

<div *ngIf="isSign" class="collection">
    <img src="./assets/imgs/learn/sign_error.png">
    <p>请先报名</p>
</div>
