<div class="list" *ngFor="let itemNode of treeList">
    <p [ngStyle]="{'padding-left':(itemNode.NodeLevel*5)+'px'}" tappable (click)="getMore(itemNode)">
        {{itemNode.title}}
        <img *ngIf="itemNode.StudyStatus == 1" class="suo" src="./assets/imgs/learn/suo.png">
        <ion-icon *ngIf="itemNode.children.length > 0 && !itemNode.show" class="more-icon"
                  name="arrow-forward"></ion-icon>
        <ion-icon *ngIf="itemNode.children.length > 0 && itemNode.show" class="more-icon" name="arrow-down"></ion-icon>
    </p>
    <tree-list *ngIf="itemNode.children.length > 0 && itemNode.show"
               [IsBuy]="IsBuy"
               [TeachTypeName]="TeachTypeName"
               [treeList]="itemNode.children"
    ></tree-list>
    <!--    课件-->
    <ion-row>
        <ng-container *ngFor="let itemFile of itemNode.files">
            <ion-col col-6 class="col-item" tappable (click)="handle(itemNode,itemFile,$event)">
                <div class="record-item">
                    <span class="file-icon file-icon_{{itemFile.icon}}">{{itemFile.icon | uppercase}}</span>
                    <img class="shipin_zy" src="./assets/imgs/learn/shipin_zy.png">
                    <img *ngIf="nowTime > itemFile.PlanStartTime_time && IsBuy && itemFile.icon.length && itemFile.icon != 'iframe' && itemFile?.IsDownload"
                         tappable (click)="downLoad(itemFile,$event)"
                         class="download-file" src="./assets/imgs/course/xiazai.png">
                    <span class="done">
                        <img *ngIf="itemFile.IsPass && itemFile.IsStudy;else other_img"
                             src="./assets/imgs/course/yiwancheng.png">
                        <ng-template #other_img>
                            <img src="./assets/imgs/course/daiwancheng.png" alt="">
                        </ng-template>
                    </span>
                </div>
                <p>{{itemFile.DisplayName | stringSlice:15:15}}</p>
            </ion-col>
        </ng-container>
    </ion-row>
    <!--   作业      -->
    <ng-container *ngIf="IsBuy">
        <ion-row>
            <ng-container *ngFor="let itemExam of itemNode.tags">
                <ion-col col-6 class="col-item" tappable (click)="handleExam(itemNode,itemExam,$event)">
                    <div class="record-item">
                        <span class="jobType green">视频</span>
                        <span class="no" *ngIf="itemExam.examStatus == 4 || (itemExam.examStatus == 0 && itemExam.StudyStatus == 2)
                    || (itemExam.examStatus == 1 && itemExam.StudyStatus == 2) || (itemExam.examStatus == 2 && itemExam.StudyStatus == 2)">
                                 <img src="./assets/imgs/course/daiwancheng.png" alt="">
                                  </span>
                        <span class="yes" *ngIf="itemExam.examStatus == 8">
                                 <img src="./assets/imgs/course/yiwancheng.png" alt="">
                            </span>
                        <img class="shipin_zy" src="./assets/imgs/learn/shipin_zy.png">
                    </div>
                    <p>{{itemExam.label | stringSlice:15:15}}</p>
                </ion-col>
            </ng-container>
        </ion-row>
    </ng-container>
</div>

<div *ngIf="isSign" class="collection">
    <img src="./assets/imgs/learn/sign_error.png">
    <p>请先报名</p>
</div>
