<div class="list" *ngFor="let itemNode of treeList">
    <p [ngStyle]="{'padding-left':(itemNode.NodeLevel*5)+'px'}" tappable (click)="getMore(itemNode)">
        {{itemNode.title}}
        <img *ngIf="itemNode.StudyStatus == 1 && itemNode.NodeLevel == 4" class="suo" src="./assets/imgs/learn/suo.png"
             alt="">
        <ion-icon *ngIf="itemNode.children.length > 0 && !itemNode.show" class="more-icon"
                  name="arrow-forward"></ion-icon>
        <ion-icon *ngIf="itemNode.children.length > 0 && itemNode.show" class="more-icon" name="arrow-down"></ion-icon>
    </p>
    <tree-list *ngIf="itemNode.children.length > 0 && itemNode.show"
               [IsBuy]="IsBuy"
               [StructureType]="StructureType"
               [TeachTypeName]="TeachTypeName"
               [treeList]="itemNode.children"
    ></tree-list>
    <!--    课件     -->
    <div *ngFor="let itemFile of itemNode.files">
        <p  [ngStyle]="{'padding-left':(itemFile.NodeLevel*5)+'px'}" tappable (click)="handle(itemNode,itemFile,$event)">
            <img *ngIf="itemFile.icon != 'mp4'" src="./assets/imgs/learn/file.png">
            <img *ngIf="itemFile.icon == 'mp4'" src="./assets/imgs/learn/mp4.png">
            <span class="itemNode">{{itemFile.DisplayName}}</span>
            <span class="tree-file-icon">{{itemFile.icon}}</span>
            <img class="tree-done" *ngIf="itemFile.IsPass && itemFile.IsStudy" src="./assets/imgs/home/xxjh_wc@2x.png"
                 alt="">
            <img *ngIf="nowTime > itemFile.PlanStartTime_time && IsBuy && itemFile.icon.length && itemFile.icon != 'iframe' && itemFile?.IsDownload"
                 tappable (click)="downLoad(itemFile,$event)"
                 class="tree-download-file" src="./assets/imgs/course/xiazai.png">
        </p>
    </div>
    <!--   作业      -->
    <ng-container *ngIf="IsBuy">
        <!--            新结构-->
        <ng-container *ngIf="StructureType == 2">
            <ion-row>
                <ng-container *ngFor="let itemExam of itemNode.tags">
                    <ion-col col-6 class="col-item" tappable (click)="handleExam(itemExam,itemExam,$event)">
                        <div class="record-item">
                            <span *ngIf="itemExam.JopType == 0" class="jobType blue">作业</span>
                            <span *ngIf="itemExam.JopType == 1" class="jobType blue">讨论作业</span>
                            <span *ngIf="itemExam.JopType == 2" class="jobType green">视频作业</span>
                            <span class="new-no" *ngIf="itemExam.examStatus == 4 || (itemExam.examStatus == 0 && itemExam.StudyStatus == 2)
                    || (itemExam.examStatus == 1 && itemExam.StudyStatus == 2) || (itemExam.examStatus == 2 && itemExam.StudyStatus == 2)">
                                 <img src="./assets/imgs/course/daiwancheng.png" alt="">
                                  </span>
                            <span class="new-yes" *ngIf="itemExam.examStatus == 8">
                                 <img src="./assets/imgs/course/yiwancheng.png" alt="">
                            </span>
                            <img *ngIf="itemExam.JopType == 0" class="shipin_zy"
                                 src="./assets/imgs/learn/fujian.png">
                            <img *ngIf="itemExam.JopType == 1" class="shipin_zy"
                                 src="./assets/imgs/learn/taolun_zy.png">
                            <img *ngIf="itemExam.JopType == 2" class="shipin_zy"
                                 src="./assets/imgs/learn/shipin_zy.png">
                        </div>
                        <p>{{itemExam.label | stringSlice:10:10}}</p>
                    </ion-col>
                </ng-container>
            </ion-row>
        </ng-container>
        <!--        老结构-->
        <ng-container *ngIf="StructureType == 1">
            <div *ngFor="let itemExam of itemNode.tags">
                <p tappable
                   (click)="handleExam(itemExam,itemExam,$event)">
                <span [ngStyle]="{'margin-left':(itemExam.NodeLevel*5)+'px'}" class="exam">
                    {{itemExam.label | stringSlice:10:10}}
                </span>
                    <span class="old-no" *ngIf="itemExam.examStatus == 4 || (itemExam.examStatus == 0 && itemExam.StudyStatus == 2)
                || (itemExam.examStatus == 1 && itemExam.StudyStatus == 2) || (itemExam.examStatus == 2 && itemExam.StudyStatus == 2)">
                    <img src="./assets/imgs/course/daiwancheng.png" alt="">
                    待完成
                </span>
                    <span class="old-yes" *ngIf="itemExam.examStatus == 8">
                    <img src="./assets/imgs/course/yiwancheng.png" alt="">
                    已完成
                </span>
            </div>
        </ng-container>
    </ng-container>
</div>
