page-do-exam {
  .test-process {
    display: flex;
    align-items: center;
    justify-content: center;

    .doIt {
      width: 50%;
    }

    .countTime {
      width: 50%;
      text-align: right;
      color: #EF0E0F;
      padding-right: 20px;
      font-size:15px;
      font-weight:400;
      line-height:18px;
      letter-spacing: 1px;
    }
  }
}
