page-theme-activity {
  .banner {
    box-sizing: border-box;
    margin: 1.1rem 1rem 1.6rem 1rem;
    position: relative;
    line-height: 1;
    background-color: #f3f3f3;
    border-radius: 0.9rem;
    overflow: hidden;

    > p {
      position: absolute;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      padding: 0 2.3rem;
      width: 100%;
      height: 3.3rem;
      line-height: 3.3rem;
      color: #fff;
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, .35);
    }

    img {
      display: block;
      width: 100%;
      max-height: 12rem;
    }
  }

  .learn-list {
    padding: 0 10px 15px 10px;
    box-sizing: border-box;


    .course-item {
      margin-bottom: 1.5rem;
      display: flex;
      padding: 1rem 0.7rem 1.1rem 0.9rem;
      background-color: #FFFFFF;
      border-radius: 0.5rem;

      .item-img {
        width: 14.3rem;
        min-width: 14.3rem;
        padding-right: 1.1rem;
        text-align: center;

        img {
          display: block;
          border-radius: 5px;
          height: 8.1rem;
          width: 100%;
          object-fit: cover;
        }
      }

      .item-desc {
        flex: 1;
        display: flex;
        flex-flow: row wrap;

        > p {
          font-size: 1.5rem;
          font-weight: 400;
          color: rgba(0, 0, 0, .9);
          line-height: 1.8rem;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: flex-start;
          word-break:break-all;
        }

        .status {
          align-self: flex-end;
          width: 100%;
          margin-top: 10px;
          display: flex;
          font-size: 12px;
          color: #9D9D9E;;

          img {
            margin-right: 0.6rem;
            width: 1.4rem;
            height: 1.4rem;
          }

          > span {
            margin-right: 8px;
            display: flex;
            align-items: center;
            font-size: 14px;
          }
        }
      }
    }
  }

  .status {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #000000;
    line-height: 2.1rem;

    img {
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
