<div class="cover">
    <div class="bg-content">
        <div class="update-content">
            <div class="update-text" [innerHTML]="UpdateText | lineFeed"></div>
            <div tappable class="update-button">
                <span (click)="updateAppByWeb()">去官网更新</span>
                <span (click)="updateApp()">马上更新</span>
            </div>
        </div>
<!--        <span tappable (click)="close()" class="icon-close">-->
<!--            <ion-icon name="close"></ion-icon>-->
<!--        </span>-->
    </div>
</div>
