<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>

    <div class="black-bg">
        <div class="person-info">
            <div class="info-box">
                <div class="avatar-box">
                    <img class="avatar" src="{{ page.personalInfo?.headPhoto || userDefaultImg }}" alt="个人头像"/>
                </div>
                <div class="info-detail">
                    <div class="name">
                        <span>{{ page.personalInfo?.userName }}</span>
                        <span *ngIf="page.personalInfo?.dealerName"
                              class="tag">{{ page.personalInfo?.dealerName }}</span></div>
                    <div class="dealer-number" *ngIf="page.personalInfo?.dealerCode">
                        经销商号：{{ page.personalInfo?.dealerCode }}</div>
                    <!--					<div class="phone" *ngIf="page.personalInfo?.Phone">手机号：{{ page.personalInfo?.Phone }}</div>-->
                </div>
            </div>
            <div (click)="doFollower(true)" class="follow-btn" *ngIf="page.personalInfo?.isNoFocus === false">关注</div>
            <div (click)="doFollower(false)" class="follow-btn actived" *ngIf="page.personalInfo?.isNoFocus === true">
                已关注
            </div>
        </div>
    </div>

    <div class="navbar-box" ion-fixed *ngIf="page.fixedShow">
        <div class="navbar">
            <div *ngFor="let item of page.navliArr" (click)="changeCheckType(item.lable)"
                 [ngClass]="{'actived': page.checkType == item.lable}" class="nav-item">
                {{ item.text }}<span class="line"></span>
            </div>
        </div>
    </div>

    <div class="posi-box">
        <div class="navbar-box" *ngIf="!page.fixedShow">
            <div class="navbar">
                <div *ngFor="let item of page.navliArr" (click)="changeCheckType(item.lable)"
                     [ngClass]="{'actived': page.checkType == item.lable}" class="nav-item">
                    {{ item.text }}<span class="line"></span>
                </div>
            </div>
        </div>
    </div>

    <ul class="post-lists">
        <div *ngIf="page.checkType === 'post'">
            <app-forum-list-time [followList]='page.navliArr[0].listArr'></app-forum-list-time>
        </div>
        <div *ngIf="page.checkType === 'reply'">
            <li class="reply" *ngFor="let item of page.navliArr[1].listArr">
                <div class="user-info">
                    <img class="avatar" src="{{ item.headPhoto || userDefaultImg }}" alt="头像"/>{{ item.userName }}
                </div>
                <div class="reply-desc">回复：{{ item.replyConten }}</div>
                <div class="prev-box">{{ item.postTitle }}</div>
            </li>
        </div>
        <div *ngIf="page.checkType === 'comment'">
            <li class="comment" *ngFor="let item of page.navliArr[2].listArr">
                <div class="user-info">
                    <img class="avatar" src="{{ item.headPhoto || userDefaultImg }}" alt="头像"/>
                    <div class="info-box">
                        <div class="name">
                            <span class="user">{{ item.userName }}</span>
                            <!--<span class="tag">{{ item.couserName }}</span>-->
                        </div>
                        <div class="timer">{{ item.createtime | date:'yyyy-MM-dd HH:mm' }}</div>
                    </div>
                </div>
                <div class="comment-desc">{{ item.replyContent }}</div>
                <div class="prev-box-pic" (click)="getCourseDetailById(item.pId)">
                    <img class="cover-pic" src="{{ item.coverImage }}" alt="封面图">
                    {{ item.pName }}
                </div>
            </li>
        </div>

    </ul>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-list
            *ngIf="page.isLoad && (page.checkType === 'post' && page.navliArr[0].listArr.length === 0 || page.checkType === 'reply' && page.navliArr[1].listArr.length === 0 || page.checkType === 'comment' && page.navliArr[2].listArr.length === 0)"
            text-center>
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
</ion-content>
