page-personal-center {
	// .header-ios .toolbar-ios:last-child .toolbar-background-ios {
	// 	background: url(../../../assets/imgs/mine/wod_bg@2x.png) no-repeat top;
	// 	background-size: 100% auto;
	// }
	ion-content {
		height: 100%;
	}
	.header-ios .toolbar-ios:last-child .toolbar-background-ios {
		border: none;
	}

	.black-bg {
		box-sizing: border-box;
		padding-top: 3.4rem;
		width: 100%;
		height: 21.2rem;
		background: url(../assets/imgs/mine/wod_bg@2x.png) no-repeat 0 -20px;
		background-size: 100% auto;
		border-bottom: solid 4.1rem #F2F2F2;

		.person-info{
			margin: 0 auto;
			padding-top: 1.5rem;
			width: 35.5rem;
			height: 16.8rem;
			background: #FFFFFF;
			border-radius: 0.8rem;
			.info-box {
				display: flex;
				align-items: flex-start;

				.avatar-box {
					margin: 0.4rem 1.6rem 0 1.4rem;
					width: 8rem;
					height: 8rem;
					box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;

					.avatar {
						width: 5rem;
						height: 5rem;
						border-radius: 50%;
					}
				}

				.info-detail {
					padding-right: 1.5rem;
					width: calc(100% - 11rem);
					text-align: center;
					height: 8rem;
					padding-top: 1.2rem;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					flex-direction: column;

					.name {
						margin-bottom: 0.8rem;
						font-size: 1.8rem;
						display: flex;
						align-items: center;
						justify-content: flex-start;

						span:first-child {
							//width: 8rem;
							white-space: nowrap;
						}

						.tag {
							//width: calc(100% - 8rem);
							margin-left: 1rem;
							padding: 0.3rem 0.5rem;
							line-height: 1.2;
							font-size: 1rem;
							color: #EBC044;;
							border: 1px solid #EBC044;
							border-radius: 0.4rem;
							text-align: left;
						}
					}
					.dealer-number,.phone {
						margin-bottom: 0.5rem;
						font-size: 1.5rem;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #333;
					}
				}
			}
			.follow-btn {
				margin: 0 auto;
				margin-top: 1.7rem;
				width: 32.7rem;
				height: 3rem;
				line-height: 3rem;
				color: #FFFFFF;
				text-align: center;
				background: linear-gradient(242deg, #FFF7CB 0%, #FFC92D 100%);
				border-radius: 1.6rem;

				&.actived {
					color: #50B674;
					background: #FFFFFF;
					border: 1px solid #50B674;
					border-color: #50B674;
				}
			}
		}
	}
	.do-fixed {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		display: block;
	}
	.posi-box {
		height: 4rem;
	}
	.navbar-box {
		// margin-top: 28.1rem;
		width: 100%;
		height: 4rem;

		.navbar {
			width: 100%;
			height: 4rem;
			line-height: 4rem;
			display: flex;
			align-items: center;
			background-color: #FFFFFF;

			.nav-item {
				position: relative;
				margin-right: 0.5rem;
				padding: 0 1.3rem;
				color: #666666;

				.line {
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 28px;
					height: 4px;
					background: transparent;
					border-radius: 2px;
				}
				&.actived {
					color: #000000;
					.line {
						background: linear-gradient(241deg, #FFF7CB 0%, #FFC92D 100%);
					}
				}
			}

		}
	}

	.post-lists {
		margin: 0;
		padding: 0;
		margin-bottom: 15px;

		li {
			margin: 0;
			box-sizing: border-box;
			// margin-bottom: 1rem;
			padding: 0.9rem 1.3rem 1.4rem 1.3rem;
			background-color: #FFFFFF;
			margin-bottom: 1rem;
			.user-info {
				width: 100%;
				display: flex;
				align-items: flex-start;
				.avatar {
					margin-top: 0.4rem;
					margin-right: 1rem;
					width: 2.8rem;
					height: 2.8rem;
					border-radius: 50%;
					object-fit: cover;
				}
				.info-box {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					.name {
						height: 1.8rem;
						line-height: 1.8rem;
						display: flex;
						align-items: center;
						font-size: 1.3rem;
						.timer {
							margin-left: 1rem;
							padding-left: 1rem;
							border-left: 1px solid #999999;
							color: #999999;
							font-size: 1.1rem;
						}
					}
					.product {
						height: 1.8rem;
						line-height: 1.8rem;
						display: block;
						font-size: 1.2rem;
						color: #E2AC12;
					}
				}
				.share-btn {
					margin-top: 1rem;
					margin-left: auto;
					margin-right: 0.8rem;
					width: 1.7rem;
					height: 1.7rem;
				}
			}
			.title {
				margin-top: 1.2rem;
				margin-bottom: 1rem;
				line-height: 2.2rem;
				font-size: 1.6rem;
			}
			.pics {
				img {
					width: 230px;
					height: 130px;
					border-radius: 1rem;
					object-fit: cover;
				}
				&.multiple {
					display: flex;
					align-items: center;
					justify-content: space-between;
					img {
						width: 110px;
						height: auto;
					}
				}
			}
			.tags-box {
				margin-top: 1rem;
				margin-bottom: 2.2rem;
				display: flex;
				align-items: center;
				span {
					display: block;
					margin-right: 1rem;
					padding: 0 0.7rem;
					height: 1.8rem;
					line-height: 1.8rem;
					font-size: 1.3rem;
					color: #666666;
					background-color: #D8D8D8;
					border-radius: 0.9rem;
				}
			}
			.li-bottom {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.look-num {
					width: 2.1rem;
					height: 1.5rem;
				}
				.comment-num {
					margin-left: 2rem;
					width: 1.8rem;
					height: 1.7rem;
				}
				.like-num {
					margin-left: 2rem;
					width: 1.8rem;
					height: 1.8rem;
				}
				span {
					color: #666666;
					margin-left: 1rem;
				}
			}

			&.reply {
				.user-info {
					width: 100%;
					display: flex;
					align-items: center;
					.avatar {
						margin-right: 1rem;
						width: 2.8rem;
						height: 2.8rem;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				.reply-desc {
					margin-top: 1.2rem;
					margin-bottom: 1rem;
					line-height: 2.2rem;
					font-size: 1.6rem;

				}
				.prev-box {
					box-sizing: border-box;
					padding: 0.9rem 1.2rem;
					background-color: #F5F3F3;
				}
				.prev-box-pic {
					box-sizing: border-box;
					padding: 0.6rem;
					background-color: #F5F3F3;
					display: flex;
					align-items: flex-start;
					.cover-pic {
						margin-right: 1rem;
						width: 11.5rem;
						height: 6.5rem;
					}
				}
			}
			&.comment {
				.user-info {
					width: 100%;
					display: flex;
					align-items: flex-start;
					.avatar {
						margin-right: 1rem;
						width: 2.8rem;
						height: 2.8rem;
						border-radius: 50%;
						object-fit: cover;
					}
					.info-box {
						width: 100%;
						display: flex;
						align-items: flex-start;
						flex-direction: column;
						.name {
							height: 1.8rem;
							display: flex;
							align-items: center;
							.tag {
								margin-left: 0.5rem;
								padding: 0 0.25rem;
								// height: 1.7rem;
								font-size: 1rem;
								color: #EBC044;
								border-radius: 0.4rem;
								border: 1px solid #EBC044;
							}
						}
						.timer {
							margin-top: 0.3rem;
							line-height: 1.6rem;
							color: #999;
						}
					}
					.starts-box {
						display: inline-flex;
						justify-content: flex-end;
						.start-icon {
							margin-left: 0.3rem;
							margin-right: 0;
							width: 1.5rem;
							height: 1.5rem;
						}

						.img-star {
							margin-left: auto;

							img {
								width: 1.5rem;
								height: 1.5rem;
							}
						}
					}
				}
				.comment-desc {
					margin-top: 1.2rem;
					margin-bottom: 1rem;
					line-height: 2.2rem;
					font-size: 1.6rem;
				}
				.prev-box-pic {
					box-sizing: border-box;
					padding: 0.6rem;
					background-color: #F5F3F3;
					display: flex;
					align-items: flex-start;

					.cover-pic {
						margin-right: 1rem;
						width: 11.5rem;
						height: 6.5rem;
					}
				}
			}
		}

	}

}
