<ion-content style="background-color: #ffffff">
    <div class="qIndex">
        <ng-container *ngFor="let chil1 of list;let i1 = index">
            <div style="padding-left: 5px" tappable (click)="chooseItem(chil1,i1);$event.stopPropagation()"
                 class="item-style chil1"
                 [ngClass]="classSelect.includes(chil1.value)?'select':''">
                <p class="p_flex">{{chil1.label}}
                    <ng-container *ngIf="chil1.children && chil1.children.length > 0">
                        <ion-icon *ngIf="!chil1.show" (click)="chil1.show = true;$event.stopPropagation()"
                                  class="chapter-more-icon"
                                  name="arrow-forward"></ion-icon>
                        <ion-icon *ngIf="chil1.show" (click)="chil1.show = false;$event.stopPropagation()"
                                  class="chapter-more-icon"
                                  name="arrow-down"></ion-icon>
                    </ng-container>
                </p>
                <div *ngIf="chil1.show" class="subject">
                    <ng-container *ngFor="let chil2 of chil1.children;let i2 = index">
                        <div style="padding-left: 5px" tappable (click)="chooseItem(chil2,i2);$event.stopPropagation()"
                             class="item-style chil2"
                             [ngClass]="classSelect.includes(chil2.value)?'select':''">
                            <p class="p_flex">{{chil2.label}}
                                <ng-container *ngIf="chil2.children && chil2.children.length > 0">
                                    <ion-icon *ngIf=" !chil2.show" (click)="chil2.show = true;$event.stopPropagation()"
                                              class="chapter-more-icon"
                                              name="arrow-forward"></ion-icon>
                                    <ion-icon *ngIf="chil2.show" (click)="chil2.show = false;$event.stopPropagation()"
                                              class="chapter-more-icon"
                                              name="arrow-down"></ion-icon>
                                </ng-container>
                            </p>
                            <ng-container *ngIf="chil2.show">
                                <ng-container *ngFor="let chil3 of chil2.children;let i3 = index">
                                    <div style="padding-left: 10px" tappable
                                         (click)="chooseItem(chil3,i3);$event.stopPropagation()"
                                         class="item-style chil3"
                                         [ngClass]="classSelect.includes(chil3.value)?'select':''">
                                        <p class="p_flex">{{chil3.label}}
                                            <ng-container *ngIf="chil3.children && chil3.children.length > 0">
                                                <ion-icon *ngIf=" !chil3.show"
                                                          (click)="chil3.show = true;$event.stopPropagation()"
                                                          class="chapter-more-icon"
                                                          name="arrow-forward"></ion-icon>
                                                <ion-icon *ngIf="chil3.show"
                                                          (click)="chil3.show = false;$event.stopPropagation()"
                                                          class="chapter-more-icon"
                                                          name="arrow-down"></ion-icon>
                                            </ng-container>
                                        </p>
                                        <ng-container *ngIf="chil3.show">
                                            <ng-container *ngFor="let chil4 of chil3.children;let i4 = index">
                                                <div style="padding-left:15px" tappable
                                                     (click)="chooseItem(chil4,i4);$event.stopPropagation()"
                                                     class="item-style chil4"
                                                     [ngClass]="classSelect.includes(chil4.value)?'select':''">
                                                    <p>{{chil4.label}}</p>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <div (click)="close()" class="submit-btn">
            确定
        </div>
    </div>
</ion-content>
