subject-tree {
  .submit-btn {
    text-align: center;
    width: 50%;
    margin: 9px auto;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(216deg, rgba(255, 247, 203, 1) 0%, rgba(57,57,103, 1) 100%);
    // box-shadow: 0px 5px 5px 0px rgba(255, 206, 61, 0.26);
    background: #394967;
    color: #fff;
    border-radius: 16px;
  }

  .subject {
    .chil1,.chil2{
      color: #5D5D5D;
      padding: 3px!important;
      margin-top: 20px;
    }
    .chil3{
      color: #5D5D5D;
      padding: 4px!important;
      margin-top: 20px;
    }
    .chil4{
      color: #5D5D5D;
      padding: 4px!important;
      margin-top: 20px;
    }
    .chil2.select{
      background: #F3F3F3;
      color: #5D5D5D;
      width: 40%;
      padding: 3px;
      border-radius: 3px;
      margin-top: 20px;
    }
    .chil3.select{
      background: #F3F3F3;
      color: #5D5D5D;
      width: 40%;
      padding: 4px;
      border-radius: 3px;
      margin-top: 20px;
    }
    .chil4.select{
      background: #F3F3F3;
      color: #5D5D5D;
      width: 40%;
      padding: 4px;
      border-radius: 3px;
      margin-top: 20px;
    }
    .chil2.select{
      .chil3.select{
        width: 100%;
      }
    }
  }

  .chil1 {
    > p {
      font-weight: bold;
      color: #5D5D5D;
    }
  }
  
  .qIndex {
    padding: 15px;

    .title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    .item-style {
      font-weight: normal;
      font-size: 13px;
      padding: 8px 0;
      border-radius: 2px;
    }

    .select {
      background: linear-gradient(216deg, rgba(255, 247, 203, 1) 0%, rgba(255, 201, 45, 1) 100%);
      background: #F3F3F3;
      color: #5D5D5D;
    }
  }

  .parent {
    font-weight: 500;

    > p {
      margin-bottom: 10px;
    }
  }

  .parent + .parent {
    border-top: 1px solid #ddd;
    margin-top: 5px;
  }

  .p_flex {
    display: flex;
    align-items: center;

    ion-icon {
      margin-left: 6px;
      color: #cfcfcf;
    }
  }
}
