<!--
  作业提示
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{exam?.JopType == 1 ? '讨论类作业' : '视频类作业'}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
<!--    <div class="change-chaps">-->
<!--        <span class="left"><ion-icon name="arrow-back"></ion-icon>上一节</span>-->
<!--        <span class="right">下一节<ion-icon name="arrow-forward"></ion-icon></span>-->
<!--    </div>-->
    <div class="exam-content">
        <img *ngIf="exam?.JopType == 1" src="./assets/imgs/learn/taolun_zy.png" alt="">
        <img *ngIf="exam?.JopType == 2" src="./assets/imgs/learn/shipin_zy.png" alt="">
        <div class="font-tips">
            {{mineInfo?.UserName}}您好！<ng-container *ngIf="exam?.JopType == 1">本章节作业为“话术编写”，请根据本章节学习到的知识，编写对应话术，点击下方“开始”开始输入
            </ng-container><ng-container *ngIf="exam?.JopType == 2">
                本章节作业为视频作业，请根据本章节学习到的知识，上传对应视频，点击下方“开始”开始上传
            </ng-container>
        </div>
    </div>
    <div class="bottom-start" ion-fixed>
        <div (click)="goEaxm()">开始</div>
    </div>
</ion-content>
