<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only class="search-button">
                <img class="img-head" src="{{mineInfo?.HeadPhoto}}">
                <span>{{mineInfo?.UserName | stringSlice:5:5}}</span>
            </button>
        </ion-buttons>
        <ion-buttons end class="navbar-search" tappable>
            <button ion-button icon-only class="toolbar-tips">
                <span>当前:&nbsp;&nbsp;</span>
                <span>{{dateText}}</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="bg-black">
        <div class="score-line">
            <p>当前学分获取情况</p>
            <!--<p class="tips">-->
            <!--Tips:<span>课程上架{{obj?.PutAwayDay || "5"}}日内学习即可获取学分，过期学习不可获取学分</span>-->
            <!--</p>-->
            <div class="process">
                <div class="out-process">
                    <div class="inner-process" [style.width]="width + '%'">
                    </div>
                </div>
            </div>
            <div class="score-process">
                <span>当前学分:&nbsp;&nbsp;{{obj.NowCredit}}</span>
                <span>目标学分:&nbsp;&nbsp;{{obj.AllCredit}}</span>
            </div>
        </div>
    </div>
    <div class="time-choose">
        <p>
            <span>历史查询:</span>
            <span class="ionDateTime">
                <ion-datetime displayFormat="YYYY年MM月"
                              doneText="确定"
                              [min]="obj.minYear"
                              [max]="obj.maxYear"
                              cancelText="取消"
                              (ngModelChange)="changeDate($event)"
                              pickerFormat="YYYY年MM月" [(ngModel)]="myDate"></ion-datetime>
            </span>
            <span><ion-icon name="arrow-forward"></ion-icon></span>
        </p>
    </div>
    <div class="course-list">
        <ng-container *ngFor="let item of obj.ProductDetails">
            <div class="course-item" [ngClass]="{'cover':item.StudyStatus == 3}" tappable (click)="getItem(item)">
                <div class="item-img">
                    <img [src]="item?.ImageUrl || defaultImg">
                </div>

                <div class="item-desc">
                    <p>{{item?.PName || "-" }}</p>
                    <div class="final-time">
                        {{ item?.FinalTime_NY}}前学习可获取
                        <span class="credit">{{item.Credit}}分</span>
                    </div>
                    <div class="desc">
                        <span *ngIf="item.StudyStatus == 0"><img src="./assets/imgs/new_version/advanced/not-start.png">未开始</span>
                        <span *ngIf="item.StudyStatus == 1"><img src="./assets/imgs/new_version/advanced/doing.png">进行中</span>
                        <span *ngIf="item.StudyStatus == 2"><img src="./assets/imgs/new_version/advanced/finish.png">已完成</span>
                        <span *ngIf="item.StudyStatus == 3"><img src="./assets/imgs/home/studyTask/wsj.png">未上架</span>
                        <!--<span class="credit">{{item.Credit}}分</span>-->
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <ion-list text-center style="margin-top: 5.8rem"
              *ngIf="isLoad && obj?.ProductDetails && obj?.ProductDetails.length == 0">
        <img style="width: 19.3rem;" src="./assets/imgs/no-data.png" alt="无数据">
        <p text-center style="color: #9D9D9E;font-size: 14px">
            暂无学习任务
        </p>
    </ion-list>
    <ion-infinite-scroll *ngIf="this.page.TotalCount > this.obj.ProductDetails.length"
                         (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <p class="list-footer-page"
       *ngIf="this.page.TotalCount == this.obj.ProductDetails.length && this.page.TotalCount > 5">
        没有更多了~~~</p>
</ion-content>
