<ion-header>
    <ion-navbar>
        <ion-title>我的学习</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <navbar [list]="navbarList" [select]="2" (done)="changeType($event)"></navbar>
    <div class="learn-list">
        <div class="course-item" *ngFor="let item of courseList" (click)="goCourse(item)">
            <div class="item-img">
                <div class="round">
                    <img src="./assets/imgs/course/round.png" alt="">
                    <span class="tage"><span>{{item.overpercentage}}</span>%</span>
                </div>
            </div>
            <div class="item-desc">
                <p>{{item.Title}}</p>
                <div class="desc">
<!--                    <span>{{item.overcount}}/{{item.ManCount}}</span>-->
                    <span>{{item.SubjectName}}</span>
                    <span><span class="icon iconfont icon-pinglun"></span>{{item.ManCount}}</span>
                    <span><span class="icon iconfont icon-shoucang"></span>{{item.CollectionCount}}</span>
                </div>
            </div>
        </div>
    </div>
    <ion-list text-center style="margin-top: 10rem" *ngIf="courseList.length == 0">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
</ion-content>
