page-course {
  .learn-list {
    padding: 10px;

    .round{
      position: relative;
      text-align: center;
      .tage{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1rem;
        span{
          font-weight: bold;
          font-size: 18px;
        }
      }
      img{
        width: 80%;
      }
    }
    .course-item {
      display: flex;
      padding: 15px 10px;
      background-color: #fff;
      border-radius: 10px;

      .item-img {
        width: 30%;
        padding-right: 5px;
        text-align: center;
      }

      .item-desc {
        width: 70%;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;

        > p {
          align-self: flex-start;
          font-size:16px;
          font-weight:500;
          color:rgba(0,0,0,.8);
          line-height:1.83rem;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        .desc {
          color: #999999;
          margin-top: 10px;
          align-self: flex-end;
          width: 100%;
          span {
            margin-right: 10px;

            span {
              font-size: 1.2rem;
              margin-right: 3px;
            }
          }
        }
      }
    }
    .course-item + .course-item{
      margin-top: 10px;
    }
  }
}
