<ion-header>
    <ion-navbar>
        <ion-title>积分明细</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新"
                               refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>
    <div class="integraldetails" *ngFor="let item of list">
        <!-- <p>{{item.OprateTime | date:'yyyy-MM-dd HH:mm:ss'}}</p> -->
        <p>{{item.OprateTime | date:'yyyy-MM-dd'}}</p>
        <div class="item">
            <div class="left">
                <p>{{item.OprateName}}</p>
            </div>
            <div class="right">
                <ng-container *ngIf="!item.Credit.includes('-')">+</ng-container>
                {{item.Credit}} 分
            </div>
        </div>
    </div>
    
    <ion-list text-center style="margin-top: 10rem" *ngIf="list.length == 0 && page.isLoading">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无积分记录
        </p>
    </ion-list>
    <ion-infinite-scroll *ngIf="this.page.TotalCount > this.list.length" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <p class="list-footer-page"
       *ngIf="page.isLoading && this.page.TotalCount == this.list.length && this.page.TotalCount > 5">
        没有更多了~~~</p>
</ion-content>
