page-mine {
  .mine {
    height: 180px;
    background-color: #343435;
    position: relative;
  }

  .logo {
    text-align: center;

    img {
      width: 50%;
    }
  }

  //个人信息区域
  .mine-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -50px;
    width: calc(100% - 40px);
    height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 15px 20px;
  }

  .info-item {
    display: flex;
    align-items: center;
    justify-content: center;

    > div{
      width: 25%;
    }

    .info-name {
      flex: 1;

      p:first-child {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        height: 30px;
        line-height: 30px;
      }

      .forumTitle {
        border-radius: 4px;
        border: 1px solid rgba(235, 192, 68, 1);
        font-size: 12px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(235, 192, 68, 1);
        line-height: 14px;
        display: inline-block;
        transform: scale(0.8);
        margin-left: 10px;
        padding: 2px 4px;
      }

      .credit {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        line-height: 18px;
        margin-left: 10px;
      }
    }

    .info-position {
      font-size: 12px;

      a {
        color: #333333;
        background-image: linear-gradient(to right, #feca46, #fee6a3);
        padding: 4px 5px;
        border-radius: 4px;
      }

      img {
        max-width: 100%;
        vertical-align: sub;
        margin-right: 5px;
      }
    }
  }

  .item-type {
    text-align: center;

    > div > p:first-child {
      font-size: 3.2rem;
      font-weight: 400;
      color: #333333;
    }

    > div > p:last-child {
      font-size: 12px;
      color: #999999;
    }
  }

  .info-item + .info-item {
    margin-top: 10px;
  }

  //列表区域
  .mine-list {
    margin: 65px 20px;
    margin-top: 60px ;

    background-color: #fff;
    border-radius: 6px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    img {
      width: 20px;
    }

    > div:nth-child(2n +1) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
    }

    > div:nth-child(2n) {
      width: 80%;
      padding-left: 10px;

      span {
        color: #C4C4C4;
        letter-spacing: 1px;
      }
    }

    .right {
      font-size: 1.6rem;
      color: #999999;
      height: 20px;
    }
  }

  .item + .item {
    border-top: 0.1rem solid #e3e3e3;
  }

  .mask1 {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
  }

  .img3 {
    width: auto;
    height: 100%;
    //margin-left:0;
  }
}
