page-mine {
  .mine {
    height: 180px;
    background-color: #343435;
    position: relative;
  }
  .logo{
    text-align: center;
    img{
      width: 50%;
    }
  }

  //个人信息区域
  .mine-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -50px;
    width: calc(100% - 40px);
    height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding:15px 20px;
  }

  .info-item{
    display: flex;
    align-items: center;
    justify-content: center;

    > div:nth-child(2n +1){
      width: 20%;
    }
    > div:nth-child(2n){
      width: 60%;
      padding-left: 10px;
    }
    .info-name{
      p:first-child{
        font-weight: bold;
        font-size: 20px;
      }
    }
    .info-position{
      font-size: 12px;
      a{
        color: #333333;
        background-image: linear-gradient(to right , #feca46, #fee6a3);
        padding: 4px 5px;
        border-radius: 4px;
      }
      img{
        width: 15px;
        vertical-align: sub;
        margin-right: 5px;
      }
    }
  }
  .item-type{
    text-align: center;
    > div > p:first-child{
      font-size: 4rem;
      font-weight: 400;
      color: #333333;
    }
    > div > p:last-child{
      font-size:12px;
      color: #999999;
    }
  }
  .info-item + .info-item{
    margin-top: 10px;
  }

  //列表区域
  .mine-list {
    margin: 65px 20px;
    background-color: #fff;
    border-radius: 6px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    img{
      width: 20px;
    }
    > div:nth-child(2n +1) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
    }

    > div:nth-child(2n) {
      width: 80%;
      padding-left: 10px;
    }
    .right{
      font-size: 1.6rem;
      color: #999999;
    }
  }

  .item + .item {
    border-top: 0.1rem solid #e3e3e3;
  }
  .mask1{
    display:inline-block;
    position:relative;
    width:4rem;
    height:4rem;
    overflow:hidden;
    border-radius:50%;
  }
  .img3{
    width:auto;
    height:100%;
    //margin-left:0;
  }

}
