<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>

    <div class="mine-user">
        <div class="header">
            <img src="{{mineInfo?.HeadPhoto || './assets/imgs/new_version/mine/default-avatar.png' }}" alt="头像">
        </div>
        <div class="info-box">
            <div class="user-box">
                <div class="user-name">{{mineInfo?.UserName}}</div>
                <div class="user-label" *ngIf="!userInfo?.Badges || userInfo?.Badges.length === 0">暂无头衔</div>
                <div class="user-label" *ngFor="let badge of userInfo?.Badges">{{badge.BadgeName}}</div>
                <!--badge.BadgeIcon || ''-->
            </div>
            <div class="user-level" (click)="showAlert()">
                <img src="./assets/imgs/new_version/mine/authentication-icon.png">
                岗位认证等级: {{isLabel || "-"}}
            </div>
        </div>
        <div class="points-box">
            <img src="./assets/imgs/new_version/mine/points-bg.png">
            <div tappable (click)="goIntegral()" class="points-text">
                积分  {{(userInfo?.TitleInfo?.Credit).toFixed(0) || 0}}</div>
        </div>
    </div>

    <div class="login-info">
        <div class="login-mode">
            <span>登录方式:</span>
            <span>{{LoginType || "-"}}</span>
        </div>
        <div class="login-dealer-number">
            <span *ngIf="LoginType == '供应商' || LoginType === '员工';else other_content">账号:</span>
            <ng-template #other_content>
                <span>经销商号:</span>
            </ng-template>
            <span>{{mineInfo?.AgentNumber || "-"}}</span>
        </div>
    </div>

    <div class="post-box">
        <ul class="post-list">
            <li tappable (click)="goToCourse()">
                <div>{{number?.CourseCount || '0'}}</div>
                <div>课程</div>
            </li>
            <li tappable (click)="goExam()">
                <div>{{number?.WorkCount || '0'}}</div>
                <div>作业</div>
            </li>
            <li tappable (click)="goMyForum()">
                <div>{{number?.PostCount || '0'}}</div>
                <div>动态</div>
            </li>
        </ul>
    </div>


    <div class="mine-content">
        <div class="content-list">
            <li tappable (click)="goMyIntegral()">
                <img src="./assets/imgs/new_version/mine/points-icon.png">
                <div>我的积分</div>
            </li>
            <li tappable (click)="goMyFollowsComponent()">
                <img src="./assets/imgs/new_version/mine/follow.png">
                <div>我的关注</div>
            </li>
            <li tappable (click)="goToCollection()">
                <img src="./assets/imgs/new_version/mine/collection.png">
                <div>我的收藏</div>
            </li>
            <li tappable (click)="goMedal()">
                <img src="./assets/imgs/new_version/mine/medal.png">
                <div>设置勋章</div>
            </li>
            <li tappable (click)="checkVersion()">
                <img src="./assets/imgs/new_version/mine/gyyy.png">
                <div>关于应用</div>
            </li>
            <li tappable (click)="logoutApp()">
                <img src="./assets/imgs/new_version/mine/logout.png">
                <div>退出登录</div>
            </li>
        </div>
    </div>

</ion-content>

<ng-container *ngIf="appVersionInfo.UpdateTips">
    <update-app (done)="appVersionInfo.UpdateTips = false" [AppUrl]="appVersionInfo.AppUrl"
                [UpdateText]="appVersionInfo.UpdateText"></update-app>
</ng-container>
