<ion-header>
  <ion-navbar>
    <ion-title *ngIf="detail">岗位认证</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="detail">
    <div class="banner-box">
      <img class="bg-img" [src]="detail.Items.CoverUrl || './assets/imgs/home/xm_bg@2x.png'"/>

      <div class="posi-box">
        <div class="banner-title" *ngIf="detail">{{ detail.Items.Title }}</div>
        <div class="banner-timer">{{ detail.timeArea }}</div>
        <div (click)="doOnlineSignIn()" class="sign-btn-btn" *ngIf="detail.Items.AuthenticationType === 'xskc'  && !detail.Items.IsSignIn;else other_content">
          参加认证
        </div>
        <ng-template #other_content>
          <div class="banner-info">
            <div style="justify-content: flex-end;">
              <img
                  style="margin-right: 0.7rem;width: 1.4rem;height: 1.3rem;"
                  src="./assets/imgs/home/gwrz_zw@2x.png"
              />
              <span style="margin-right: 1.5rem;">{{ detail.Items.PostsName }}</span>
            </div>
            <div style="justify-content: flex-start;">
              <img
                  style="margin-left: 1.5rem;margin-right: 0.7rem;width: 1.4rem;height: 1.3rem;"
                  src="./assets/imgs/home/sign-num@2x.png"
              />
              <span>{{ detail.Items.ApplicantCount }}人报名</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="switch-tabs">
      <div
          *ngFor="let item of navliArr"
          (click)="changeCheckType(item.lable)"
          [ngClass]="{ actived: checkType == item.lable }"
          class="switch-tabs-item"
      >
        {{ item.text }}
        <span class="item_line"></span>
      </div>
    </div>

    <div *ngIf="checkType === 'introduction'" class="content-box">
      <div class="content-title"><span class="title-lable"></span>简介</div>
      <div class="introduction">
        {{ detail.Items.Description }}
      </div>
    </div>
    <div *ngIf="checkType === 'ability'" class="content-box">
      <div class="content-title"><span class="title-lable"></span>课程</div>
      <dl class="content-modal" *ngFor="let item of detail.Items.GCapabilityModelList; let Index = index"
          [attr.data-index]="Index">
        <dt>
          <span>能力模型{{Index + 1}}</span>
          <ion-icon name="arrow-down" style="color: #999999;"></ion-icon>
        </dt>
        <!-- 岗位认证AuthenticationType:  "jzpx" -集中培训，'xm'表示线下，xskc表示线上 -->
        <!-- 线下 -->
        <div *ngIf="detail.Items.AuthenticationType === 'xm';">
          <div *ngFor="let ProjectItem of item.ProjectList; let pIndex = index">
            <!--<dd class="disabled">长沙-从宝骏到新宝骏</dd>-->
            <div class="pro-title">
              <span class="title-lable"></span>
              项目{{pIndex + 1}}：
              <span class="pro-text">{{ProjectItem.ProjectName}}</span>
            </div>
            <div *ngFor="let CourseItem of ProjectItem.CourseList;let cIndex = index">
              <dd class="disabled" *ngIf="CourseItem.Coursestatus == 0">{{ CourseItem.Title }}</dd>
              <dd class="available" *ngIf="CourseItem.Coursestatus == 1">
                <span>{{ CourseItem.Title }}</span>
                <span class="course-btn" (click)="doOnlineSignIn(CourseItem.ID, Index, pIndex, cIndex)">立即报名</span>
              </dd>
              <dd class="already" *ngIf="CourseItem.Coursestatus == 2">
                <span>{{ CourseItem.Title }}</span>
                <span class="right"
                >已报名
                <img src="./assets/imgs/home/xxjh_wc@2x.png" class="play-icon"
                /></span>
              </dd>
            </div>
          </div>
        </div>
        <!-- 线下 -->
        <!-- 线上 -->
        <div *ngIf="detail.Items.AuthenticationType === 'xskc'">
          <div *ngFor="let ProjectItem of item.ProjectList;">
            <div *ngFor="let CourseItem of ProjectItem.CourseList;">
              <dd class="already" *ngIf="CourseItem.Coursestatus == 1" (click)="getCourseDetailById(CourseItem.ID)">
                <span>{{CourseItem.Title}}</span>
              </dd>
              <dd class="continue" *ngIf="CourseItem.Coursestatus == 2" (click)="getCourseDetailById(CourseItem.ID)">
                <span>{{CourseItem.Title}}</span>
                <span class="right"
                >继续学习
              <img src="./assets/imgs/home/xxjh_jxxx@2x.png" class="play-icon"
              /></span>
              </dd>
              <dd class="already" *ngIf="CourseItem.Coursestatus == 3" (click)="getCourseDetailById(CourseItem.ID)">
                <span>{{CourseItem.Title}}</span>
                <span
                ><img src="./assets/imgs/home/xxjh_wc@2x.png" class="play-icon"
                /></span>
              </dd>
            </div>
          </div>
        </div>
        <!-- 线上 -->
      </dl>
    </div>
  </div>
</ion-content>
