page-rule-modal {
  font-family: PingFangSC-Medium, PingFang SC;;
  .main {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
  }

  .content {
    position: relative;
    height: 100%;
    width: 100%;
    
    .content-body {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-55%);
      padding: 1.6rem 2rem 0 2rem;
      width: 27.6rem;
      //height: 35.1rem;
      background: #fff;
      border-radius: 1rem;
      overflow: hidden;
      box-sizing: border-box;
      .close-btn {
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        color: #666666;
        font-size: 23px;
      }
      .scroll-box {
        margin: 0 auto;
        //width: 24rem;
        height: 24.4rem;
        overflow: scroll;
        .content-box {
          box-sizing: border-box;
          overflow-y: scroll;
        }
      }
      .cancle-btn {
        margin: 1rem 0 2.1rem 0;
        width: 100%;
        height: 3.9rem;
        line-height: 3.9rem;
        color: #FFFFFF;
        text-align: center;
        font-size: 1.3rem;
        background-color: #384868;
        border-radius: 0.5rem;
      }
      .title {
        //margin-top: 1.9rem;
        margin-bottom: 1.2rem;
        height: 21px;
        font-size: 1.6rem;
        text-align: center;
        line-height: 21px;
        font-weight: 600;
        color: #474747;
      }
      .desc {
        margin-bottom: 1rem;
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        -moz-text-align-last: left;
        -webkit-text-align-last: left;
      }
      .content {
        text-align: justify;
        text-justify: distribute-all-lines;
        text-align-last: left;
        -moz-text-align-last: left;
        -webkit-text-align-last: left;
        line-height: 2.1rem;
        font-size: 1.3rem;
        color: #707070;
      }
      ion-icon {
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }

}
