<ion-header>
    <ion-navbar>
        <ion-title>状元说</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
 
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles">
                </ion-refresher-content>
              </ion-refresher>
        <div class="navul">
                
                <div *ngFor="let item of navliArr" class="navli" [ngClass]="{'act': navli==item.label}" tappable (click)="switchInformation(item.label)">
                        {{item.label}}
                </div>
                <!-- <div class="navli" [ngClass]="{'act': navli=='销冠风采'}" tappable (click)="switchInformation('销冠风采')">
                    销冠风采
                </div>
                <div class="navli" [ngClass]="{'act': navli=='销售案例'}" tappable (click)="switchInformation('销售案例')">
                    销售案例
                </div> -->
            </div>

            <ion-list text-center style="  background: #fff;margin: 0;padding-bottom: 400px;padding-top: 200px;" *ngIf="no_list">
                    <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
                    <p text-center style="color: #666666;font-size: 16px">
                        暂无数据
                    </p>
            </ion-list>
    <div class="information-ul" *ngIf="navli=='销售案例'">
        <ng-container *ngFor="let item of dataList">
            <div class="information-list img1" *ngIf="item.IsSingle" tappable (click)="goComponentsdetails(item)">
                    <div class="list-time">
                        <h4 class="nowrap-2">{{item.Title}}</h4>
                        <div class="time">
                            {{item.ReleaseTime}}
                        </div>
                    </div>
                    <div class="imgdiv">
                            <div [ngStyle]="{'background-image': 'url('+item.SourceURLList[0]+')','background-size':'cover'}" style="background-size: cover;background: no-repeat center;">
                            </div> 
                    </div>
                </div>
                <div class="information-list img3" *ngIf="!item.IsSingle" tappable (click)="goComponentsdetails(item)">
                    <h4>{{item.Title}}</h4>
                    <div class="imgdiv-flex">
                            <div *ngFor="let img of item.SourceURLList" [ngStyle]="{'background-image': 'url('+img+')','background-size':'cover'}" style="background-size: cover;background: no-repeat center;">
                                </div>
                        <!-- <img [src]="img" *ngFor="let img of item.SourceURLList" alt=""> -->
                     
                    </div>
                    <div class="time">
                        {{item.ReleaseTime}}
                    </div>
                </div>
        </ng-container>
   
    </div>
    <div *ngIf="navli=='销冠风采'" class="crown-list">
        <div class="crown" *ngFor="let item of crownList" tappable (click)="goComponentsdetailsOne(item)">
            <div class="heard">
                <div class="heard-img">
                    <img class="crown-img" src="./assets/imgs/numberone/numberOne-AnCrown@3x.png" alt="">
                    <img class="user-heard" src="{{item.ImageURL}}" alt="">
                </div>
                <div class="name">
                    <p class="name-p"> {{item.Name}}</p>
                    <p class="name-title">{{item.StoreName}}</p>
                </div>
                <div class="Month">
                    <!-- <img src="./assets/imgs/numberone/NumberOne-bg.png" alt=""> -->
                    <div class="Month-p">
                        <p></p>
                        <p>{{item.MonthName}}</p>
                        <p>月/{{item.YearName}}</p>
                    </div>
                </div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <div class="volume-text">
                        {{item.MonthName}}月销售
                    </div>
                    <div class="percentage blue-bg" style="width: 50%;">
                    </div>
                </div>
                <div class="volume-number blue">{{item.MonthCount}}</div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <div class="volume-text">
                        年累计销售
                    </div>
                    <div class="percentage red-bg">
                    </div>
                </div>
                <div class="volume-number red">{{item.YearCount}}</div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <span class="label">
                        <span class="label-before">{{item.TypeName}}</span>
                    </span>
                    <span class="volume-title-sale">
                        {{item.LableName}}
                    </span>
                </div>
                <div class="volume-number sale">{{item.CountSum}}</div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <span class="details">
                        查看详情
                    </span>
                </div>
                <div class="volume-number">
                    <img style="width: 16px;" src="./assets/imgs/consultation/share@3x.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isdoInfinite">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>