<ion-header>
    <ion-navbar >
        <ion-title>状元说</ion-title>
    </ion-navbar>
    <ion-header-bar>
            <div class="navul" #navul>
                    <div class="navli" [ngClass]="{'act': navli=='销冠风采'}" (click)="switchInformation('销冠风采')">
                        销冠风采
                    </div>
                    <div class="navli" [ngClass]="{'act': navli=='销售案例'}" (click)="switchInformation('销售案例')">
                        销售案例
                    </div>
                </div> 
    </ion-header-bar>
</ion-header>

<ion-content>
    <div class="information-ul" *ngIf="navli=='销售案例'" >
        <div class="information-list imgBig" (click)="goComponentsdetails(1)">
            <h4>四强联手，75个销售网点，6000亿五菱印尼金融公司始航</h4>
            <div class="imgdiv-flex">
                <img src="./assets/imgs/numberone/numberOnebgbig.png" alt="">
            </div>
            <div class="time">
                2019-09-11 08:23
            </div>
        </div>
        <div class="information-list img1"  (click)="goComponentsdetails(1)">
            <div class="list-time">
                    <h4>新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行</h4>
                    <div class="time">
                        2019-09-11 08:23
                    </div>
            </div>
            <div class="imgdiv">
                <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
            </div>
        </div>
        <div class="information-list img3"  (click)="goComponentsdetails(1)">
            <h4>销量速递丨公司2月实现整车销售15500辆，同比实现增长2.1%</h4>
            <div class="imgdiv-flex">
                <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
                <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
                <img src="./assets/imgs/consultation/informationList-small.jpg" alt="">
            </div>
            <div class="time">
                2019-09-11 08:23
            </div>
        </div>

        <div class="information-list img1"  (click)="goComponentsdetails(1)">
            <div class="list-time">
                <h4>新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行</h4>
                <div class="time">
                    2019-09-11 08:23
                </div>
            </div>
            <div class="imgdiv">
                <img src="./assets/imgs/consultation/InformationDetails@2x.jpg" alt="">
            </div>
        </div>
        <div class="information-list img1"  (click)="goComponentsdetails(1)">
                <div class="list-time">
                    <h4>新宝骏RM-5 RC-6 全擎上市全擎在线、智能出行</h4>
                    <div class="time">
                        2019-09-11 08:23
                    </div>
                </div>
                <div class="imgdiv">
                    <img src="./assets/imgs/consultation/InformationDetails@2x.jpg" alt="">
                </div>
            </div>
    </div>
    <div *ngIf="navli=='销冠风采'" class="crown-list">
        <div class="crown">
            <div class="heard">
                <div class="heard-img">
                    <img class="crown-img" src="./assets/imgs/numberone/numberOne-AnCrown@3x.png" alt="">
                    <img class="user-heard" src="./assets/imgs/numberone/numberOne-head@3x.jpg" alt="">
                </div>
                <div class="name">
                    <p class="name-p">李心心</p>
                    <p class="name-title">上海五菱宝骏4S店</p>
                </div>
                <div class="Month">
                    <!-- <img src="./assets/imgs/numberone/NumberOne-bg.png" alt=""> -->
                    <div class="Month-p">
                        <p></p>
                        <p>09</p>
                        <p>月</p>
                    </div>
                </div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <div class="volume-text">
                        09月销售
                    </div>
                    <div class="percentage blue-bg" style="width: 50%;">
                    </div>
                </div>
                <div class="volume-number blue">124</div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <div  class="volume-text">
                        年累计销售
                    </div>
                    <div class="percentage red-bg">
                    </div>
                </div>
                <div class="volume-number red">8192</div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <span class="label">
                    </span>
                    <span class="volume-title-sale" >
                        销售
                    </span>
                </div>
                <div class="volume-number sale">236</div>
            </div>
            <div class="volume">
                <div class="volume-title">
                   <span class="details">
                        查看详情
                   </span>
                </div>
                <div class="volume-number">
                    <img style="width: 16px;" src="./assets/imgs/numberone/share@3x.png" alt="">
                </div>
            </div>
        </div>
        <div class="crown">
                <div class="heard">
                    <div class="heard-img">
                        <img class="crown-img" src="./assets/imgs/numberone/numberOne-AnCrown@3x.png" alt="">
                        <img class="user-heard" src="./assets/imgs/numberone/numberOne-head@3x.jpg" alt="">
                    </div>
                    <div class="name">
                        <p class="name-p">李心心</p>
                        <p class="name-title">上海五菱宝骏4S店</p>
                    </div>
                    <div class="Month">
                        <!-- <img src="./assets/imgs/numberone/NumberOne-bg.png" alt=""> -->
                        <div class="Month-p">
                            <p></p>
                            <p>08</p>
                            <p>月</p>
                        </div>
                    </div>
                </div>
                <div class="volume">
                    <div class="volume-title">
                        <div class="volume-text">
                            08月销售
                        </div>
                        <div class="percentage blue-bg" style="width: 50%;">
                        </div>
                    </div>
                    <div class="volume-number blue">124</div>
                </div>
                <div class="volume">
                    <div class="volume-title">
                        <div  class="volume-text">
                            年累计销售
                        </div>
                        <div class="percentage red-bg">
                        </div>
                    </div>
                    <div class="volume-number red">8192</div>
                </div>
                <div class="volume">
                    <div class="volume-title">
                        <span class="label">
                            <!-- RM-5 -->
                        </span>
                        <span  class="volume-title-sale">
                            销售
                        </span>
                    </div>
                    <div class="volume-number sale">236</div>
                </div>
                <div class="volume">
                    <div class="volume-title">
                       <span class="details">
                            查看详情
                       </span>
                    </div>
                    <div class="volume-number">
                        <img style="width: 16px;" src="./assets/imgs/numberone/share@3x.png" alt="">
                    </div>
                </div>
            </div>
            <div class="crown">
                    <div class="heard">
                        <div class="heard-img">
                            <img class="crown-img" src="./assets/imgs/numberone/numberOne-AnCrown@3x.png" alt="">
                            <img class="user-heard" src="./assets/imgs/numberone/numberOne-head@3x.jpg" alt="">
                        </div>
                        <div class="name">
                            <p class="name-p">李心心</p>
                            <p class="name-title">上海五菱宝骏4S店</p>
                        </div>
                        <div class="Month">
                            <!-- <img src="./assets/imgs/numberone/NumberOne-bg.png" alt=""> -->
                            <div class="Month-p">
                                <p></p>
                                <p>07</p>
                                <p>月</p>
                            </div>
                        </div>
                    </div>
                    <div class="volume">
                        <div class="volume-title">
                            <div class="volume-text">
                                07月销售
                            </div>
                            <div class="percentage blue-bg" >
                            </div>
                        </div>
                        <div class="volume-number blue">124</div>
                    </div>
                    <div class="volume">
                        <div class="volume-title">
                            <div  class="volume-text">
                                年累计销售
                            </div>
                            <div class="percentage red-bg">
                            </div>
                        </div>
                        <div class="volume-number red">8192</div>
                    </div>
                    <div class="volume">
                        <div class="volume-title">
                            <span class="label">
                            </span>
                            <span class="volume-title-sale" >
                                销售
                            </span>
                        </div>
                        <div class="volume-number sale">236</div>
                    </div>
                    <div class="volume">
                        <div class="volume-title">
                           <span class="details">
                                查看详情
                           </span>
                        </div>
                        <div class="volume-number share">
                            <img src="./assets/imgs/numberone/share@3x.png" alt="">
                        </div>
                    </div>
                </div>
    </div>
</ion-content>
