<ion-header>
    <ion-navbar>
        <ion-title>狼灭榜</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="bubbles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list text-center style="  background: #fff;margin: 0;padding-bottom: 400px;padding-top: 200px;"
              *ngIf="no_list">
        <img style="width: 60%;" src="./assets/imgs/no-data.png" alt="">
        <p text-center style="color: #666666;font-size: 16px">
            暂无数据
        </p>
    </ion-list>
    <div class="crown-list">
        <div class="crown" *ngFor="let item of crownList" tappable (click)="goComponentsdetailsOne(item)">
            <div class="heard">
                <div class="heard-img">
                    <img class="user-heard" src="{{item.ImageURL}}" alt="">
                </div>
                <div class="name">
                    <p class="name-p  nowrap-2"> {{item.Name}}</p>
                    <p class="name-title">{{item.StoreName}}</p>
                </div>
                <div class="Month">
                    <div class="Month-p">
                        <p>{{item.YearName}}年{{item.MonthName}}月</p>
                    </div>
                </div>
            </div>
            <div class="salesvolume">
                <div class="left">
                    <b>{{item.MonthCount}}</b>
                    <p>{{item.MonthName}}月销售</p>
                </div>
                <div class="year">
                    <b>{{item.YearCount}}</b>
                    <p>年累计销售</p>
                </div>
                <div class="right">
                    <b>{{item.CountSum}}</b>
                    <span>{{item.TypeName}}</span>
                    <p>{{item.LableName}}</p>
                </div>
            </div>
            <div class="volume">
                <div class="volume-title">
                    <span class="details">
                        查看详情
                    </span>
                </div>
                <div (click)="$event.stopPropagation();wxShare(item)" class="volume-number">
                    <img style="width: 16px;" src="./assets/imgs/consultation/share@3x.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
