page-number-one {
  font-family:'PingFangSC';
  .toolbar-background.toolbar-background-ios{
    background-color: #343435;
  }
  .navul{
    background: #fff;
    // background: red;
    display: flex;
    .navli{
      flex:1;
      text-align: center;
      position: relative; 
      padding: 10px;
      color: rgba(0,0,0,0.6);
      transition: all 0.2s;
    }
    .navli::before{
      background: linear-gradient(-90deg, #fff, #fff);
    }
    .act{
      color: rgba(0,0,0,1);
      transition: all 0.2s;
    }
    .act::before{
      content: " ";
      display: block;
      position: absolute;
      width: 28px;
      height: 4px;
      margin-left: -10px;
      left: 50%;
      bottom: 0px;
      transition: all 0.2s;
      background: -webkit-linear-gradient(-90deg, #FFF7CB, #FFC92D);
      background: -o-linear-gradient(-90deg, #FFF7CB, #FFC92D);
      background: -moz-linear-gradient(-90deg, #FFF7CB, #FFC92D);
      background: linear-gradient(-90deg, #FFF7CB, #FFC92D);
      border-radius: 2px;
    }
  }
  .information-ul{
    padding-top: 5px;
    background: #fff;

    .information-list{
      padding-top: 10px;
      padding-bottom: 10px;
      background: #fff;
      margin-left: 15px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding-right: 15px;
      overflow: hidden;
      h4{
        color: rgba(0,0,0,0.8);
        font-size: 16px;
        margin-top: 0px;
        line-height: 22px;
      }
      .imgdiv{
        overflow: hidden;
        height: 50px;
        border-radius: 6px;
      }
  
      .time{
        font-size: 12px;
        color: rgba(0,0,0,0.4)
      }
    }
  
    .img1{
      display: flex;
      .list-time{
        flex: 1;
        display: inline-grid;
      }
      .imgdiv{
        background: #e4e4e4;
        height: 70px !important;
        width: 125px !important;
        flex-shrink:0;
        img{
          width: 100%;
          // height: 100%;
        }
      }
    }
    .img3{
      .imgdiv-flex{
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        img{
          // flex:1;
          width: 33%;
          height: 97px;
          background: #e4e4e4;
        }
        img:nth-child(2){
          margin: 0 0.5%;
        }
      }
      .time{
        margin-top: 10px;
      }
    }
    .imgBig{
      .time{
        margin-top: 10px;
      }
    }
  }
  .crown-list{
    padding-top: 5px;
    .crown{
      background: #fff;
      margin: 10px 15px;
      border-radius: 7px;
      .heard{
        display: flex;
        align-items: center;
        position: relative;
        .heard-img{
          margin-top: 10px;
          width: 70px;
          height: 70px;
          margin-left: 20px;
          position: relative;
          .crown-img{
            position: absolute;
            width: 35px;
            height: 28px;
            right: -5px;
            top: -15px;
          }
          .user-heard{
            border-radius: 50%;
            height: 100%;
          }
        }
        .name{
          margin-top: 10px;
          margin-left: 15px;
          flex: 1;
          .name-p{
            font-size: 20px;
            color: #333;
            font-weight: 700;
            line-height: 28px;

          }
          .name-title{
            font-size: 13px;
            color: #a9a9a9;
            line-height: 22px;
          }
        }
        .Month{
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          flex-shrink:0;
          width: 80px;
          height: 105px;
          position: relative;
          margin-right: 15px;
          background: -webkit-linear-gradient(-120deg, #FFF7CB, #FFC92D);
          background: -o-linear-gradient(-120deg, #FFF7CB, #FFC92D);
          background: -moz-linear-gradient(-120deg, #FFF7CB, #FFC92D);
          background: linear-gradient(-120deg, #FFF7CB, #FFC92D);
          .Month-p{
            text-align: center;
          }
          .Month-p>p:nth-child(1){
            text-align: center;
            background: linear-gradient(0deg, #242425, #49494b);
            color: #fff;
            margin: auto;
            margin-top: 10px;
            font-size: 12px;
            padding: 4px;
            width: 70px;
          }
          .Month-p>p:nth-child(1)::before{
            display: inline-block;
            content: "销售冠军";
           
            -webkit-background-clip:text;
            color: transparent; 
            font-weight: 700;
            font-size: 12px;
            background-image: linear-gradient(-90deg,#FFC92D, #FFF7CB);
          }
          .Month-p>p:nth-child(2){
            font-family:'HiraginoSansGB';
            font-size: 30px;
            font-weight: 700;
            margin-top: 0px;
          }
          .Month-p>p:nth-child(3){
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
      .volume{
        display: flex;
        justify-content: center;align-items: center;
        .volume-title{
          font-size: 12px;
          flex:1;
          margin-left: 20px;
          .percentage{
            border-radius: 5px;
            height: 8px;
            margin-bottom:10px; 
          }
          .blue-bg{
            background: linear-gradient(-90deg,#0cc3f3,#3477f6);
          }
          .red-bg{
            background: linear-gradient(-90deg,#f19058,#f25432);
            // background: red;
          }
        }
        .volume-title-sale{
          margin-left: 10px; color: #5a5a5a;
        }
        .volume-text{
          line-height: 30px;color: #666666
        }
        .volume-number{ 
          width: 100px;
          widows: 40px;
          flex-shrink:0;
          text-align: right;
          font-size: 24px;
          line-height: 34px;
          margin-right:24px; 
          font-weight: 700;
          -webkit-background-clip:text;
          color: transparent;

        }
        .share>img{
          width: 16px;
        }
       
        .blue{
          background-image: linear-gradient(-90deg,#24c8f1,#1e5bcc);
        }
        .red{
          background-image: linear-gradient(-90deg,#f79a64,#ce4020);
        }
        .sale{
          // background-image: #000;
          color: #000;
        }
        .details{
          font-size: 12px;
          color: #9c9c9c;
        }
        .label{
        //  background: #000;
         background: linear-gradient(0deg, #242425, #49494b);
         color: #fff;
         padding: 6px 5px 5px 6px;
        //  padding: 5px ;

         border-radius: 4px;
         
        }
        .label-before{
          display: inline-block;
          // content: "RM-5";
          font-family:'PingFangSC';
          -webkit-background-clip:text;
          color: transparent; 
          font-weight: 700;
          font-size: 14px;
          background-image: linear-gradient(-90deg,#FFC92D, #FFF7CB);
        }
      }
   
    } 
  }
}
