<div class="body-box">
    <div class="items-title item-box">{{ modalType === 'template' ? '请选择板块' : '请选择话题' }}</div>
    <ul class="list-items">
        <ng-container *ngFor="let item of list">
            <li class="item-box" [ngClass]="{'actived':item.selected}">
                <span class="text">{{item.Name}}</span>
                <span class="right-icon" (click)="selectItem(item)">
                <span *ngIf="item.selected" class="iconfont">&#xe61e;</span>
                <span *ngIf="!item.selected" class="iconfont">&#xe61e;</span>
                </span>
            </li>
        </ng-container>
    </ul>
    <div class="bottom-items">
        <div class="item-box" (click)="submit()" style="border-top: 1rem solid #F2F2F2;border-bottom: 0.1rem solid #F2F2F2;">确定</div>
        <div class="item-box" (click)="dismiss()">取消</div>
    </div>
</div>
